/**
 *-------------------------------------------------------------------
 * Licensed Materials - Property of IBM
 *
 * WebSphere Commerce
 *
 * (c) Copyright IBM Corp. 2006
 *
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
 *
 *-------------------------------------------------------------------
 */

/* ***************************************** 
	This file contains 5 sections:
	* Header Styles
	* Sidebar Styles
	* Footer Styles
	* Main Content Styles
	* Default Styles

	Each section contains 3 subsections
	* Font Styles
	* Table Styles
	* Link Styles
***************************************** */

/* ****************************** 
 * Header Styles -> Font Styles */

/* Font used to display the stores name */
font.storeName {font-family: verdana, arial, helvetica, sans-serif;font-size: 14pt;font-weight: bold;text-align: left;color: #ffffff;}
/* Regular text used in the header */
font.headerText {font-family: verdana, arial, helvetica, sans-serif;font-size: 8pt;font-weight: bold;color: #6E6E6E;padding: 0px;margin: 0px;}

/* Header Styles -> Link Styles */

/* Main navigational link style */
a.mainNavLinks:link {font-family: verdana, arial, helvetica, sans-serif;text-decoration: underline;font-size: 8pt;color: #8EBBDB;font-weight: bold;padding: 0px;margin: 0px;}
a.mainNavLinks:visited {text-decoration: underline;color: #8EBBDB;font-weight: bold;}
a.mainNavLinks:active {text-decoration: underline;color: #8EBBDB;font-weight: bold;}
a.mainNavLinks:hover {text-decoration: none;color: #8EBBDB;font-weight: bold;}
/* Category link style */
a.categoryLinks:link {font-family: verdana, arial, helvetica, sans-serif;text-decoration: underline;font-size: 8pt;color: #727272;font-weight: bold;}
a.categoryLinks:visited {text-decoration: underline;color: #727272;font-weight: bold;}
a.categoryLinks:active {text-decoration: underline;color: #727272;font-weight: bold;}
a.categoryLinks:hover {text-decoration: none;color: #727272;font-weight: bold;}

/* Header Styles -> Table Styles */

/* The header table consists of 2 columns & 2 rows */
/* Background for the font.storeName text */
td.storeName {background-color: #235173;}
/* Background for the a.mainNavLinks links */
td.mainNavRightTop {text-align: right;width: 600px;background-color: #235173;padding-right: 0px;margin-right: 0px;padding-top: 0px;padding-bottom: 0px;}
/* White space under the store name */
td.underStoreName {background-color: #666666;}
/* Background for the a.categoryLinks links */
td.categoryLinksRightBottom {text-align: right;width: 600px;background-color: #C6C6C6;padding-right: 0px;margin-right: 0px;}

/* Sidebar Styles -> Font Styles */

/* Regular text used in the sidebar */
font.sidebarText {font-family: verdana, arial, helvetica, sans-serif;font-size: 8pt;color: black;padding: 0px;margin: 0px;text-decoration: none;}
/* Heading text in the sidebar. See td.mainHeading */
font.mainHeading {font-family: verdana, arial, helvetica, sans-serif;font-size: 8pt;font-weight: bold;color: white;padding: 0px;margin: 0px;text-decoration: none;}

/* Sidebar Styles -> Link Styles */
a.sidebarLinks:link {font-family: verdana, arial, helvetica, sans-serif;text-decoration: underline;font-size: 8pt;color: #235173;font-weight: bold;padding: 0px;margin: 0px;line-height: 10pt;}
a.sidebarLinks:visited {text-decoration: underline;font-weight: bold;color: #235173;}
a.sidebarLinks:active {text-decoration: underline;font-weight: bold;color: #235173;}
a.sidebarLinks:hover {text-decoration: none;font-weight: bold;color: #235173;}

/* Sidebar Styles -> Table Styles */
/* The background & style of the sidebar */
td.sidebar {background-color: #C6C6C6;padding: 0px;margin: 0px;margin-left: 0px;margin-top: 0px;}
/* Background for the font.mainHeading text */
td.mainHeading {background-color: #666666;padding-top: 2px;padding-left: 2px;padding-right: 2px;padding-bottom: 0px;margin: 0px;}
/* When viewing Sub categories, a list of them is displayed on the sidebar and the current category is highlighted. Background for class font.sidebarText*/
td.subcategory {padding-left: 3px;margin-left: 3px;background-color: white;}

/* ****************************** 
 * Footer Styles -> Font Styles */
font.footerText {font-family: verdana, arial, helvetica, sans-serif;font-size: 8pt;font-weight: bold;color: white;padding: 0px;margin: 0px;text-decoration: none;}
/* Footer Styles -> Link Styles*/
a.footerLinks:link {font-family: verdana, arial, helvetica, sans-serif;font-size: 8pt;font-weight: bold;color: white;padding: 0px;margin: 0px;text-decoration: none;}
a.footerLinks:visited {text-decoration: none;color: white;}
a.footerLinks:active {text-decoration: none;color: white;}
a.footerLinks:hover {text-decoration: none;color: white;}

/* Footer Styles -> Table Styles*/
td.footer {background-color: #235173;padding: 2px;margin: 0px;}

/* ************************************
 * Main Content Styles -> Font Styles */

	/* General store text */
font.text {font-family: verdana, arial, helvetica, sans-serif;font-size: 8pt;color: black;padding: 0px;margin: 0px;text-decoration: none;}
/* General store text & Text color of store buttons(See td.buttonStyle) */
font.strongtext, font.buttonStyle {font-family: verdana, arial, helvetica, sans-serif;font-size: 8pt;font-weight: bold;color: black;padding: 0px;margin: 0px;text-decoration: none;}
/* General store text in red */
font.redText {font-family: verdana, arial, helvetica, sans-serif;font-size: 8pt;color: red;padding: 0px;margin: 0px;text-decoration: none;}
/* Used for all dollar values */
font.price {font-family: arial, helvetica, sans-serif, verdana;font-size: 9pt;color: black;padding: 0px;margin: 0px;}
/* Used for all bold dollar values */
font.strongPrice {font-family: arial, helvetica, sans-serif, verdana;font-size: 9pt;font-weight: bold;color: black;padding: 0px;margin: 0px;}
/* The top heading on each page */
font.pageHeading {font-family: verdana, arial, helvetica, sans-serif;font-size: 14pt;font-weight: bold;text-align: left;color: black;}
/* After the top heading on some pages appears a secondary heading */
font.subHeading {font-family: verdana, arial, helvetica, sans-serif;font-size: 12pt;font-weight: bold;text-align: left;color: #666666;padding: 0px;margin: 0px;}
/* Used on asterisks (*) to indicate a required field on a form */
font.requiredInputText {font-family: verdana, arial, helvetica, sans-serif;font-size: 8pt;font-weight: bold;color: red;padding: 0px;margin: 0px;text-decoration: none;}
/* Sets the phone number format text.  Text is: (xxx-xxx-xxxx) */
font.phoneNumberFormat {font-family: verdana, arial, helvetica, sans-serif;font-size: 7pt;color: #666666;padding: 0px;margin: 0px;}
/* Various styles that share the same attributes
* font.textCustomColor -> A different color of text in the site
* font.productName -> Used for displaying product names
* textOverBackground -> Text in the main content area that is over the background style td.textOverBackground*/
font.textCustomColor, font.productName, font.textOverBackground {font-family: verdana, arial, helvetica, sans-serif;font-size: 10pt;font-weight: bold;text-align: left;color: #666666;padding: 0px;margin: 0px;}
/* On the login and My Account pages there is text over another color. See td.textOverBackgroundMyAccount for the background color */
font.textOverBackgroundMyAccount {font-family: verdana, arial, helvetica, sans-serif;font-size: 8pt;font-weight: bold;color: white;padding: 0px;margin: 0px;text-decoration: none;}
/* Defines font text for chart headings.  Ex.  The Shopping cart page shows a chart of all items in the customers cart.  The chart has headings such as'item' & 'quantity'.  See td.textOverBackgroundCharts for background color */
font.textOverBackgroundCharts {font-family: verdana, arial, helvetica, sans-serif;font-size: 8pt;font-weight: bold;color: black;padding: 0px;margin: 0px;text-decoration: none;}
/* Used to highlight the name identifying an address */
font.addressName {font-family: verdana, arial, helvetica, sans-serif;font-size: 10pt;font-weight: bold;text-align: left;color: #666666;padding: 0px;margin: 0px;}
/* Used to display the remaining part of each address */
font.address {font-family: verdana, arial, helvetica, sans-serif;font-size: 10pt;color: black;padding: 0px;margin: 0px;}
/* Main Content Styles -> Link Styles */
/* Main Content Styles -> Table Styles */
/* Defines the style of the main frame - background color, spacing, ... */
td.mainContent {background-color: #ffffff;padding: 0px;margin: 0px;}
/* General table spacing used throughout site */
td.topspace {padding-left: 3px;margin-left: 3px;padding-top: 5px;}
/* General spacing.  Usually used before a pageHeading or subHeading */
td.categoryspace {padding-left: 0px;margin-left: 0px;padding-top: 4px;padding-bottom: 2px;}
/* The background color of the buttons. See font.buttonStyle */
td.buttonStyle {background-color: #C6DAEA}
/* We have a privacy policy whenever a personal information is asked for */
td.privacyStatement {background-color: #C6DAEA}
/* See class font.textOverBackground */
td.textOverBackground {background-color: #C6C6C6;padding-top: 1px;padding-bottom: 1px;padding-left: 3px;margin: 0px;}
/* See class font.textOverBackgroundMyAccount */
td.textOverBackgroundMyAccount {background-color: #235173;padding-top: 1px;padding-bottom: 1px;padding-left: 3px;margin: 0px;}
/* See class  td.textOverBackgroundCharts */
td.textOverBackgroundCharts {background-color: #90B1CE;padding-top: 1px;padding-bottom: 1px;padding-left: 3px;margin: 0px;}
/* **************** 
 * Default Styles */

body {margin-top: 0px;margin-left: 0px;padding-top: 0px;}
a:link {text-decoration: underline;font-size: 8pt;color: #235173;font-weight: bold;}
a:visited {text-decoration: underline;font-size: 8pt;color: #6C2373;font-weight: bold;}
a:active {text-decoration: underline font-size : 8pt;color: #235173;font-weight: bold;}
a:hover {text-decoration: none;font-size: 8pt;color: #235173;font-weight: bold;}
p {font-family: verdana, arial, helvetica, sans-serif;font-size: 8pt;color: black;padding: 0px;margin: 0px;text-decoration: none;}
select {font-family: verdana, arial, helvetica, sans-serif;font-size: 8pt;font-weight: normal;font-style: normal;text-align: top;}
input {font-family: verdana, arial, helvetica, sans-serif;font-size: 8pt;font-weight: normal;font-style: normal;}