/*
 *-----------------------------------------------------------------
 * Licensed Materials - Property of IBM
 *
 * WebSphere Commerce
 *
 * (C) Copyright IBM Corp. 2009 All Rights Reserved.
 *
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with
 * IBM Corp.
 *-----------------------------------------------------------------
 */

.dijitDialogUnderlay {
    position: fixed;
    top: 0;
    left: 0;
    background: transparent url('images/lightbox/overlay.png') repeat;
    display: block;
    z-index: 501;
}

.dijitDialogUnderlayWrapper{
    _position:absolute;
    _z-index:500;
}
.wcLightbox {
    position: absolute;
    z-index: 999;
    overflow: hidden;
    width: 100px;
    height: 100px;
    padding: 35px;
    /* special safari + FF specific rounding + shadows */
    -webkit-box-shadow: 0px 6px 10px #636363; /* #adadad; */
    -webkit-border-radius: 3px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.wcLightboxContainer {
    position: absolute;
    top: 0;
    left: 0;
}

.imageContainer {
    overflow: hidden;
    display: block;
}

.imageContainer .fullImageContainer {
    opacity: 1;
}

.descriptionBox {
    font-size: 10px;
    background-color: #333333;
    color: white;
}

.nextProject {
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    font-size: 40px;
}

.desc {
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    font-size: 14px;
}

.menu td {
    padding: 10px;
    background-color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    color: #CC0000;
    font-size: 14px;
}

.menu td a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #CC0000;
}

.menu td a:hover {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #000000;
}

.imgDescContainer {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 12px;
}

.thumbBox {
    text-align: left;
    margin-top: -20px;
    position: absolute;
    width: 250px;
    margin-left: 0px;
    z-index: 10000;
}

.thumbBox .header {
    border: 0px none;
    padding: 0px;
    opacity: 0.7;
    text-align: left;
    height: 20px;
}

.spacer, .indexLabel, .headImg {
    padding: 2px 8px 2px 8px;
    background: rgb(0, 0, 0) none repeat scroll 0% 0%;;
    height: 20px;
    color: rgb(255, 255, 255);
    font-family: Verdana, Arial;
    font-size: 11px;
    opacity: 1;
    -moz-background-clip: -moz-initial;
    -moz-background-origin: -moz-initial;
    -moz-background-inline-policy: -moz-initial;
}

.spacer {
    padding: 2px 2px 2px 2px;
}

.pointer {
    cursor: pointer;
}

.galleryGroup {
    border: 12px solid #fff;
    background:#fff url(images/lightbox/loading.gif) no-repeat scroll center center;
    min-height: 200px;
    min-width: 300px;
    -moz-background-clip: -moz-initial;
    -moz-background-origin: -moz-initial;
    -moz-background-inline-policy: -moz-initial;
}

.ico {
    border: none;
}

.thumbImgContent {
    opacity: 0.8;
    background-color: rgb(51, 51, 51);
    width: 240px;
    padding: 10px;
}

.descriptionBox {
    padding: 10px;
    position: absolute;
    z-index: 0;
    width: 240px;
    opacity: 0.8;
}

.imgThumb {
    border: 4px solid rgb(51, 51, 51);
    padding: 0px;
    width: 50px;
    height: 50px;
}

.imgThumbBorderHighlight {
    border: 4px solid rgb(255, 0, 0);
}

.loading {
    background: #fff url('images/lightbox/loading.gif') no-repeat center center;
}

.likeTextLink {
    text-decoration: none;
    color: #fff;
}

.nodisplay {
    display: none;
}
