/*
 *-----------------------------------------------------------------
 * Licensed Materials - Property of IBM
 *
 * WebSphere Commerce
 *
 * (C) Copyright IBM Corp. 2014 All Rights Reserved.
 *
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with
 * IBM Corp.
 *-----------------------------------------------------------------
 */
 
/* Hardware Lighting Hero Banner 
   CSS styling 
 */
.Banner
{
	height: 331px;
	background-image: url("fasteners_hero_background.jpg");
	background-position:center;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: -2;
	position: relative;
	overflow:hidden;
	border-radius: 5px;
}

#Bulbs 
{
	position: absolute;
	left: -208px;
	width: 481px;
	top: -68px;
}

.textBlock 
{
	position: absolute;
	left: 272px;
	top: 134px;
}

.textBlock #LongLife 
{
	font-size: 63px;
	color: #ea7211;
}


.textBlock #bulbs
{
	font-size: 62px;
	position: relative;
	top: -30px;
	font-weight:normal;
	color: rgb(34, 34, 34);
}

.Banner .bannerLine {
	display: none;
}

.Banner .bannerLine:lang(ar), .Banner .bannerLine:lang(de), .Banner .bannerLine:lang(es), .Banner .bannerLine:lang(fr), .Banner .bannerLine:lang(he), .Banner .bannerLine:lang(it), .Banner .bannerLine:lang(iw), .Banner .bannerLine:lang(ja), .Banner .bannerLine:lang(ko), .Banner .bannerLine:lang(pl), .Banner .bannerLine:lang(pt), .Banner .bannerLine:lang(ro), .Banner .bannerLine:lang(ru), .Banner .bannerLine:lang(tr), .Banner .bannerLine:lang(zh) {
	color: #191919;
	text-transform: uppercase;
	position: absolute;
	left: 42%;
	top: 114px;
	font-size: 36px;
	width: 250px;
	line-height:1.1;
	display: block;
}

.Banner .textBlock:lang(ar), .Banner .textBlock:lang(de), .Banner .textBlock:lang(es), .Banner .textBlock:lang(fr), .Banner .textBlock:lang(he), .Banner .textBlock:lang(it), .Banner .textBlock:lang(iw), .Banner .textBlock:lang(ja), .Banner .textBlock:lang(ko), .Banner .textBlock:lang(pl), .Banner .textBlock:lang(pt), .Banner .textBlock:lang(ro), .Banner .textBlock:lang(ru), .Banner .textBlock:lang(tr), .Banner .textBlock:lang(zh) {
	display: none;
}

#scaleddown
{
	position: absolute;
	width: 227px;
	left: 649px;
	/* display: none; */
	top: 60px;
}

@media screen and (min-width: 1281px) {
		.Banner {
			display: block;
				height: 331px;
		}	
		
	#BannerContent {
		width: 825px;
		position: relative;
		left: 0px;
		right: 0px;
		height: 600px;
		margin: 0px auto;
		}
		#Bulbs {
		position: absolute;
		left: -149px;
		width: 481px;
		top: -68px;
	}
	
			.textBlock {
		position: absolute;
		left: 364px;
		top: 134px;
		width: 1000px;
		}
		
				#scaleddown {
		position: absolute;
		width: 227px;
		left: 730px;
		/* display: none; */
		top: 60px;
		}
	}
@media screen and (max-width: 1280px) {



			#BannerContent
		{
			width: 580px;
			left: 0px;
			height: 160px;
			right: 0px;
			position: relative;
			margin: 0px auto;
		
		}
		
		.Banner
		{
			
			height: 160px;
		
		}
	
		#Bulbs {
				position: absolute;
				right: auto;
				width: 270px;
				top: -51px;
				left: -13px;
			}
	
		.textBlock {
			position: absolute;
			right: auto;
			top: 68px;
			left: 282px;
		}
	.textBlock #LongLife
	{
		font-size:27px;
	}
	
	.textBlock #bulbs {
		font-size: 26px;
		position: relative;
		top: -12px;
	}

	.Banner .bannerLine:lang(ar), .Banner .bannerLine:lang(de), .Banner .bannerLine:lang(es), .Banner .bannerLine:lang(fr), .Banner .bannerLine:lang(he), .Banner .bannerLine:lang(it), .Banner .bannerLine:lang(iw), .Banner .bannerLine:lang(ja), .Banner .bannerLine:lang(ko), .Banner .bannerLine:lang(pl), .Banner .bannerLine:lang(pt), .Banner .bannerLine:lang(ro), .Banner .bannerLine:lang(ru), .Banner .bannerLine:lang(tr), .Banner .bannerLine:lang(zh) {
		top: 38px;
		left: 45%;
		font-size: 20px;
		width: 180px;
		line-height:1.1;
	}


	#scaleddown {
		position: absolute;
		width: 148px;
		left: 453px;
		top: 10px;
	}
	
	}
	@media screen and (max-width: 952px) {

	
		
			#BannerContent {
				width: 380px;
				left: 0px;
				height: 160px;
				right: 0px;
				position: relative;
				margin: 0px auto;
		}
		
		#Bulbs {
			position: absolute;
			right: auto;
			width: 270px;
			top: -51px;
			left: -142px;
		}
		
		
	
	.textBlock
	{
			position: absolute;
			right: auto;
			top: 68px;
			left: 154px;
	}
	.textBlock  #LongLife
	{
		font-size:27px;
	}
	
	.textBlock #bulbs {
		font-size: 26px;
		position: relative;
		top: -12px;
	}

	.Banner .bannerLine:lang(ar), .Banner .bannerLine:lang(de), .Banner .bannerLine:lang(es), .Banner .bannerLine:lang(fr), .Banner .bannerLine:lang(he), .Banner .bannerLine:lang(it), .Banner .bannerLine:lang(iw), .Banner .bannerLine:lang(ja), .Banner .bannerLine:lang(ko), .Banner .bannerLine:lang(pl), .Banner .bannerLine:lang(pt), .Banner .bannerLine:lang(ro), .Banner .bannerLine:lang(ru), .Banner .bannerLine:lang(tr), .Banner .bannerLine:lang(zh) {
		top: 38px;
		left: 35%;
		font-size: 18px;
		width: 180px;
		line-height:1.1;
	}

	#scaleddown {
		position: absolute;
		width: 148px;
		left: 325px;
		top: 10px;
	}
	}
	
	
	@media screen and (max-width: 600px) {

	
			#BannerContent {
				width: 320px;
				outline: 1px solid #000;
			
		}
		
	#Bulbs {
	position: absolute;
	right: auto;
	width: 270px;
	top: -51px;
	left: -142px;
	}
	
	.textBlock {
		position: absolute;
		right: auto;
		top: 68px;
		left: 150px;
	}
	.textBlock  #LongLife
	{
		
		font-size: 27px;
	}
	.textBlock #bulbs {
		font-size: 26px;
	position: relative;
	top: -12px;
	}

	.Banner .bannerLine:lang(ar), .Banner .bannerLine:lang(de), .Banner .bannerLine:lang(es), .Banner .bannerLine:lang(fr), .Banner .bannerLine:lang(he), .Banner .bannerLine:lang(it), .Banner .bannerLine:lang(iw), .Banner .bannerLine:lang(ja), .Banner .bannerLine:lang(ko), .Banner .bannerLine:lang(pl), .Banner .bannerLine:lang(pt), .Banner .bannerLine:lang(ro), .Banner .bannerLine:lang(ru), .Banner .bannerLine:lang(tr), .Banner .bannerLine:lang(zh) {
		top: 38px;
		left: 40%;
		width: 180px;
		line-height:1.1;
	}

	#scaleddown
	{
		position: absolute;
		width: 148px;
		left: 320px;
		top: 10px;
	}	
}
