<div dojoAttachPoint="outerNode" class="thumbOuter">
	<div dojoAttachPoint="navPrev" role="button" tabindex="0" class="navPrev">
		<img src="${tempImgPath}" dojoAttachPoint="navPrevImg" alt="${altPrev}"/>
	</div>
	<div dojoAttachPoint="thumbScroller" class="thumbScroller" valign="middle">
		<div dojoAttachPoint="thumbsNode" class="thumbsNode"></div>
	</div>
	<div dojoAttachPoint="navNext" tabindex="0" role="button" class="navNext">
		<img src="${tempImgPath}" dojoAttachPoint="navNextImg" alt="${altNext}"/>
	</div>
</div>