<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">

	<display-name>commerceue</display-name>
	
	<servlet>
		<servlet-name>com.ibm.commerce.ue.CommerceUeApplication</servlet-name>
		<init-param>
			<param-name>swagger.config.id</param-name>
			<param-value>commerceue</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	
	<servlet-mapping>
		<servlet-name>com.ibm.commerce.ue.CommerceUeApplication</servlet-name>
		<url-pattern>/extension/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DefaultJaxrsConfig</servlet-name>
		<servlet-class>io.swagger.jersey.config.JerseyJaxrsConfig</servlet-class>
		<init-param>
			<param-name>api.version</param-name>
			<param-value>2.3</param-value>
		</init-param>
		<init-param>
			<param-name>swagger.api.title</param-name>
			<param-value>IBM Commerce on Cloud API Extensions</param-value>
		</init-param>
		<init-param>
			<param-name>swagger.api.basepath</param-name>
			<param-value>/commerceue/extension</param-value>
		</init-param>
		<init-param>
			<param-name>swagger.config.id</param-name>
			<param-value>commerceue</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>BridgeServerServlet</servlet-name>
		<servlet-class>com.ibm.commerce.websocket.rest.server.BridgeServerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BridgeServerServlet</servlet-name>
		<url-pattern>/bridge_server</url-pattern>
	</servlet-mapping>

	<!-- ===================================================================================== -->
	<!-- 
		*************************************************************************************
		This template is required to enable SPI Support in the Customization 
		Server environment. Note: This is a mandatory step, required prior to creating 
		the UCD package for the Customization server. Failure to do so will disable 
		SPI protection for custom API Extensions running in production on the Customization 
		Server. 
		*************************************************************************************
	-->
	
 	<security-constraint>
		<web-resource-collection>
			<web-resource-name>SPI JAX-RS Servlet</web-resource-name>
			<url-pattern>/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>PUT</http-method>
			<http-method>HEAD</http-method>
			<http-method>TRACE</http-method>
			<http-method>POST</http-method>
			<http-method>DELETE</http-method>
			<http-method>OPTIONS</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>spiRole</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	
	<security-role>
		<role-name>spiRole</role-name>
	</security-role>
	
	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>spiRealm</realm-name>
	</login-config>
	<!-- ===================================================================================== -->
	
</web-app>
