/*
 *-----------------------------------------------------------------
 * Licensed Materials - Property of IBM
 *
 * WebSphere Commerce
 *
 * (C) Copyright IBM Corp. 2013, 2014 All Rights Reserved.
 *
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with
 * IBM Corp.
 *-----------------------------------------------------------------
 */
 
#homePageEspot_Right_Slot {
	min-height: 400px;
	margin: 30px 50px 0 50px !important;
}
#homePageEspot_Right_Slot .imageContainer {
	bottom: 0;
	height: 220px;
	margin-top: 20px;
	position: relative;
	width: 90%;
}
html[lang='ar'] #homePageEspot_Right_Slot .imageContainer,
html[lang='he'] #homePageEspot_Right_Slot .imageContainer {
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);	
}
html[lang='ar'].dj_ie8 #homePageEspot_Right_Slot .imageContainer,
html[lang='he'].dj_ie8 #homePageEspot_Right_Slot .imageContainer {
	filter: fliph();
}
#homePageEspot_Right_Slot #kids1 {
	max-width: 182px;
	position: absolute;
	right: -44px;
	width: 147px;
	z-index: 2;
}
#homePageEspot_Right_Slot #kids2 {
	left: -20px;
	width: 200px;
	max-width: 337px;
	position: absolute;
	top: 30px;
	z-index: 3;
}
.homeESpotContainer .textContainer {
	text-align: left;
	z-index: 5;
}
.homeESpotContainer {
	color: #666666;
	margin: 10px 24px 0 30px;
	max-width: 1010px;
	text-align: center;
}
@media screen and (min-width: 952px) {
	#homePageEspot_Right_Slot {
		margin: 30px 50px 0 50px !important;
	}
	#homePageEspot_Right_Slot .imageContainer #kids1 {
		right: 0;
		width: 57%;
	}
	#homePageEspot_Right_Slot .imageContainer #kids2 {
		left: 0;
		width: 80%;
	}
}
@media screen and (max-width: 856px) {
	#homePageEspot_Right_Slot {
		margin: 0px 50px 0 50px !important;
	}
	#homePageEspot_Right_Slot .textContainer {
		max-width: 480px;
	}
	#homePageEspot_Right_Slot .imageContainer {
		bottom: 20px;
		height: 220px;
		max-width: 460px;
		position: relative;
		left: 10%;
		width: 97%;
		float: right;
	}
	html[lang='ar'] #homePageEspot_Right_Slot .imageContainer,
	html[lang='he'] #homePageEspot_Right_Slot .imageContainer {
		float: left;
		left: 0;
		right: 5%;
	} 
	#homePageEspot_Right_Slot .imageContainer #kids1 {
		max-width: 182px;
		min-width: 150px;
		position: absolute;
		right: 0;
		width: 57%;
		z-index: -1;
	}
	#homePageEspot_Right_Slot .imageContainer #kids2 {
		left: 0;
		max-width: 337px;
		min-width: 200px;
		top: 30px;
		width: 80%;
	}
}
@media screen and (max-width: 600px) {
	#homePageEspot_Right_Slot {
		margin: 40px 0 20px 0 !important;
		padding-left: 10px;
		padding-right: 10px;
		position: relative;
	}
	#homePageEspot_Right_Slot .imageContainer {
		bottom: 0px;
		max-width: 420px;
		float:none;
	}
	html[lang='ar'] #homePageEspot_Right_Slot .imageContainer,
	html[lang='he'] #homePageEspot_Right_Slot .imageContainer {
		right: 0;
	}
	#homePageEspot_Right_Slot #kids1 {
		max-width: 182px;
		position: absolute;
		right: 0;
		width: 47%;
		z-index: 2;
	}
	#homePageEspot_Right_Slot #kids2 {
		max-width: 337px;
		width: 80%;
	}
	.homeESpotContainer {
		margin: 21px 0 20px 0 !important;
		position: relative;
	}
}

@media screen and (max-width: 500px) {
	#homePageEspot_Right_Slot .imageContainer {
		right: auto;
		left: 0%;
	}
}

@media screen and (max-width: 325px) {
	#homePageEspot_Right_Slot {
		margin: 40px 0 20px 0 !important;
	}
}