/*
 *-----------------------------------------------------------------
 * Licensed Materials - Property of IBM
 *
 * WebSphere Commerce
 *
 * (C) Copyright IBM Corp. 2014 All Rights Reserved.
 *
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with
 * IBM Corp.
 *-----------------------------------------------------------------
 */
 
/* Bolts Hero Banner 
   CSS styling 
 */

 .Banner
{
	

	height: 331px;
	background-image: url("fasteners_hero_background.jpg");
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: -2;
	position: relative;
	overflow:hidden;
	border-radius: 5px;
	
}

.Banner #boltsbgImg
{
	background-image: url("subcat_bolts_herobanner_bolts.png");
	position: absolute;
	width: 100%;
	height: 100%;
	top: 194px;


}
.Banner .bannerText
{
	position: absolute;
	left: 50%;
	margin-left: -275px;
	top: 40px;

}
.line1 #new
{
	color: #ea7211;
	font-size:53px;
}

.line1 #Tamper
{
	font-size: 33px;
	font-weight: normal;
	color: #222;
}
.line2{

	font-size: 49px;
	position: relative;
	top: -23px;
	font-weight: normal;
	color: #222;
}


@media screen and (min-width: 1281px) {
		.Banner {
			display: block;
				height: 331px;
		}	
		
		
			
	}
@media screen and (max-width: 1280px) {
	
			.Banner
			{
				
				height: 160px;
			
			}
		.Banner #boltsbgImg
		{
			background-image: url("espot1_bolts.png");
			position: absolute;
			width: 100%;
			height: 100%;
			top: 71px;


		}
		.Banner .bannerText
		{
		position: relative;
		left: 0px;
		margin: 0 auto;
		top: 10px;
		width: 300px;
		right: 0px;

		}
		.line1 #new
		{
			color: #ea7211;
			font-size: 27px;
		}

		.line1 #Tamper
		{
			font-size: 19px;
			color: #222;
			font-weight: normal;
		}
		.line2{

			font-size: 27px;
			position: relative;
			top: -12px;
			color: #222;
		}


	
	}

	

	
