
/********** Blogs Style - Start ***********/
.rowContainer, .rowContainer > .row.banner-row {
  padding:0px 0px;
}
.banner-row h1 {
  font-size:75px;
  color:#FFF;
  font-weight:bold;
  text-align:center;
  padding:60px 0px;
  background: url("../images/colors/color2/ONTrack_ON.jpg") no-repeat 0px -80px #e4e5e8;
}
.Blog-menu {
  background:#f26522;
  text-align:center;
  padding:15px 0px;
  margin-bottom:15px;
}
.Blog-menu a {
  color:#FFFFFF;
  padding: 0px 50px;
  font-weight:bold;
}
.blog a .contentRecommendationWidget {
  float:left;
  width:31.33%;
  text-align:center;
  margin: 20px 1%;
    height: 430px;
    overflow: hidden;
  border-bottom:1px solid #CCCCCC;
}
.blog a {
  color: #777777;
    font-size: 12px;
  width: 31.33%;
    display: block;
    float: left;
    margin: 0px 1%;
    min-height: 395px;
}
.blog a img {
  width:100%;
}
.blog a h1 {
  font-size:18px;
  margin: 12px 0px 10px 0px;
}
.blog a h2 {
  font-size:18px;
}
@media (max-width: 900px) {
  .blog a .contentRecommendationWidget {
    width:47%;
    margin: 20px 1.5%;
  }
  .Blog-menu a {
    padding: 0px 20px;
  }
  .banner-row h1 {
    font-size: 65px;
    padding: 30px 0px;
  }
  .blog a {
    color: #777777;
    font-size: 12px;
    width: 46%;
    display: block;
    float: left;
    margin: 0px 2%;
    min-height: 340px;
  }
}
@media (max-width: 600px) {
  .blog a .contentRecommendationWidget {
    width:98%;
  }
  .Blog-menu {
    padding: 0px 0px;
  }
  .Blog-menu a {
    display:block;
    border-bottom: 1px solid #fed300;
    padding: 10px 0px;
  }
  
  .banner-row h1 {
    font-size: 55px;
    padding: 20px 0px;
  }
  .blog a {
    color: #777777;
    font-size: 12px;
    width: 92%;
    display: block;
    float: left;
    margin: 0px 4%;
    min-height: 340px;
  }
}
/********** Blogs Style - End ***********/


/**************static page carousel  start ***************/
.blog-page .carousel.padding-true .carouselWrapper  .owl-wrapper-outer .owl-item .product.row .gridProduct.v9_gridProduct .hoverDisplay.closeBtn {display: none;}
.blog-page .carousel.padding-true .carouselWrapper  .owl-wrapper-outer .owl-item .product.row .gridProduct.v9_gridProduct .product_info .proCode { display: none; }
.blog-page .carousel.padding-true .carouselWrapper  .owl-wrapper-outer .owl-item .product.row .gridProduct.v9_gridProduct .product_info .price-data { display: none; }
.blog-page .carousel.padding-true .carouselWrapper  .owl-wrapper-outer .owl-item .product.row .gridProduct.v9_gridProduct .product_info .product_price { display: none; }
.blog-page .carousel.padding-true .carouselWrapper .owl-wrapper-outer .owl-item .pro-set .product.row .gridProduct:hover {    box-shadow: 0px 0px 0px #666;    z-index: 900;    position: relative;    margin-top: 0px;    margin-left: 0px;    max-width: none;    cursor: pointer;    padding: 0px;    background: transparent;}
.blog-page .carousel.padding-true .carouselWrapper .owl-wrapper-outer .owl-item .product.row .gridProduct.v9_gridProduct .product_info .product_name a {    line-height: 16px;    display: block;    color: #f26522;    font-size: 15px;    padding-bottom: 5px;    font-weight: bold;}
@media (max-width:1027px) { .blog-page .blog_content p img { width: 100%;    max-width: 600px;    margin: 0 auto;} .blog-page  .carousel.padding-true .carouselWrapper .owl-wrapper-outer .owl-item .product.row .gridProduct.v9_gridProduct .product_info .product_name a { line-height: normal;   font-size: 12px;    font-weight: normal;}}
/**************static page carousel  End ***************/

.blog-page .blog_content { padding: 0px 10px; font-weight: 300; color: rgb(95, 95, 95);line-height: 1.429;text-align: left;}
.blog-page .blog_content h1 {padding: 45px 0; font-size: 42px;  color: rgb(34, 34, 34); line-height: 1.143; border-bottom: thin solid #c1c1c1; }
.blog-page .blog_content h2 {margin: 40px 0 10px 0; font-size: 29px;  color: rgb(34, 34, 34); line-height: 1.172;}
.blog-page .blog_content h3 {margin: 10px 0; font-weight:400; font-size: 18px;  color: rgb(34, 34, 34);}
.blog-page .blog_content h4 {margin: 5px 0; font-weight:400; font-size: 14px; color: rgb(34, 34, 34);}
.blog-page .blog_content b, i {color: rgb(34, 34, 34);}
.blog-page .blog_content a {color: #f26522; border-bottom: dashed thin;}
.blog-page .blog_content a.image_link {border-style: none}
.blog-page .row.banner-row .col12 a.allblogs img {    width: 100%;}

.blog-page .categoryRecommendationWidget .owl-wrapper .owl-item .catPos .product_image a img {    width: 100%;    height: auto;}