/*
 *-----------------------------------------------------------------
 * Licensed Materials - Property of IBM
 *
 * WebSphere Commerce
 *
 * (C) Copyright IBM Corp. 2012, 2013 All Rights Reserved.
 *
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with
 * IBM Corp.
 *-----------------------------------------------------------------
 */

@import url("../../css/base.css");

/***********************************************************************
 * The following files specify the logical definitions for the elements
 * and are related to layout and presentation.  All color related rules
 * are excluded from the logical definition and are specified separately
 * within this file.  This promotes the reuse of the logical definitions
 * in alternate color themes.
 ***********************************************************************
 */

@import url("layout1.css");
@import url("misc1.css");

/***********************************************************************
 * Layout colors
 ***********************************************************************
*/

body {
	background-color: #FFFFFF !important;
	color: #3b4453;
}

a, a:visited, .blue_highlight {
	color: #676767;
}

.bottom_border { border-bottom: 1px solid #c6d0dc; }

.right_border { border-right: 1px solid #c6d0dc; }

.small_arrow {
	background-image: url('../images/colors/color1/small_arrow.gif');
}

/* Common colour required asterisk */
span.required {
	color: #f26522;

}

/* For page notifications */
.notification { background-color: #fcf7cf; }

/* Class to highlight an error message */
.error { color: red; }

/* Orange Button */
.primary_button {
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0.25, #EF9905), color-stop(0.56, #FBBB0A));
	background: linear-gradient(#EF9905 12%, #FBBB0A 56%);
	border: 1px solid #b6bebd;
	color: #3B4453;
	-webkit-box-shadow:inset 0 1px 1px #fcdeb7;
	box-shadow:inset 0 1px 1px #fcdeb7;
}

	.primary_button:hover{
		background: -webkit-gradient(linear, left bottom, left top, color-stop(0.25, #FFAB2E), color-stop(0.61, #FFC229));
		background: linear-gradient(#FFAB2E 25%, #FFC229 61%);
	}

	.primary_button:active {
		background: -webkit-gradient(linear, left bottom, left top, color-stop(0.25, #FFAB2E), color-stop(0.61, #FFC229));
		background: linear-gradient(#FFAB2E 25%, #FFC229 61%);
	}

.secondary_button, select.secondary_input {
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0.12, #CFCFCF), color-stop(0.56, #ECECEC));
	background: linear-gradient(#CFCFCF 12%, #ECECEC 56%);
	border: 1px solid #B6BEBD;
	color: #3b4453;
	box-shadow: inset 0 1px 1px #FCFCFC;
}

	.secondary_button:hover {
		background: -webkit-gradient(linear, left bottom, left top, color-stop(0.12, #EEE), color-stop(0.56, #EEE));
		background: linear-gradient(#EEE 12%, #EEE 56%);
		border: 1px solid #B6BEBD;
		color: #3B4453;
		box-shadow: inset 0 1px 1px #FCFCFC
	}

	.secondary_button:active {
		background: -webkit-gradient(linear, left bottom, left top, color-stop(0.19, #DBDBDB), color-stop(0.58, #EBEBEB));
		background: linear-gradient(#DBDBDB 19%, #EBEBEB 58%);
		border: 1px solid #cccccc;
		-webkit-box-shadow:inset 0 1px 1px #b0c6cb;
		box-shadow:inset 0 1px 1px #b0c6cb;
	}

/* Grey Button */
.tertiary_button, #user_panel .secondary_button, .promo_button {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.12, #BFBFBF), color-stop(56%, #999999));
	background: linear-gradient(#BFBFBF 12%, #999999 56%);
	text-shadow: 0px 1px 0px #e0ecf0;
	border: 1px solid #cccccc;
	color: #3b4453;
	-webkit-box-shadow:inset 0 1px 1px #FCFCFC;
	box-shadow:inset 0 1px 1px #FCFCFC;
}

	.tertiary_button:hover, #user_panel .secondary_button:hover, .promo_button:hover,
	.tertiary_button:active, #user_panel .secondary_button:active, .promo_button:active {
		background: -webkit-gradient(linear, left bottom, left top, color-stop(25%, #999999), color-stop(61%, #BFBFBF));
		background: linear-gradient(#999999 25%, #BFBFBF 56%);
		-webkit-box-shadow:inset 0 1px 1px #FCFCFC;
		box-shadow:inset 0 1px 1px #FCFCFC;
	}

.inputfield, .checkbox {
	background-color: #F7F7F7;
	border: 1px solid darkGray;
}

select.inputfield {
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFFFF), color-stop(1, #C6CBCE));
	background: linear-gradient(top, #ffffff 0%, #C6CBCE 100%);
}

.back_arrow_icon {
	background: url('../images/colors/color1/back_arrow.gif') no-repeat;
}

.forward_arrow_icon {
	background: url('../images/colors/color1/forward_arrow.gif') no-repeat;
}

#widget_Next{
	margin-right:10px;
}
#widget_Next .forward_arrow_icon{
	float: right;
	height: 13px;
	margin-bottom: 10px;
	margin-right: -50px;
	margin-top: 10px;
	position: relative;
	width: 9px;
}

#widget_Prev .back_arrow_icon{
	float: left;
	height: 13px;
	margin-bottom: 10px;
	margin-right: -50px;
	margin-top: 10px;
	position: relative;
	width: 9px;
}

/***********************************************************************
 * Header colors
 ***********************************************************************
*/

div#breadcrumb{
	width: 100%;
	position: relative;
}
	div#breadcrumb .page_title {
		border-left: 1px solid #d5d5d5;
		font-size: 13px;
		font-weight: bold;
		padding: 6px 5px 5px 10px;
		margin: 1px 0 0 28px;
	}
	div#breadcrumb .page_title_only {
		font-size: 13px;
		font-weight: bold;
		padding: 6px 5px 5px 10px;
		margin: 1px 0 0 0;
	}
	div#breadcrumb .back_arrow {
		width: 28px;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
		div#breadcrumb .back_arrow:hover {
			background: -webkit-gradient(linear, left bottom, left top, color-stop(0.19, #EBEDEC), color-stop(0.58, #F7F7F7));
			background: linear-gradient(#EBEDEC 19%, #F7F7F7 58%);
		}
		div#breadcrumb .back_arrow:active {
			background: -webkit-gradient(linear, left bottom, left top, color-stop(0.19, #EBEDEC), color-stop(0.58, #F7F7F7));
			background: linear-gradient(#EBEDEC 19%, #F7F7F7 58%);
		}
		div#breadcrumb .back_arrow .arrow_icon {
			background: url('../images/colors/color1/back_arrow.png') no-repeat;
			width: 9px;
			height: 13px;
			position: absolute;
			top: 50%;
			margin-top: -6px;
			left: 9px;
		}

/***********************************************************************
 * Misc colors
 ***********************************************************************
*/

div.item_wrapper, div.item_wrapper_button, div.item_wrapper div.sub_wrapper {
	border-top: 1px solid #c6d0dc;
}

	div.item_wrapper div.sub_wrapper:hover {
		background: -webkit-gradient(linear, left bottom, left top, color-stop(0.19, #EBEDEC), color-stop(0.58, #F7F7F7));
		background: linear-gradient(#EBEDEC 19%, #F7F7F7 58%);
	}

	div.item_wrapper div.sub_wrapper:active {
		background: -webkit-gradient(linear, left bottom, left top, color-stop(0.19, #EBEDEC), color-stop(0.58, #F7F7F7));
		background: linear-gradient(#EBEDEC 19%, #F7F7F7 58%);
	}

	div.item_wrapper .highlight {
		color: #247090;
	}

div.item_wrapper .product_info_container, div.item_wrapper .offline_product_info_container, div.item_wrapper .feature_product_info_container, div.item_wrapper .item_avail_info_container  {
	color: #3b4453; /*get rid of blue color from link*/
}

.item_wrapper {
	font-size: 12px;
	line-height: normal;
}

.item_wrapper h3, .item_wrapper h4 {
	font-size: 13px;
	line-height: 16px;
}

.department_wrapper .department_content_wrapper .department_bg {
	background: #FFFFFF;
	text-shadow:none; /* Override the button text shadow */
}

.primary_arrow { border-left: 1px solid #f2762b; }

.secondary_arrow { border-left: 1px solid #c6d0dc; }

.primary_arrow .forward_arrow_icon { background: url('../images/colors/color1/primary_forward_arrow.gif') no-repeat; }

.secondary_arrow .forward_arrow_icon { background: url('../images/colors/color1/secondary_forward_arrow.gif') no-repeat; }


div#department_categories div.sub_wrapper, div#help_categories div.sub_wrapper {
	border-left: 1px solid #c6d0dc;
	border-right: 1px solid #c6d0dc;
}

div#department_categories div.sub_wrapper:last-child, div#help_categories div.sub_wrapper:last-child {
	border-bottom: 1px solid #c6d0dc;
}

div#paging_control img{
	border: 1px solid #c6d0dc;
}

#store_availability_details > ul > li > strong {
	font-weight: bold;
}

/***********************************************************************
 * Department Category Page colors
 ***********************************************************************
*/

.productLargeImage {
	width: 320px
}
