/*
 *-----------------------------------------------------------------
 * Licensed Materials - Property of IBM
 *
 * WebSphere Commerce
 *
 * (C) Copyright IBM Corp. 2013, 2014 All Rights Reserved.
 *
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with
 * IBM Corp.
 *-----------------------------------------------------------------
 */

/* Global overrides */

#content {
	overflow-y: scroll;
}
/* Inline button */

.basicButton {
	background-image: -webkit-gradient(linear, right top, right bottom, from(#b5c1c1), to(#697474));
	background-image: linear-gradient(#b5c1c1, #697474);
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(startColorStr='#b5c1c1', endColorStr='#697474')";
	border: 1px solid #bfbfbf;
}
.basicButton:hover {
	background-image: -webkit-gradient(linear, right top, right bottom, from(#697474), to(#b5c1c1));
	background-image: linear-gradient(#697474, #b5c1c1);
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(startColorStr='#697474', endColorStr='#b5c1c1')";
}
.basicButton > span {
	border: 1px solid #eaeaea;
	color: #fff;
}
#departmentsButton:after, #departmentsButton.active:after  {
	background-position: -141px -1px;
}

/* Barcode scan button */

#barcodeScanButton {
	display: block;
	position: relative;
	width: 58px;
	height: 43px;
	margin: 16px 15px 16px 0px !important;
	padding: 0 !important;
	background-image: -webkit-gradient(linear, right top, right bottom, from(#f7f9f9), to(#e5e8e9));
	background-image: linear-gradient(#f7f9f9, #e5e8e9);
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(startColorStr='#f7f9f9', endColorStr='#e5e8e9')";
	border: 1px solid #e1e1e1 !important;
	border-radius: 4px;
}
#barcodeScanButton:before {
	content: "";
	display: block;
	position: absolute;
	top: 13px;
	right: 14px;
	width: 31px;
	height: 18px;
	background: url("../images/barcode_logo.png") no-repeat right center;
}
#barcodeScanButton:hover {
	background-image: -webkit-gradient(linear, right top, right bottom, from(#f7f9f9), to(#ced2d3));
	background-image: linear-gradient(#f7f9f9, #ced2d3);
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(startColorStr='#f7f9f9', endColorStr='#ced2d3')";
	text-decoration: none !important;
}

/* Header */

#header:before {
	background-image: url("../../images/responsive/masthead_top_bg_h.png");
}

/* Arrow decoration */

#searchBox {
	display:none;
}
#worklightSearchButton {
	display: inline-block;
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
	height: 38px;
	background-color: #ffffff;
	border: 1px solid #bfbfbf;
	border-radius: 4px;
	vertical-align: middle;
}
#worklightSearchButton:before {
	content: "";
	display: block;
	position: absolute;
	left: 10px;
	top: 12px;
	width: 14px;
	height: 14px;
	background-image: url("../../images/responsive/rwdUI_rtl.png");
	background-position: -121px -21px;
}
#worklightSearchButton:hover:before {
	background-position: -141px -21px;
}
#worklightSearchButtonLabel {
	padding: 6px 10px;
	line-height: 38px;
}

/*** Mobile overrides ***/

@media (max-width: 600px) {

	/* Barcode scan button */
	#barcodeScanButton {
		margin: 5px 5px 5px 0 !important;
	}

	/* Departments button */
	#departmentsButton {
		margin: 2px 15px 2px 80px;
	}

	/* Mini cart button */
	#widget_minishopcart {
		margin: 5px 5px 5px 15px;
	}

	/* Arrow decoration */
	#searchButton:after {
		display: none;
	}
}

@media (-webkit-device-pixel-ratio: 2) {

	#worklightSearchButton:before {
		background-image: url("../../images/responsive/rwdUI_rtl@2x.png");
		background-size: 300px 400px;
	}

}
