<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2014, 2017 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
-->
<web-app id="WebApp_ID" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <display-name>
	Stores</display-name>
    <servlet>
        <description/>
         <display-name>Stores</display-name>
        <icon>
            <small-icon/>
            <large-icon/>
        </icon>
 		<servlet-name>Stores</servlet-name>
         <servlet-class>com.ibm.commerce.store.servlet.StoreDispatcherServlet</servlet-class>
         
         <init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/stores-servlet.xml,/WEB-INF/spring/controllers.xml</param-value>
		 </init-param>
		   
        <init-param>
            <param-name>detail</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>validate</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>webpath</param-name>
            <param-value>/</param-value>
        </init-param>
        <init-param>
            <param-name>isStoreServlet</param-name>
            <param-value>true</param-value>
        </init-param>
		<init-param>
			<param-name>loggingProvider</param-name>
			<param-value>com.ibm.commerce.store.logging.StoreLoggingProvider</param-value>
		</init-param>
		<init-param>
			<param-name>tracingProvider</param-name>
			<param-value>com.ibm.commerce.store.logging.StoreTracingProvider</param-value>
		</init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
         <servlet-name>Stores</servlet-name>
        <url-pattern>/shop/*</url-pattern>
    </servlet-mapping>
    
	<servlet>
	    <servlet-name>StoreAssets</servlet-name>
	    <servlet-class>com.ibm.commerce.store.servlet.StoreAssetServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	  <servlet-name>StoreAssets</servlet-name>
	  <url-pattern>/shop/store/0/storeAsset</url-pattern>
	  <url-pattern>/shop/store/0/storeAsset/*</url-pattern>
	</servlet-mapping>

    <filter>
        <filter-name>ExecutionContextFilter</filter-name>
        <filter-class>com.ibm.commerce.cf.servlet.ExecutionContextFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ExecutionContextFilter</filter-name>
        <servlet-name>Stores</servlet-name>
    </filter-mapping>

    <filter>
        <icon/>
        <filter-name>RuntimeServletFilter</filter-name>
     <filter-class>com.ibm.commerce.store.servlet.StoreRuntimeServletFilter</filter-class>
        <init-param>
            <param-name>ServletName</param-name>
            <param-value>Stores</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>RuntimeServletFilter</filter-name>
        <servlet-name>Stores</servlet-name>
    </filter-mapping>

    <filter>
        <icon/>
        <filter-name>CacheFilter</filter-name>
        <filter-class>com.ibm.commerce.dynacache.filter.StoreCacheFilter</filter-class>
        <init-param>
            <param-name>ServletName</param-name>
            <param-value>Stores</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CacheFilter</filter-name>
        <servlet-name>Stores</servlet-name>
    </filter-mapping>
    <filter>
        <icon/>
        <filter-name>JspExecutionServiceLoggingFilter</filter-name>
        <filter-class>com.ibm.commerce.store.servlet.JspExecutionServiceLoggingFilter</filter-class>
        <init-param>
            <param-name>ServletName</param-name>
            <param-value>JspExecutionServiceLoggingFilter</param-value>
        </init-param>
    </filter>

   <filter>
     <filter-name>HttpSecurityFilter</filter-name>
     <filter-class>com.ibm.commerce.store.servlet.HttpSecurityFilter</filter-class>
     <init-param>
       <param-name>EnableXFrameOptionsSameOrigin</param-name>
       <param-value>true</param-value>
     </init-param>
   </filter>
   <filter-mapping>
     <filter-name>HttpSecurityFilter</filter-name>
     <servlet-name>Stores</servlet-name>
   </filter-mapping>   

    <filter>
    	<display-name>Strict Transport Security Filter</display-name>
    	<filter-name>HSTSFilter</filter-name>
    	<filter-class>
    		com.ibm.commerce.store.servlet.StrictTransportSecurityFilter
    	</filter-class>
    </filter>
    <filter-mapping>
    	<filter-name>HSTSFilter</filter-name>
		<servlet-name>Stores</servlet-name>
    </filter-mapping>

    <filter-mapping>
        <filter-name>JspExecutionServiceLoggingFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <servlet>
        <description></description>
        <display-name>HystrixMetricsStreamServlet</display-name>
        <servlet-name>HystrixMetricsStreamServlet</servlet-name>
        <servlet-class>com.netflix.hystrix.contrib.metrics.eventstream.HystrixMetricsStreamServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HystrixMetricsStreamServlet</servlet-name>
        <url-pattern>/hystrix.stream</url-pattern>
    </servlet-mapping>
    
    <context-param>
        <param-name>messageTopics</param-name>
        <param-value>ExtendedLoggerConfig</param-value>
    </context-param>

    <listener>
        <description>Servlet listener that initializes Commerce REST message configuration </description>
        <listener-class>com.ibm.commerce.rest.config.CommerceRestMessageConfigListener</listener-class>
    </listener>

    <jsp-config>
        <taglib>
            <taglib-uri>flow.tld</taglib-uri>
            <taglib-location>/WEB-INF/flow.tld</taglib-location>
        </taglib>
    </jsp-config>
</web-app>
