/*
 *-----------------------------------------------------------------
 * Licensed Materials - Property of IBM
 *
 * WebSphere Commerce
 *
 * (C) Copyright IBM Corp. 2013, 2014 All Rights Reserved.
 *
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with
 * IBM Corp.
 *-----------------------------------------------------------------
 */
#homePageEspot_Middle_Slot {
	min-height: 180px;
	margin: 30px 29px 0 29px !important;
}
#homePageEspot_Middle_Slot .imageContainer {
	margin-bottom: 20px;
}
html[lang='ar'] #homePageEspot_Middle_Slot .imageContainer, 
html[lang='he'] #homePageEspot_Middle_Slot .imageContainer {
	text-align: center;	
}
#homePageEspot_Middle_Slot .imageContainer img {
	max-width: 200px;
}
#homePageEspot_Middle_Slot .textContainer {
	bottom: 15px;
	top: auto;
}
.homeESpotContainer .textContainer {
	text-align: left;
	z-index: 5;
}
.homeESpotContainer {
	color: #666666;
	margin: 10px 24px 0 30px;
	max-width: 1010px;
	text-align: center;
}

@media screen and (min-width: 952px) {
	#homePageEspot_Middle_Slot .imageContainer img {
		max-width: 200px;
		width: 90%;
	}
	#homePageEspot_Middle_Slot {
		margin: 100px -20px 0 65px !important;
	}
	html[lang='ar'] #homePageEspot_Middle_Slot, html[lang='he'] #homePageEspot_Middle_Slot {
		margin: 100px 20px 0 !important;
	} 
}
@media screen and (max-width: 856px) {
	#homePageEspot_Middle_Slot {
		margin: 30px 29px 0 29px !important;
	}
	#homePageEspot_Middle_Slot .textContainer {
		float: right;
		width: 59%;
		margin-bottom: 20px;
	}
	html[lang='ar'] #homePageEspot_Middle_Slot .textContainer, 
	html[lang='he'] #homePageEspot_Middle_Slot .textContainer {
		float: left;
	}
	#homePageEspot_Middle_Slot .imageContainer {
		float: left;
		width: 38%;
	}
	html[lang='ar'] #homePageEspot_Middle_Slot .imageContainer, 
	html[lang='he'] #homePageEspot_Middle_Slot .imageContainer {
		float: right;
	}
	#homePageEspot_Middle_Slot .imageContainer img {
		max-width: 227px;
		width: 100%;
	}
}
@media screen and (max-width: 600px) {
	#homePageEspot_Middle_Slot {
		margin: 21px 0 20px 0 !important;
		position: relative;
		padding-left: 10px;
		padding-right: 10px;
	}
	#homePageEspot_Middle_Slot .textContainer {
		bottom: auto;
		left: auto;
		position: relative;
		right: 0px;
		top: 0px;
		width: 58%;
	}
	#homePageEspot_Middle_Slot .imageContainer {
		left: -16px;
		position: absolute;
		top: 12px;
		width: 50%;
	}
	html[lang='ar'] #homePageEspot_Middle_Slot .imageContainer,
	html[lang='he'] #homePageEspot_Middle_Slot .imageContainer {
		left: 0;
		right: 0;
	}
	#homePageEspot_Middle_Slot .imageContainer img {
		max-width: 186px;
		width: 80%;
	}
	.homeESpotContainer {
		margin: 21px 0 20px 0 !important;
		position: relative;
	}
}