/*
 *-----------------------------------------------------------------
 * Licensed Materials - Property of IBM
 *
 * WebSphere Commerce
 *
 * (C) Copyright IBM Corp. 2013 All Rights Reserved.
 *
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with
 * IBM Corp.
 *-----------------------------------------------------------------
 */
 
	#deptSubESpot2 {
		height: 137px;
		overflow:hidden;
		position: relative;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}
 
	#deptSubESpot2-multiImgCont {
		position: absolute;
		left: -61%;
		width: 100%;
	}

	#deptSubESpot2-tie {
		position: absolute;
		z-index: 2;
		width: 129px;
		height: 100px;
		left: 0;
		top: 25px;
	}
	
	#deptSubESpot2-tie  > div{
		height: 100%;
		background-image: url("tie.png");
		background-position: center;
		background-size: cover;
	}
	
	#deptSubESpot2-tie  > img{
		width:100%; 
		height:100%;
	}

	#deptSubESpot2-belt {
		display:none;
		position: absolute;
		z-index: 1;
		height: 102px;
		left: 0;
		top: 11px;
	}
	
	#deptSubESpot2-belt  > div{
		height: 100%;
		background-image: url("belt.png");
		background-position: center;
		background-size: cover;
	}

	#deptSubESpot2-cuff {
		position: absolute;
		z-index: 3;
		width: 76px;
		height: 38px;
		right: 15px;
		top: 85px;
	}
	
	#deptSubESpot2-cuff  > div{
		height: 100%;
		background-image: url("cufflinks.png");
		background-position: center;
		background-size: cover;
	}
	
	#deptSubESpot2-cuff  > img{
		width:100%; 
		height:100%;
	}

	#deptSubESpot2-titleCont {
		position: absolute;
		width: 178px;
		padding-top: 22px;
		right: -40%;
		z-index: 4;
	}

	#deptSubESpot2 .title1 {
		font-family: arial;
		font-size: 21px;
		line-height: 35px;
		color: #666666;
		padding-bottom: 7px;
		margin-bottom: 4px;
		border-bottom: 1px solid #b0afaf;
		text-align:center;
		white-space: nowrap;
	}

	#deptSubESpot2 .title2 {
		font-family: arial;
		font-size: 13px;
		line-height: 16px;
		color: #555555;
		text-align:center;
	}

@media screen and (min-width: 1281px) {
	#deptSubESpot2 {
		height: 179px;
	}

	#deptSubESpot2-multiImgCont {
		position: absolute;
		left: -47%;
		width: 100%;
	}

	#deptSubESpot2-tie {
		position: absolute;
		z-index: 2;
		width: 181px;
		height: 141px;
		left: -12px;
		top: 25px;
	}

	#deptSubESpot2-belt {
		display: block;
		position: absolute;
		z-index: 1;
		width: 124px;
		height: 60px;
		right: 28px;
		left: auto;
		top: 33px;
	}

	#deptSubESpot2-cuff {
		position: absolute;
		z-index: 3;
		width: 95px;
		height: 48px;
		right: 10px;
		top: 110px;
	}	


	#deptSubESpot2-titleCont {
		position: absolute;
		width: 214px;
		padding-top: 32px;
		right: -38%;
		z-index: 4;
	}

	#deptSubESpot2 .title1 {
		font-size: 26px;
		line-height: 35px;
		padding-bottom: 12px;
		margin-bottom: 7px;
	}

	#deptSubESpot2 .title2 {
		font-family: arial;
		font-size: 14px;
		line-height: 17px;
		color: #555555;
		text-align: center;
	}	
}

@media screen and (min-width: 952px) {
	#deptSubESpot2 .title1 {
		line-height: 20px;
		white-space: normal;
	}
}

@media screen and (max-width: 952px) {
	#deptSubESpot2 {
		height: 178px;
	}
	
	#deptSubESpot2-multiImgCont {
		left: 0;
		width: 90%;
	}

	#deptSubESpot2-tie {
		width: 102px;
		height: 79px;
		left: 1px;
		top: 16px;
	}

	#deptSubESpot2-cuff {
		width: 60px;
		height: 30px;
		right: 18px;
		top: 60px;
	}

	#deptSubESpot2-titleCont {
		position: relative;
		width: 165px;
		margin: 0 auto;
		padding-top: 101px;
		right: auto;
		z-index: 0;
	}

	#deptSubESpot2 .title1 {
		font-size: 18px;
		line-height: 17px;
	}

	#deptSubESpot2 .title2 {
		font-size: 11px;
		line-height: 16px;
	}
}

@media screen and (max-width: 856px) {
	#deptSubESpot2 .title1 {
		font-size: 14px;
	}
}

@media screen and (max-width: 600px) {
	#deptSubESpot2 {
		width:100%;
		height:98px;
	}
	
	#deptSubESpot2-multiImgCont {
		position: absolute;
		left: -40%;
		width: 100%;
	}
	
	#ApparelRow2_Content_Right_ {
		margin: 0 -10px;
	}

	#deptSubESpot2-tie {
		display: none;
	}
	
	#deptSubESpot2-belt {
		display: none;
	}

	#deptSubESpot2-cuff {
		display: none;
	}
	
	#deptSubESpot2-bkgrd-tie {
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
	}
	
	#deptSubESpot2-bkgrd-tie > div {
		width: 100%;
		height: 100%;
		background-image: url("bkgrd-tie.jpg");
		background-position: center;
		background-size: cover;
	}

	#deptSubESpot2-titleCont {
		position: absolute;
		width: 183px;
		padding-top: 19px;
		right: -37%;
	}

	#deptSubESpot2 .title1 {
		font-size: 16px;
		line-height: 17px;
	}
}

@media screen and (max-width: 520px) {
	#deptSubESpot2 .title1 {
		font-size: 15px;
		line-height: 17px;
	}
}