/*
 *-----------------------------------------------------------------
 * Licensed Materials - Property of IBM
 *
 * WebSphere Commerce
 *
 * (C) Copyright IBM Corp. 2014 All Rights Reserved.
 *
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with
 * IBM Corp.
 *-----------------------------------------------------------------
 */
 
/* Hero Banner 
   CSS styling 
 */
#fastenersHeroBanner {
	height: 331px;
	position: relative;
	overflow:hidden;
	border-radius: 5px;
}

#fastenersHeroBanner #fastenersHeroBanner-background {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	height: 331px;
}

#fastenersHeroBanner #fastenersHeroBanner-background > div {
	height: 100%;
	background-image: url("fasteners_hero_background.jpg");
	background-repeat: repeat-x;
}

#fastenersHeroBanner #fastenersHeroBanner-background > img {
	width:100%;
	height:100%;
}

#fastenersHeroBanner #fastenersHeroBanner-handyman {
	position: absolute;
	right: 49%;
	top: 0px;
	bottom: 0px;
	width: 559px;
	z-index: 5;
}

#fastenersHeroBanner #fastenersHeroBanner-handyman  > div{
	height: 100%;
	background-image: url("fasteners_hero_handyman.png");
	background-size: contain;
	background-repeat: no-repeat;
}

#fastenersHeroBanner #fastenersHeroBanner-handyman  > img{
	width:100%; 
	height:100%; 
}

#fastenersHeroBanner .bannerText {
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	letter-spacing: -2;
	position: absolute;
	left: 49%;
	top: 54px;
	text-align: right;
}

#fastenersHeroBanner .bannerText .line1 {
	position: relative;
	font-size: 52px;
	color: #222;
}

#fastenersHeroBanner .bannerText .line2 {
	position: relative;
	top: -18px;
	font-size: 39px;
	color: #ea7211;
}

#fastenersHeroBanner .bannerText .line3 {
	position: relative;
	font-size: 73px;
	color: #222;
	top: -42px;
}

#fastenersHeroBanner .bannerLine:lang(ar), #fastenersHeroBanner .bannerLine:lang(de), #fastenersHeroBanner .bannerLine:lang(es), #fastenersHeroBanner .bannerLine:lang(fr), #fastenersHeroBanner .bannerLine:lang(he), #fastenersHeroBanner .bannerLine:lang(it), #fastenersHeroBanner .bannerLine:lang(iw), #fastenersHeroBanner .bannerLine:lang(ja), #fastenersHeroBanner .bannerLine:lang(ko), #fastenersHeroBanner .bannerLine:lang(pl), #fastenersHeroBanner .bannerLine:lang(pt), #fastenersHeroBanner .bannerLine:lang(ro), #fastenersHeroBanner .bannerLine:lang(ru), #fastenersHeroBanner .bannerLine:lang(tr), #fastenersHeroBanner .bannerLine:lang(zh) {
	color: #191919;
	text-transform: uppercase;
	position: absolute;
	left: 52%;
	text-align: right;
	top: 54px;
	width: 250px;
	line-height:1.1;
	font-size: 26px;
}

#fastenersHeroBanner .bannerText:lang(ar), #fastenersHeroBanner .bannerText:lang(de), #fastenersHeroBanner .bannerText:lang(es), #fastenersHeroBanner .bannerText:lang(fr), #fastenersHeroBanner .bannerText:lang(he), #fastenersHeroBanner .bannerText:lang(it), #fastenersHeroBanner .bannerText:lang(iw), #fastenersHeroBanner .bannerText:lang(ja), #fastenersHeroBanner .bannerText:lang(ko), #fastenersHeroBanner .bannerText:lang(pl), #fastenersHeroBanner .bannerText:lang(pt), #fastenersHeroBanner .bannerText:lang(ro), #fastenersHeroBanner .bannerText:lang(ru), #fastenersHeroBanner .bannerText:lang(tr), #fastenersHeroBanner .bannerText:lang(zh) {
	display: none;
}

/* Screws Espot
   CSS styling
 */
#screwsESpot {
	height: 150px;
	position: relative;
	overflow: hidden;
}

#screwsESpot #screwsESpotBackground {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	height: 150px;
}

#screwsESpot #screwsESpotBackground > div {
	height: 100%;
	background-image: url("espot2_background.jpg");
	background-repeat: repeat-x;
}

#screwsESpot #screwsESpotBackground > img {
	width:100%;
	height:100%;
}

#screwsESpot #screwsImg {
	position: absolute;
	width: 171px;
	top: 22%;
	bottom: 0%;
	right: -5%;
}

#screwsESpot #screwsImg > div {
	height: 100%;
	background-image: url("espot2_screws.png");
	background-size: contain;
	background-repeat: no-repeat;
}

#screwsESpot #screwsImg > img {
	width:100%; 
	height:100%; 
}

#screwsESpot .bannerText {
	font-family: Arial, Helvetica, sans-serif;
	position: relative;
	text-transform: uppercase;
	top: 9px;
	margin: 0 auto;
	width: 280px;
}

#screwsESpot .bannerText .line1 {
	color: #ea7211;
	font-weight: bold;
	font-size: 32px;
	position: relative;
}

#screwsESpot .bannerText .line2 {
	color: #222;
	position: relative;
	top: -15px;
	font-size:28px;
}

#screwsESpot .bannerLine:lang(ar), #screwsESpot .bannerLine:lang(de), #screwsESpot .bannerLine:lang(es), #screwsESpot .bannerLine:lang(fr), #screwsESpot .bannerLine:lang(he), #screwsESpot .bannerLine:lang(it), #screwsESpot .bannerLine:lang(iw), #screwsESpot .bannerLine:lang(ja), #screwsESpot .bannerLine:lang(ko), #screwsESpot .bannerLine:lang(pl), #screwsESpot .bannerLine:lang(pt), #screwsESpot .bannerLine:lang(ro), #screwsESpot .bannerLine:lang(ru), #screwsESpot .bannerLine:lang(tr), #screwsESpot .bannerLine:lang(zh) {
	position: absolute;
	text-transform: uppercase;
	top: 9px;
	left: 5%;
	width: 280px;
	font-size:24px;
}

#screwsESpot .bannerText:lang(ar), #screwsESpot .bannerText:lang(de), #screwsESpot .bannerText:lang(es), #screwsESpot .bannerText:lang(fr), #screwsESpot .bannerText:lang(he), #screwsESpot .bannerText:lang(it), #screwsESpot .bannerText:lang(iw), #screwsESpot .bannerText:lang(ja), #screwsESpot .bannerText:lang(ko), #screwsESpot .bannerText:lang(pl), #screwsESpot .bannerText:lang(pt), #screwsESpot .bannerText:lang(ro), #screwsESpot .bannerText:lang(ru), #screwsESpot .bannerText:lang(tr), #screwsESpot .bannerText:lang(zh) {
	display: none;
}

/* Bolts eSpot css styling */

#boltsESpot {
	height: 150px;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #D4D4D4),
		color-stop(1, #F8F8F8)
	);
	background-image: -o-linear-gradient(bottom, #D4D4D4 0%, #F8F8F8 100%);
	background-image: -moz-linear-gradient(bottom, #D4D4D4 0%, #F8F8F8 100%);
	background-image: -webkit-linear-gradient(bottom, #D4D4D4 0%, #F8F8F8 100%);
	background-image: -ms-linear-gradient(bottom, #D4D4D4 0%, #F8F8F8 100%);
	background-image: linear-gradient(to bottom, #D4D4D4 0%, #F8F8F8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#D4D4D4', endColorstr='#F8F8F8');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#D4D4D4', endColorstr='#F8F8F8')";
	position: relative;
	overflow: hidden;
}

#boltsESpot #boltsImg {
	background-image: url('espot1_bolts.png');
	background-repeat: repeat;
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 65px;
}

#boltsESpot .bannerText {
	text-transform: uppercase;
	position: absolute;
	width: 311px;
	left: 50%;
	margin-left: -155px;
	top: 9px;
}

#boltsESpot .bannerText .line1 {
	position: relative;
	font-size: 18px;
	font-weight: bold;
	color: #222;
}

#boltsESpot .bannerText .line2 {
	position: relative;
	font-size: 28px;
	top: -14px;
	color: #222;
}

#boltsESpot .bannerText .large {
	position: relative;
	font-size: 32px;
}

#boltsESpot .bannerText .highlight {
	color: #ea7211;
	background: none !important;
}

#boltsESpot .bannerLine {
	display: none;
}

#boltsESpot .bannerLine:lang(ar), #boltsESpot .bannerLine:lang(de), #boltsESpot .bannerLine:lang(es), #boltsESpot .bannerLine:lang(fr), #boltsESpot .bannerLine:lang(he), #boltsESpot .bannerLine:lang(it), #boltsESpot .bannerLine:lang(iw), #boltsESpot .bannerLine:lang(ja), #boltsESpot .bannerLine:lang(ko), #boltsESpot .bannerLine:lang(pl), #boltsESpot .bannerLine:lang(pt), #boltsESpot .bannerLine:lang(ro), #boltsESpot .bannerLine:lang(ru), #boltsESpot .bannerLine:lang(tr), #boltsESpot .bannerLine:lang(zh) {
	color: #191919;
	text-transform: uppercase;
	position: absolute;
	top: 9px;
	left: 20%;
	font-size: 17px;
	width: 250px;
	line-height:1.1;
	display: block;
}

#boltsESpot .line1:lang(ar), #boltsESpot .line1:lang(de), #boltsESpot .line1:lang(es), #boltsESpot .line1:lang(fr), #boltsESpot .line1:lang(he), #boltsESpot .line1:lang(it), #boltsESpot .line1:lang(iw), #boltsESpot .line1:lang(ja), #boltsESpot .line1:lang(ko), #boltsESpot .line1:lang(pl), #boltsESpot .line1:lang(pt), #boltsESpot .line1:lang(ro), #boltsESpot .line1:lang(ru), #boltsESpot .line1:lang(tr), #boltsESpot .line1:lang(zh) {
	display: none;
}

#boltsESpot .line2:lang(ar), #boltsESpot .line2:lang(de), #boltsESpot .line2:lang(es), #boltsESpot .line2:lang(fr), #boltsESpot .line2:lang(he), #boltsESpot .line2:lang(it), #boltsESpot .line2:lang(iw), #boltsESpot .line2:lang(ja), #boltsESpot .line2:lang(ko), #boltsESpot .line2:lang(pl), #boltsESpot .line2:lang(pt), #boltsESpot .line2:lang(ro), #boltsESpot .line2:lang(ru), #boltsESpot .line2:lang(tr), #boltsESpot .line2:lang(zh) {
	display: none;
}

@media screen and (max-width: 1280px) {	
	#fastenersHeroBanner #fastenersHeroBanner-handyman {
		right: 35%;
	}

	#fastenersHeroBanner .bannerText {
		left: auto;
		right: 3%;
		top: 89px;
	}

	#fastenersHeroBanner .bannerText .line1 {
		font-size: 32px;
	}

	#fastenersHeroBanner .bannerText .line2 {
		top: -10px;
		font-size: 23px;
	}

	#fastenersHeroBanner .bannerText .line3 {
		font-size: 44px;
		top: -24px;
	}

	#fastenersHeroBanner .bannerLine:lang(ar), #fastenersHeroBanner .bannerLine:lang(de), #fastenersHeroBanner .bannerLine:lang(es), #fastenersHeroBanner .bannerLine:lang(fr), #fastenersHeroBanner .bannerLine:lang(he), #fastenersHeroBanner .bannerLine:lang(it), #fastenersHeroBanner .bannerLine:lang(iw), #fastenersHeroBanner .bannerLine:lang(ja), #fastenersHeroBanner .bannerLine:lang(ko), #fastenersHeroBanner .bannerLine:lang(pl), #fastenersHeroBanner .bannerLine:lang(pt), #fastenersHeroBanner .bannerLine:lang(ro), #fastenersHeroBanner .bannerLine:lang(ru), #fastenersHeroBanner .bannerLine:lang(tr), #fastenersHeroBanner .bannerLine:lang(zh) {
		left: 52%;
		width: 200px;
		font-size: 22px;
	}

	#screwsESpot #screwsImg {
		right: -10%;
	}
	
	#screwsESpot .bannerText {
		top: 8px;
	}

	#screwsESpot .bannerText .line1 {
		font-size: 25px;
	}

	#screwsESpot .bannerText .line2 {
		top: -8px;
		font-size:20px;
	}

	#screwsESpot .bannerLine:lang(ar), #screwsESpot .bannerLine:lang(de), #screwsESpot .bannerLine:lang(es), #screwsESpot .bannerLine:lang(fr), #screwsESpot .bannerLine:lang(he), #screwsESpot .bannerLine:lang(it), #screwsESpot .bannerLine:lang(iw), #screwsESpot .bannerLine:lang(ja), #screwsESpot .bannerLine:lang(ko), #screwsESpot .bannerLine:lang(pl), #screwsESpot .bannerLine:lang(pt), #screwsESpot .bannerLine:lang(ro), #screwsESpot .bannerLine:lang(ru), #screwsESpot .bannerLine:lang(tr), #screwsESpot .bannerLine:lang(zh) {
		left: 5%;
		font-size: 16px;
		width: 170px;
	}
		
	/* Bolts eSpot */
	#boltsESpot .bannerText {
		width: 275px;
		left: 50%;
		margin-left: -137px;
		top: 9px;
	}

	#boltsESpot #boltsImg {
		height: 73px;
	}

	#boltsESpot .bannerText .line1 {
		font-size: 16px;
	}

	#boltsESpot .bannerText .line2 {
		font-size: 24px;
		top: -10px;
	}

	#boltsESpot .bannerText .large {
		font-size: 25px;
	}
}
	
@media screen and (max-width: 952px) {
	#fastenersHeroBanner {
		height: 225px;
	}

	#fastenersHeroBanner #fastenersHeroBanner-handyman {
		height: 225px;
		right: 0%;
	}

	#fastenersHeroBanner .bannerText {
		right: 2%;
		top: 64px;
	}

	#fastenersHeroBanner .bannerText .line1 {
		font-size: 25px;
	}

	#fastenersHeroBanner .bannerText .line2 {
		top: -8px;
		font-size: 18px;
	}

	#fastenersHeroBanner .bannerText .line3 {
		font-size: 35px;
		top: -18px;
	}

	#fastenersHeroBanner .bannerLine:lang(ar), #fastenersHeroBanner .bannerLine:lang(de), #fastenersHeroBanner .bannerLine:lang(es), #fastenersHeroBanner .bannerLine:lang(fr), #fastenersHeroBanner .bannerLine:lang(he), #fastenersHeroBanner .bannerLine:lang(it), #fastenersHeroBanner .bannerLine:lang(iw), #fastenersHeroBanner .bannerLine:lang(ja), #fastenersHeroBanner .bannerLine:lang(ko), #fastenersHeroBanner .bannerLine:lang(pl), #fastenersHeroBanner .bannerLine:lang(pt), #fastenersHeroBanner .bannerLine:lang(ro), #fastenersHeroBanner .bannerLine:lang(ru), #fastenersHeroBanner .bannerLine:lang(tr), #fastenersHeroBanner .bannerLine:lang(zh) {
		right: 11%;
		left: inherit;
		width: 180px;
		font-size: 14px;
	}

	#screwsESpot #screwsImg {
		right: -26%;
	}
	
	#screwsESpot .bannerText {
		top: 5px;
	}

	#screwsESpot .bannerText .line1 {
		font-size: 20px;
	}

	#screwsESpot .bannerText .line2 {
		top: -6px;
		font-size: 14px;
	}

	#screwsESpot .bannerLine:lang(ar), #screwsESpot .bannerLine:lang(de), #screwsESpot .bannerLine:lang(es), #screwsESpot .bannerLine:lang(fr), #screwsESpot .bannerLine:lang(he), #screwsESpot .bannerLine:lang(it), #screwsESpot .bannerLine:lang(iw), #screwsESpot .bannerLine:lang(ja), #screwsESpot .bannerLine:lang(ko), #screwsESpot .bannerLine:lang(pl), #screwsESpot .bannerLine:lang(pt), #screwsESpot .bannerLine:lang(ro), #screwsESpot .bannerLine:lang(ru), #screwsESpot .bannerLine:lang(tr), #screwsESpot .bannerLine:lang(zh) {
		left: 5%;
		top: 3px;
		font-size: 13px;
		width: 170px;
	}
	
	/* Bolts ESpot */
	#boltsESpot .bannerText {
		width: inherit;
		left: 5%;
		top: 6px;
		margin-left: inherit;
	}

	#boltsESpot .bannerText .line1 {
		font-size: 14px;
	}

	#boltsESpot .bannerText .line2 {
		font-size: 14px;
		top: -3px;
	}

	#boltsESpot .bannerText .large {
		font-size: 20px;
		display: block;
		top: 4px;
	}

	#boltsESpot #boltsImg {
		height: 71px;
	}

	#boltsESpot .bannerLine:lang(ar), #boltsESpot .bannerLine:lang(de), #boltsESpot .bannerLine:lang(es), #boltsESpot .bannerLine:lang(fr), #boltsESpot .bannerLine:lang(he), #boltsESpot .bannerLine:lang(it), #boltsESpot .bannerLine:lang(iw), #boltsESpot .bannerLine:lang(ja), #boltsESpot .bannerLine:lang(ko), #boltsESpot .bannerLine:lang(pl), #boltsESpot .bannerLine:lang(pt), #boltsESpot .bannerLine:lang(ro), #boltsESpot .bannerLine:lang(ru), #boltsESpot .bannerLine:lang(tr), #boltsESpot .bannerLine:lang(zh) {
		left: 5%;
		font-size: 13px;
		width: 170px;
	}
}
	
@media screen and (max-width: 601px) {
	#fastenersHeroBanner {
		height: 160px;
	}
	
	#fastenersHeroBanner #fastenersHeroBanner-handyman {
		height: 160px;
		right: -18%;
	}

	#fastenersHeroBanner .bannerText {
		top: 34px;
		right: 8%;
	}

	#fastenersHeroBanner .bannerText .line1 {
		font-size: 18px;
	}

	#fastenersHeroBanner .bannerText .line2 {
		top: -3px;
		font-size: 13px;
	}

	#fastenersHeroBanner .bannerText .line3 {
		font-size: 25px;
		top: -10px;
	}

	#screwsESpot #screwsImg {
		left: 68%;
		right: auto;
	}
	
	#screwsESpot .bannerText {
		top: 18px;
	}

	#screwsESpot .bannerText .line1 {
		font-size: 25px;
	}

	#screwsESpot .bannerText .line2 {
		top: -6px;
		font-size: 24px;
	}
	
	/* Bolts eSpot */
	#boltsESpotContainer {
		width: 50%;
	}

	#boltsESpot {
		margin-left: 5px;
	}

	#boltsESpot .bannerText {
		top: 4px;
		width: default;
		left: 5%;
		margin-left: inherit;
	}

	#boltsESpot .bannerText .line1 {
		font-size: 11px;
	}

	#boltsESpot .bannerText .line2 {
		font-size: 21px;
		top: -1px;
		width: 50px;
		line-height: 20px;
	}

	#boltsESpot .bannerText .large {
		font-size: 17px;
		top: 3px;
		display: block;
		margin-right: 1px;
	}
}

@media screen and (max-width: 385px) {
	#fastenersHeroBanner #fastenersHeroBanner-handyman {
		right: -45%;
	}
	
	#fastenersHeroBanner .bannerText {
		right: 2%;
	}
	
	#fastenersHeroBanner .bannerLine {
		right: 1%;
		font-size: 12px;
	}
}

@media screen and (max-width: 321px) {
	#fastenersHeroBanner #fastenersHeroBanner-handyman {
		right: -52%;
	}
}