/*
 *-----------------------------------------------------------------
 * Licensed Materials - Property of IBM
 *
 * WebSphere Commerce
 *
 * (C) Copyright IBM Corp. 2012, 2015 All Rights Reserved.
 *
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with
 * IBM Corp.
 *-----------------------------------------------------------------
 */

.facetSelectContainer .swatch img {
	border:1px solid #E5E5E5;
}
.facetSelectContainer .swatch .outline.facetSelectedHighlight > span > img {
	border:3px solid #FAC549;
}

.widget_product_compare > .middle > .left_border > .right_border > .content > div:first-child + div + div {
	display: none;
}

.loginMenuDropdown {
	background-color: rgb(255, 255, 255);    
    border: 1px solid #c9cece;    
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    color: #4D4D4D;
    display: none;
    font-size: 13px;
    position: absolute;
    right: 202px;
    top: 56px;
    width: 290px;
    z-index: 100;
}

.menuDropdown {
    background-color: rgb(255, 255, 255);	
    border: 1px solid #c9cece;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    color: #4D4D4D;
    display: none;
    font-size: 13px;
    position: absolute;
    right: 299px;
    top: 56px;
    width: 321px;
    z-index: 100;    
}

.menuDropdown_csr {
    right: 199px;
    width: 328px;
}

#Header_GlobalLogin_WC_B2BMyAccountParticipantRole_select_2_dropdown.dijitMenuPopup,
#QuickLinks_GlobalLogin_WC_B2BMyAccountParticipantRole_select_2_dropdown.dijitMenuPopup{
	overflow-x: visible;
}
