@charset "utf-8";

/*$SkipWCCopr$*/
/*
 *-----------------------------------------------------------------
 * Licensed Materials - Property of IBM
 *
 * WebSphere Commerce
 *
 * (C) Copyright IBM Corp. 2008, 2016 All Rights Reserved.
 *
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with
 * IBM Corp.
 *-----------------------------------------------------------------
 */

/* CSS Document */
@import url("styles.css");

div.widget_quick_info_popup > .middle > .content_left_border > .content_right_border > .content > .right_column .close_group .close_text {
	font-size: 11px;
}

div.widget_quick_info_popup > .middle > .content_left_border > .content_right_border > .content > .right_column > a {
	font-size: 10px;
}

.loginMenuDropdown .field a#Header_GlobalLogin_WC_AccountDisplay_links_1.link {
    font-size: 10px;
}