/*
 *-----------------------------------------------------------------
 * Licensed Materials - Property of IBM
 *
 * WebSphere Commerce
 *
 * (C) Copyright IBM Corp. 2014 All Rights Reserved.
 *
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with
 * IBM Corp.
 *-----------------------------------------------------------------
 */
 
/* Hero Banner 
   CSS styling 
 */
#hardwareHeroBanner {
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #DCDEDF),
		color-stop(1, #F7F7F7)
	);
	background-image: -o-linear-gradient(top, #DCDEDF 0%, #F7F7F7 100%);
	background-image: -moz-linear-gradient(top, #DCDEDF 0%, #F7F7F7 100%);
	background-image: -webkit-linear-gradient(top, #DCDEDF 0%, #F7F7F7 100%);
	background-image: -ms-linear-gradient(top, #DCDEDF 0%, #F7F7F7 100%);
	background-image: linear-gradient(to top, #DCDEDF 0%, #F7F7F7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#F7F7F7', endColorstr='#DCDEDF');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#F7F7F7', endColorstr='#DCDEDF')";
	position: relative;
	height: 350px;
	overflow: hidden;
	border-radius: 5px;
}

#hardwareHeroBanner #hardwareHeroBanner-houseImg {
	position: absolute;
	right: -50px;
	top: 0px;
	bottom: 50px;
	width: 340px;
	z-index: 5;
}

#hardwareHeroBanner #hardwareHeroBanner-houseImg  > div{
	height: 100%;
	background-image: url("house.png");
	background-size: contain;
	background-repeat: no-repeat;
}

#hardwareHeroBanner #hardwareHeroBanner-houseImg  > img{
	width:100%; 
	height:100%; 
}

#hardwareHeroBanner #hardwareHeroBanner-toolsImg {
	position: absolute;
	z-index: 6;
	right: 131px;
	top: 12px;
	width: 400px;
	bottom: 0px;
}

#hardwareHeroBanner #hardwareHeroBanner-toolsImg  > div{
	height: 100%;
	background-image: url("tools.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

#hardwareHeroBanner #hardwareHeroBanner-toolsImg  > img{
	width:100%; 
	height:100%; 
}

#hardwareHeroBanner #hardwareHeroBanner-screwsImg {
	position: absolute;
	z-index: 5;
	top: 55%;
	bottom: -10px;
	width: 270px;
	left: 3%;
}

#hardwareHeroBanner #hardwareHeroBanner-screwsImg  > div{
	height: 100%;
	background-image: url("screws.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

#hardwareHeroBanner #hardwareHeroBanner-screwsImg  > img{
	width:100%; 
	height:100%; 
}

#hardwareHeroBanner #hardwareHeroBanner-blueprintImg {
	position: absolute;
	z-index: 1;
	width: 800px;
	right: -190px;
	bottom: 0px;
	top: -45%;
}

#hardwareHeroBanner #hardwareHeroBanner-blueprintImg  > div{
	height: 100%;
	background-image: url("blueprint.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;	
}

#hardwareHeroBanner #hardwareHeroBanner-blueprintImg  > img{
	width:100%; 
	height:100%; 
}

#hardwareHeroBanner .bannerText {
	text-transform: uppercase;
	position: absolute;
	top: 50px;
	right: 43%;
}

#hardwareHeroBanner .bannerText .line1 {
	color: #191919;
	font-size: 54px;
	font-weight: bold;
}

#hardwareHeroBanner .bannerText .line2 {
	color: #191919;
	font-size: 50px;
	font-weight: bold;
	position: relative;
	top: -26px;
	left: 10px;
}

#hardwareHeroBanner .bannerText .line3 {
	color: #191919;
	font-size: 95px;
	font-weight: bold;
	position: relative;
	top: -65px;
	left: 151px;
}

#hardwareHeroBanner .bannerLine {
	display: none;
}

#hardwareHeroBanner .bannerLine:lang(ar), #hardwareHeroBanner .bannerLine:lang(de), #hardwareHeroBanner .bannerLine:lang(es), #hardwareHeroBanner .bannerLine:lang(fr), #hardwareHeroBanner .bannerLine:lang(he), #hardwareHeroBanner .bannerLine:lang(it), #hardwareHeroBanner .bannerLine:lang(iw), #hardwareHeroBanner .bannerLine:lang(ja), #hardwareHeroBanner .bannerLine:lang(ko), #hardwareHeroBanner .bannerLine:lang(pl), #hardwareHeroBanner .bannerLine:lang(pt), #hardwareHeroBanner .bannerLine:lang(ro), #hardwareHeroBanner .bannerLine:lang(ru), #hardwareHeroBanner .bannerLine:lang(tr), #hardwareHeroBanner .bannerLine:lang(zh) {
	color: #191919;
	text-transform: uppercase;
	position: absolute;
	top: 53px;
	right: 41%;
	font-size: 47px;
	width: 450px;
	line-height:1.1;
	display: block;
}

#hardwareHeroBanner .bannerText:lang(ar), #hardwareHeroBanner .bannerText:lang(de), #hardwareHeroBanner .bannerText:lang(es), #hardwareHeroBanner .bannerText:lang(fr), #hardwareHeroBanner .bannerText:lang(he), #hardwareHeroBanner .bannerText:lang(it), #hardwareHeroBanner .bannerText:lang(iw), #hardwareHeroBanner .bannerText:lang(ja), #hardwareHeroBanner .bannerText:lang(ko), #hardwareHeroBanner .bannerText:lang(pl), #hardwareHeroBanner .bannerText:lang(pt), #hardwareHeroBanner .bannerText:lang(ro), #hardwareHeroBanner .bannerText:lang(ru), #hardwareHeroBanner .bannerText:lang(tr), #hardwareHeroBanner .bannerText:lang(zh) {
	display: none;
}

#hardwareHeroBanner .bannerText .highlight {
	color: #ea7211;
}

#hardwareHeroBanner .bannerText .small {
	font-size: 50px;
	position: relative;
	top: -32px;
	right: -9px;
}

/* Drill Espot 
   CSS styling 
 */
#drillESpot {
	height: 150px;
	position: relative;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0.29, #6A7374),
		color-stop(1, #3A3F40)
	);
	background-image: -o-linear-gradient(bottom, #6A7374 29%, #3A3F40 100%);
	background-image: -moz-linear-gradient(bottom, #6A7374 29%, #3A3F40 100%);
	background-image: -webkit-linear-gradient(bottom, #6A7374 29%, #3A3F40 100%);
	background-image: -ms-linear-gradient(bottom, #6A7374 29%, #3A3F40 100%);
	background-image: linear-gradient(to bottom, #6A7374 29%, #3A3F40 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#6A7374', endColorstr='#3A3F40');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#6A7374', endColorstr='#3A3F40')";
	overflow: hidden;
}

#drillESpot #drillImg {
	position: absolute;
	height: 213px;
	width: 246px;
	right: 46%;
	top: 4px;
}

#drillESpot #drillImg > div {
	height: 100%;
	background-image: url("drill.png");
	background-position: center;
}

#drillESpot #drillImg > img {
	width:100%; 
	height:100%; 
}

#drillESpot .bannerText {
	position: absolute;
	text-transform: uppercase;
	top: 27px;
	right: 10%;
}

#drillESpot .bannerText .line1 {
	position: relative;
	font-size: 25px;
	text-align: right;
	font-weight: bold;
	color: #ea7211;
}

#drillESpot .bannerText .line2 {
	position: relative;
	text-align: right;
	color: #fff;
	font-size: 25px;
	top: -10px;
}

#drillESpot .bannerText .line3 {
	position: relative;
	color: #fff;
	font-size: 45px;
	top: -25px;
	text-align: right;
}

#drillESpot .bannerLine {
	display: none;
}

#drillESpot .bannerLine:lang(ar), #drillESpot .bannerLine:lang(de), #drillESpot .bannerLine:lang(es), #drillESpot .bannerLine:lang(fr), #drillESpot .bannerLine:lang(he), #drillESpot .bannerLine:lang(it), #drillESpot .bannerLine:lang(iw), #drillESpot .bannerLine:lang(ja), #drillESpot .bannerLine:lang(ko), #drillESpot .bannerLine:lang(pl), #drillESpot .bannerLine:lang(pt), #drillESpot .bannerLine:lang(ro), #drillESpot .bannerLine:lang(ru), #drillESpot .bannerLine:lang(tr), #drillESpot .bannerLine:lang(zh) {
	color: #191919;
	text-transform: uppercase;
	position: absolute;
	top: 50px;
	right: 5%;
	font-size: 18px;
	width: 150px;
	line-height:1.1;
	display: block;
}

#drillESpot .bannerText:lang(ar), #drillESpot .bannerText:lang(de), #drillESpot .bannerText:lang(es), #drillESpot .bannerText:lang(fr), #drillESpot .bannerText:lang(he), #drillESpot .bannerText:lang(it), #drillESpot .bannerText:lang(iw), #drillESpot .bannerText:lang(ja), #drillESpot .bannerText:lang(ko), #drillESpot .bannerText:lang(pl), #drillESpot .bannerText:lang(pt), #drillESpot .bannerText:lang(ro), #drillESpot .bannerText:lang(ru), #drillESpot .bannerText:lang(tr), #drillESpot .bannerText:lang(zh) {
	display: none;
}

/* Bolts eSpot
   CSS styling */

#boltsESpot {
	height: 150px;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #D4D4D4),
		color-stop(1, #F8F8F8)
	);
	background-image: -o-linear-gradient(bottom, #D4D4D4 0%, #F8F8F8 100%);
	background-image: -moz-linear-gradient(bottom, #D4D4D4 0%, #F8F8F8 100%);
	background-image: -webkit-linear-gradient(bottom, #D4D4D4 0%, #F8F8F8 100%);
	background-image: -ms-linear-gradient(bottom, #D4D4D4 0%, #F8F8F8 100%);
	background-image: linear-gradient(to bottom, #D4D4D4 0%, #F8F8F8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#D4D4D4', endColorstr='#F8F8F8');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#D4D4D4', endColorstr='#F8F8F8')";
	position: relative;
	overflow: hidden;
}

#boltsESpot #boltsImg {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 65px;
}

#boltsESpot #boltsImg  > div {
	height: 100%;
	background-image: url('bolts.png');
	background-repeat: repeat;
}

#boltsESpot #boltsImg  > img {
	width:100%; 
	height:100%; 
}

#boltsESpot .bannerText {
	text-transform: uppercase;
	position: absolute;
	width: 311px;
	left: 50%;
	margin-left: -155px;
	top: 9px;
}

#boltsESpot .bannerText .line1 {
	position: relative;
	font-size: 18px;
	font-weight: bold;
	color: #222;
}

#boltsESpot .bannerText .line2 {
	position: relative;
	font-size: 28px;
	top: -14px;
	color: #222;
}

#boltsESpot .bannerLine {
	display: none;
}

#boltsESpot .bannerLine:lang(ar), #boltsESpot .bannerLine:lang(de), #boltsESpot .bannerLine:lang(es), #boltsESpot .bannerLine:lang(fr), #boltsESpot .bannerLine:lang(he), #boltsESpot .bannerLine:lang(it), #boltsESpot .bannerLine:lang(iw), #boltsESpot .bannerLine:lang(ja), #boltsESpot .bannerLine:lang(ko), #boltsESpot .bannerLine:lang(pl), #boltsESpot .bannerLine:lang(pt), #boltsESpot .bannerLine:lang(ro), #boltsESpot .bannerLine:lang(ru), #boltsESpot .bannerLine:lang(tr), #boltsESpot .bannerLine:lang(zh) {
	color: #191919;
	text-transform: uppercase;
	position: absolute;
	top: 9px;
	left: 20%;
	font-size: 18px;
	width: 200px;
	line-height:1.1;
	display: block;
}

#boltsESpot .bannerText:lang(ar), #boltsESpot .bannerText:lang(de), #boltsESpot .bannerText:lang(es), #boltsESpot .bannerText:lang(fr), #boltsESpot .bannerText:lang(he), #boltsESpot .bannerText:lang(it), #boltsESpot .bannerText:lang(iw), #boltsESpot .bannerText:lang(ja), #boltsESpot .bannerText:lang(ko), #boltsESpot .bannerText:lang(pl), #boltsESpot .bannerText:lang(pt), #boltsESpot .bannerText:lang(ro), #boltsESpot .bannerText:lang(ru), #boltsESpot .bannerText:lang(tr), #boltsESpot .bannerText:lang(zh) {
	display: none;
}

#boltsESpot .bannerText .large {
	position: relative;
	font-size: 32px;
}

#boltsESpot .bannerText .highlight {
	color: #ea7211;
}

/* toolbox Espot
   CSS styling
 */

#toolsESpot {
	height: 150px;
	position: relative;
	overflow: hidden;
}

#toolsESpot #toolsESpotBackground {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	height: 150px;
}

#toolsESpot #toolsESpotBackground > div {
	height: 100%;
	background-image: url("espot_background.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: repeat-x;
}

#toolsESpot #toolsESpotBackground > img {
	width:100%;
	height:100%;
}

#toolsESpot #toolboxImg {
	position: absolute;
	width: 186px;	
	left: 70%;
	bottom: -11px;
	top: -7px;
}

#toolsESpot #toolboxImg > div {
	height: 100%;
	background-image: url("tool_box.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

#toolsESpot #toolboxImg > img {
	width:100%; 
	height:100%; 
}

#toolsESpot .bannerText {
	position: absolute;
	text-transform: uppercase;
	top: 36px;
	left: inherit;
	width: 280px;
	margin-left: 27px;
}

#toolsESpot .bannerText .line1 {
	color: #ea7211;
	font-size: 32px;
	font-weight: bold;
	position: relative;
}

#toolsESpot .bannerText .line2 {
	color: #222222;
	font-size: 28px;
	position: relative;
	top: -14px;
}

#toolsESpot .bannerText .line3 {
	text-transform: lowercase;
	color: #222222;
	font-size: 17px;
	position: relative;
	top: -23px;
}

#toolsESpot .bannerLine:lang(ar), #toolsESpot .bannerLine:lang(de), #toolsESpot .bannerLine:lang(es), #toolsESpot .bannerLine:lang(fr), #toolsESpot .bannerLine:lang(he), #toolsESpot .bannerLine:lang(it), #toolsESpot .bannerLine:lang(iw), #toolsESpot .bannerLine:lang(ja), #toolsESpot .bannerLine:lang(ko), #toolsESpot .bannerLine:lang(pl), #toolsESpot .bannerLine:lang(pt), #toolsESpot .bannerLine:lang(ro), #toolsESpot .bannerLine:lang(ru), #toolsESpot .bannerLine:lang(tr), #toolsESpot .bannerLine:lang(zh) {
	color: #191919;
	text-transform: uppercase;
	position: absolute;
	top: 36px;
	font-size: 18px;
	left: 2%;
	width: 200px;
	line-height:1.1;
}

#toolsESpot .bannerText:lang(ar), #toolsESpot .bannerText:lang(de), #toolsESpot .bannerText:lang(es), #toolsESpot .bannerText:lang(fr), #toolsESpot .bannerText:lang(he), #toolsESpot .bannerText:lang(it), #toolsESpot .bannerText:lang(iw), #toolsESpot .bannerText:lang(ja), #toolsESpot .bannerText:lang(ko), #toolsESpot .bannerText:lang(pl), #toolsESpot .bannerText:lang(pt), #toolsESpot .bannerText:lang(ro), #toolsESpot .bannerText:lang(ru), #toolsESpot .bannerText:lang(tr), #toolsESpot .bannerText:lang(zh) {
	display: none;
}

@media screen and (min-width: 1440px) {
	#hardwareHeroBannerContents {
		width: 1390px;
		left: 50%;
		margin-left: -695px;
		position: relative;
		height: 350px;
	}
}


@media screen and (max-width: 1280px) {
	#hardwareHeroBanner #hardwareHeroBanner-houseImg {
		right: -110px;
		width: 310px;
	}

	#hardwareHeroBanner #hardwareHeroBanner-toolsImg {
		right: 61px;
		width: 340px;
		bottom: -50px;
	}

	#hardwareHeroBanner #hardwareHeroBanner-screwsImg {
		bottom: -25px;
		width: 240px;
		left: 3%;
	}

	#hardwareHeroBanner #hardwareHeroBanner-blueprintImg {
		width: 800px;
		right: -300px;
	}

	#hardwareHeroBanner .bannerText {
		right: 43%;
		top: 50px;
		z-index: 5;
		left: inherit;
	}

	#hardwareHeroBanner .bannerText .line1 {
		font-size: 49px;
	}

	#hardwareHeroBanner .bannerText .line2 {
		font-size: 45px;
		top: -22px;
		left: 8px;
	}

	#hardwareHeroBanner .bannerText .line3 {
		top: -58px;
		left: 133px;
		font-size: 90px;
	}

	#hardwareHeroBanner .bannerLine:lang(ar), #hardwareHeroBanner .bannerLine:lang(de), #hardwareHeroBanner .bannerLine:lang(es), #hardwareHeroBanner .bannerLine:lang(fr), #hardwareHeroBanner .bannerLine:lang(he), #hardwareHeroBanner .bannerLine:lang(it), #hardwareHeroBanner .bannerLine:lang(iw), #hardwareHeroBanner .bannerLine:lang(ja), #hardwareHeroBanner .bannerLine:lang(ko), #hardwareHeroBanner .bannerLine:lang(pl), #hardwareHeroBanner .bannerLine:lang(pt), #hardwareHeroBanner .bannerLine:lang(ro), #hardwareHeroBanner .bannerLine:lang(ru), #hardwareHeroBanner .bannerLine:lang(tr), #hardwareHeroBanner .bannerLine:lang(zh) {
		top: 60px;
		z-index: 5;
		left: 6%;
		font-size: 35px;
		width: 60%;
	}

	#hardwareHeroBanner .bannerText .small {
		font-size: 45px;
		top: -32px;
		right: -14px;
	}

	/* Drill eSpot */
	#drillESpot #drillImg {
		position: absolute;
		right: 37%;
		top: 4px;
	}

	#drillESpot .bannerText {
		top: 45px;
		right: 7%;
	}

	#drillESpot .bannerText .line1 {
		font-size: 18px;
	}

	#drillESpot .bannerText .line2 {
		font-size: 18px;
		top: -6px;
	}

	#drillESpot .bannerText .line3 {
		font-size: 38px;
		top: -18px;
	}

	#drillESpot .bannerText .highlight {
		color: #ea7211;
	}
	
	#drillESpot .bannerLine:lang(ar), #drillESpot .bannerLine:lang(de), #drillESpot .bannerLine:lang(es), #drillESpot .bannerLine:lang(fr), #drillESpot .bannerLine:lang(he), #drillESpot .bannerLine:lang(it), #drillESpot .bannerLine:lang(iw), #drillESpot .bannerLine:lang(ja), #drillESpot .bannerLine:lang(ko), #drillESpot .bannerLine:lang(pl), #drillESpot .bannerLine:lang(pt), #drillESpot .bannerLine:lang(ro), #drillESpot .bannerLine:lang(ru), #drillESpot .bannerLine:lang(tr), #drillESpot .bannerLine:lang(zh) {
		
	}

	/* Bolts eSpot */
	#boltsESpot .bannerText {
		width: 275px;
		left: 50%;
		margin-left: -137px;
		top: 9px;
	}

	#boltsESpot #boltsImg {
		height: 73px;
	}

	#boltsESpot .bannerText .line1 {
		font-size: 16px;
	}

	#boltsESpot .bannerText .line2 {
		font-size: 24px;
		top: -10px;
	}

	#boltsESpot .bannerText .large {
		font-size: 25px;
	}
	
	#boltsESpot .bannerLine:lang(ar), #boltsESpot .bannerLine:lang(de), #boltsESpot .bannerLine:lang(es), #boltsESpot .bannerLine:lang(fr), #boltsESpot .bannerLine:lang(he), #boltsESpot .bannerLine:lang(it), #boltsESpot .bannerLine:lang(iw), #boltsESpot .bannerLine:lang(ja), #boltsESpot .bannerLine:lang(ko), #boltsESpot .bannerLine:lang(pl), #boltsESpot .bannerLine:lang(pt), #boltsESpot .bannerLine:lang(ro), #boltsESpot .bannerLine:lang(ru), #boltsESpot .bannerLine:lang(tr), #boltsESpot .bannerLine:lang(zh) {
		
	}

	/* Toolbox eSpot */
	#toolsESpot #toolboxImg {
		left: 63%;
	}

	#toolsESpot .bannerText {
		top: 36px;
		left: 17%;
		width: 280px;
		margin-left: -40px;
	}

	#toolsESpot .bannerText .line1 {
		font-size: 25px;
	}

	#toolsESpot .bannerText .line2 {
		font-size: 24px;
		top: -10px;
	}

	#toolsESpot .bannerText .line3 {
		font-size: 15px;
		top: -17px;
	}

	#toolsESpot .bannerLine:lang(ar), #toolsESpot .bannerLine:lang(de), #toolsESpot .bannerLine:lang(es), #toolsESpot .bannerLine:lang(fr), #toolsESpot .bannerLine:lang(he), #toolsESpot .bannerLine:lang(it), #toolsESpot .bannerLine:lang(iw), #toolsESpot .bannerLine:lang(ja), #toolsESpot .bannerLine:lang(ko), #toolsESpot .bannerLine:lang(pl), #toolsESpot .bannerLine:lang(pt), #toolsESpot .bannerLine:lang(ro), #toolsESpot .bannerLine:lang(ru), #toolsESpot .bannerLine:lang(tr), #toolsESpot .bannerLine:lang(zh) {
		left: 2%;
		width: 150px;
	}	
}

@media screen and (max-width: 952px) {
	#hardwareHeroBanner {
		height: 280px;
	}

	#hardwareHeroBanner #hardwareHeroBanner-houseImg {
		left: 78%;
		width: 260px;
	}

	#hardwareHeroBanner #hardwareHeroBanner-toolsImg {
		bottom: -250px;
		left: 64%;
		width: 249px;
	}

	#hardwareHeroBanner #hardwareHeroBanner-blueprintImg {
		width: 600px;
		right: -170px;
	}

	#hardwareHeroBanner #hardwareHeroBanner-screwsImg {
		bottom: -60px;
		width: 210px;
		right: 69%;
		left: inherit;
	}

	#hardwareHeroBanner .bannerText {
		left: inherit;
		right: 28%;
		top: 41px;
		z-index: 5;
	}
	
	#hardwareHeroBanner .bannerText .line1 {
		font-size: 40px;
	}
	
	#hardwareHeroBanner .bannerText .line2 {
		font-size: 36px;
		left: 7px;
		top: -19px;
	}
	
	#hardwareHeroBanner .bannerText .line3 {
		font-size: 65px;
		left: 109px;
		top: -47px;
	}
	
	#hardwareHeroBanner .bannerLine:lang(ar), #hardwareHeroBanner .bannerLine:lang(de), #hardwareHeroBanner .bannerLine:lang(es), #hardwareHeroBanner .bannerLine:lang(fr), #hardwareHeroBanner .bannerLine:lang(he), #hardwareHeroBanner .bannerLine:lang(it), #hardwareHeroBanner .bannerLine:lang(iw), #hardwareHeroBanner .bannerLine:lang(ja), #hardwareHeroBanner .bannerLine:lang(ko), #hardwareHeroBanner .bannerLine:lang(pl), #hardwareHeroBanner .bannerLine:lang(pt), #hardwareHeroBanner .bannerLine:lang(ro), #hardwareHeroBanner .bannerLine:lang(ru), #hardwareHeroBanner .bannerLine:lang(tr), #hardwareHeroBanner .bannerLine:lang(zh) {
		top: 41px;
		z-index: 5;
		font-size: 28px;
		width: 60%;
		left:5%;
	}

	#hardwareHeroBanner .bannerText .small {
		font-size: 36px;
		right: -10px;
		top: -21px;
	}

	#drillESpot .bannerLine:lang(ar), #drillESpot .bannerLine:lang(de), #drillESpot .bannerLine:lang(es), #drillESpot .bannerLine:lang(fr), #drillESpot .bannerLine:lang(he), #drillESpot .bannerLine:lang(it), #drillESpot .bannerLine:lang(iw), #drillESpot .bannerLine:lang(ja), #drillESpot .bannerLine:lang(ko), #drillESpot .bannerLine:lang(pl), #drillESpot .bannerLine:lang(pt), #drillESpot .bannerLine:lang(ro), #drillESpot .bannerLine:lang(ru), #drillESpot .bannerLine:lang(tr), #drillESpot .bannerLine:lang(zh) {
		top: 60px;
		font-size: 14px;
	}

	/* Bolts ESpot */
	#boltsESpot .bannerText {
		left: 5%;
		margin-left: inherit;
		top: 6px;
		width: inherit;
	}

	#boltsESpot .bannerText .line1 {
		font-size: 14px;
	}

	#boltsESpot .bannerText .line2 {
		font-size: 14px;
		top: -3px;
	}

	#boltsESpot .bannerText .large {
		display: block;
		font-size: 20px;
		top: 4px;
	}

	#boltsESpot #boltsImg {
		height: 71px;
	}

	#boltsESpot .bannerLine:lang(ar), #boltsESpot .bannerLine:lang(de), #boltsESpot .bannerLine:lang(es), #boltsESpot .bannerLine:lang(fr), #boltsESpot .bannerLine:lang(he), #boltsESpot .bannerLine:lang(it), #boltsESpot .bannerLine:lang(iw), #boltsESpot .bannerLine:lang(ja), #boltsESpot .bannerLine:lang(ko), #boltsESpot .bannerLine:lang(pl), #boltsESpot .bannerLine:lang(pt), #boltsESpot .bannerLine:lang(ro), #boltsESpot .bannerLine:lang(ru), #boltsESpot .bannerLine:lang(tr), #boltsESpot .bannerLine:lang(zh) {
		left: 5%;
		font-size: 13px;
		width: 170px;
	}

	/* toolbox eSpot */
	#toolsESpot #toolboxImg {
		left: 63%;
	}

	#toolsESpot .bannerText {
		left: 5%;
		margin-left: 0;
		top: 40px;
		width: 145px;
	}

	#toolsESpot .bannerText .line1 {
		font-size: 20px;
		line-height: 21px;
	}

	#toolsESpot .bannerText .line2 {
		font-size: 18px;
		top: -4px;
	}

	#toolsESpot .bannerText .line3 {
		font-size: 13px;
		line-height: 13px;
		top: -10px;
		width: 108px;
	}

	#toolsESpot .bannerLine:lang(ar), #toolsESpot .bannerLine:lang(de), #toolsESpot .bannerLine:lang(es), #toolsESpot .bannerLine:lang(fr), #toolsESpot .bannerLine:lang(he), #toolsESpot .bannerLine:lang(it), #toolsESpot .bannerLine:lang(iw), #toolsESpot .bannerLine:lang(ja), #toolsESpot .bannerLine:lang(ko), #toolsESpot .bannerLine:lang(pl), #toolsESpot .bannerLine:lang(pt), #toolsESpot .bannerLine:lang(ro), #toolsESpot .bannerLine:lang(ru), #toolsESpot .bannerLine:lang(tr), #toolsESpot .bannerLine:lang(zh) {
		font-size: 14px;
		width: 100px;

	}

	.promotionESpotContainer {
		width: 100%;
	}
}

@media screen and (max-width: 600px) {
	#hardwareHeroBanner {
		height: 180px;
	}

	#hardwareHeroBanner #hardwareHeroBanner-houseImg {
		left: 82%;
		width: 260px;
		display: none;
	}

	#hardwareHeroBanner #hardwareHeroBanner-blueprintImg {
		width: 428px;
		right: inherit;
		left: 48%;
	}

	#hardwareHeroBanner #hardwareHeroBanner-toolsImg {
		left: 56%;
		width: 249px;
		bottom: -18px;
	}

	#hardwareHeroBanner #hardwareHeroBanner-screwsImg {
		bottom: -41px;
		width: 177px;
		right: 64%;
		left: inherit;
	}

	#hardwareHeroBanner .bannerText {
		right: 0;
		top: 52px;
		z-index: 5;
		text-align: center;
		width: 100%;
		left: -17%;
	}

	#hardwareHeroBanner .bannerText .line1 {
		font-size: 20px;
	}

	#hardwareHeroBanner .bannerText .line2 {
		font-size: 16px;
		top: -5px;
		left: 10px;
	}

	#hardwareHeroBanner .bannerText .line3 {
		top: -16px;
		left: 40px;
		font-size: 36px;
	}
	
	#hardwareHeroBanner .bannerLine:lang(ar), #hardwareHeroBanner .bannerLine:lang(de), #hardwareHeroBanner .bannerLine:lang(es), #hardwareHeroBanner .bannerLine:lang(fr), #hardwareHeroBanner .bannerLine:lang(he), #hardwareHeroBanner .bannerLine:lang(it), #hardwareHeroBanner .bannerLine:lang(iw), #hardwareHeroBanner .bannerLine:lang(ja), #hardwareHeroBanner .bannerLine:lang(ko), #hardwareHeroBanner .bannerLine:lang(pl), #hardwareHeroBanner .bannerLine:lang(pt), #hardwareHeroBanner .bannerLine:lang(ro), #hardwareHeroBanner .bannerLine:lang(ru), #hardwareHeroBanner .bannerLine:lang(tr), #hardwareHeroBanner .bannerLine:lang(zh) {
		right: 0;
		top: 40px;
		text-align: center;
		left: 5%;
		font-size: 14px;
		line-height: 18px;
		width: 50%;
	}

	#hardwareHeroBanner .bannerText .small {
		font-size: 18px;
		top: -13px;
		right: -7px;
	}

	/* Drill eSpot */
	#drillESpotContainer {
		width: 100%;
	}

	#drillESpot #drillImg {
		left: 2%;
		top: 4px;
	}

	#drillESpot .bannerText {
		top: 74px;
		right: 10px;
		left: 0%;
		margin-left: 0px;
	}

	#drillESpot .bannerText .line1 {
		font-size: 14px;
	}

	#drillESpot .bannerText .line2 {
		font-size: 14px;
		top: -3px;
	}

	#drillESpot .bannerText .line3 {
		font-size: 36px;
		top: -12px;
	}

	#drillESpot .bannerLine:lang(ar), #drillESpot .bannerLine:lang(de), #drillESpot .bannerLine:lang(es), #drillESpot .bannerLine:lang(fr), #drillESpot .bannerLine:lang(he), #drillESpot .bannerLine:lang(it), #drillESpot .bannerLine:lang(iw), #drillESpot .bannerLine:lang(ja), #drillESpot .bannerLine:lang(ko), #drillESpot .bannerLine:lang(pl), #drillESpot .bannerLine:lang(pt), #drillESpot .bannerLine:lang(ro), #drillESpot .bannerLine:lang(ru), #drillESpot .bannerLine:lang(tr), #drillESpot .bannerLine:lang(zh) {
		
	}

	/* Bolts eSpot */
	#boltsESpotContainer {
		width: 100%;
	}

	#boltsESpot .bannerText {
		top: 4px;
		width: default;
		left: 5%;
		margin-left: inherit;
	}

	#boltsESpot .bannerText .line1 {
		font-size: 11px;
	}

	#boltsESpot .bannerText .line2 {
		font-size: 21px;
		top: -1px;
		width: 50px;
		line-height: 20px;
	}

	#boltsESpot .bannerText .large {
		font-size: 17px;
		top: 3px;
		display: block;
		margin-right: 1px;
	}

	#boltsESpot .bannerLine:lang(ar), #boltsESpot .bannerLine:lang(de), #boltsESpot .bannerLine:lang(es), #boltsESpot .bannerLine:lang(fr), #boltsESpot .bannerLine:lang(he), #boltsESpot .bannerLine:lang(it), #boltsESpot .bannerLine:lang(iw), #boltsESpot .bannerLine:lang(ja), #boltsESpot .bannerLine:lang(ko), #boltsESpot .bannerLine:lang(pl), #boltsESpot .bannerLine:lang(pt), #boltsESpot .bannerLine:lang(ro), #boltsESpot .bannerLine:lang(ru), #boltsESpot .bannerLine:lang(tr), #boltsESpot .bannerLine:lang(zh) {
		
	}

	/* toolbox ESpot */
	#toolsESpotContainer {
		width: 100%;
	}

	#toolsESpot #toolboxImg {
		bottom: -5px;
		width: 57%;
		right: inherit;
		left: 70%;
		max-width: 180px;
	}

	#toolsESpot .bannerText {
		top: 36px;
		left: 5%;
		width: 280px;
		margin-left: 2px;
	}

	#toolsESpot .bannerText .line1 {
		font-size: 25px;
		line-height: inherit;
	}

	#toolsESpot .bannerText .line2 {
		font-size: 23px;
		top: -10px;
	}

	#toolsESpot .bannerText .line3 {
		font-size: 14px;
		top: -10px;
		width: 108px;
		line-height: 14px;
	}
	
	#toolsESpot .bannerLine:lang(ar), #toolsESpot .bannerLine:lang(de), #toolsESpot .bannerLine:lang(es), #toolsESpot .bannerLine:lang(fr), #toolsESpot .bannerLine:lang(he), #toolsESpot .bannerLine:lang(it), #toolsESpot .bannerLine:lang(iw), #toolsESpot .bannerLine:lang(ja), #toolsESpot .bannerLine:lang(ko), #toolsESpot .bannerLine:lang(pl), #toolsESpot .bannerLine:lang(pt), #toolsESpot .bannerLine:lang(ro), #toolsESpot .bannerLine:lang(ru), #toolsESpot .bannerLine:lang(tr), #toolsESpot .bannerLine:lang(zh) {
		
	}	
}