<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2015 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
=================================================================
-->

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="/GetSearchTermAssociations" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/catalog/restricted/GetSearchTermAssociations.jsp"/>
	</bean>
	<bean id="/RefreshSearchTermAssociations" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/catalog/restricted/RefreshSearchTermAssociations.jsp"/>
	</bean>
	<bean id="/PublishSearchTermAssociations" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="OnlineStore"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
			</props>
		</property>
		<property name="verb" value="Process"/>
		<property name="documentRootFactory" value="com.ibm.commerce.infrastructure.facade.datatypes.InfrastructureFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.infrastructure.facade.client.InfrastructureFacadeClient"/>
		<property name="clientLibraryMethod" value="processOnlineStore"/>
		<property name="actionCode" value="PublishSearchTermAssociations"/>
	</bean>
	<bean id="/GetSynonyms" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/catalog/restricted/GetSynonyms.jsp"/>
	</bean>
	<bean id="/CreateSynonym" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="SearchTermAssociation"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
			</props>
		</property>
		<property name="verb" value="Process"/>
		<property name="documentRootFactory" value="com.ibm.commerce.search.facade.datatypes.SearchFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.search.facade.client.SearchFacadeClient"/>
		<property name="clientLibraryMethod" value="processSearchTermAssociation"/>
		<property name="actionCode" value="Create"/>
		<property name="var" value="synonym"/>
		<property name="successView" value="/jsp/commerce/catalog/restricted/RespondCreateSynonym.jsp"/>
	</bean>
	<bean id="/UpdateSynonym" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="SearchTermAssociation"/>
		<property name="verb" value="Change"/>
		<property name="documentRootFactory" value="com.ibm.commerce.search.facade.datatypes.SearchFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.search.facade.client.SearchFacadeClient"/>
		<property name="clientLibraryMethod" value="changeSearchTermAssociation"/>
		<property name="actionCode" value="Update"/>
	</bean>
	<bean id="/DeleteSynonym" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="SearchTermAssociation"/>
		<property name="verb" value="Process"/>
		<property name="documentRootFactory" value="com.ibm.commerce.search.facade.datatypes.SearchFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.search.facade.client.SearchFacadeClient"/>
		<property name="clientLibraryMethod" value="processSearchTermAssociation"/>
		<property name="actionCode" value="Delete"/>
	</bean>
	<bean id="/GetReplacements" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/catalog/restricted/GetReplacements.jsp"/>
	</bean>
	<bean id="/CreateReplacement" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="SearchTermAssociation"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
			</props>
		</property>
		<property name="verb" value="Process"/>
		<property name="documentRootFactory" value="com.ibm.commerce.search.facade.datatypes.SearchFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.search.facade.client.SearchFacadeClient"/>
		<property name="clientLibraryMethod" value="processSearchTermAssociation"/>
		<property name="actionCode" value="Create"/>
		<property name="var" value="replacements"/>
		<property name="successView" value="/jsp/commerce/catalog/restricted/RespondCreateReplacement.jsp"/>
	</bean>
	<bean id="/UpdateReplacement" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="SearchTermAssociation"/>
		<property name="verb" value="Change"/>
		<property name="documentRootFactory" value="com.ibm.commerce.search.facade.datatypes.SearchFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.search.facade.client.SearchFacadeClient"/>
		<property name="clientLibraryMethod" value="changeSearchTermAssociation"/>
		<property name="actionCode" value="Update"/>
	</bean>
	<bean id="/DeleteReplacement" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="SearchTermAssociation"/>
		<property name="verb" value="Process"/>
		<property name="documentRootFactory" value="com.ibm.commerce.search.facade.datatypes.SearchFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.search.facade.client.SearchFacadeClient"/>
		<property name="clientLibraryMethod" value="processSearchTermAssociation"/>
		<property name="actionCode" value="Delete"/>
	</bean>
	<bean id="/GetLandingPages" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/catalog/restricted/GetLandingPages.jsp"/>
	</bean>
	<bean id="/CreateLandingPage" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="SearchTermAssociation"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
			</props>
		</property>
		<property name="verb" value="Process"/>
		<property name="documentRootFactory" value="com.ibm.commerce.search.facade.datatypes.SearchFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.search.facade.client.SearchFacadeClient"/>
		<property name="clientLibraryMethod" value="processSearchTermAssociation"/>
		<property name="actionCode" value="Create"/>
		<property name="var" value="landingPage"/>
		<property name="successView" value="/jsp/commerce/catalog/restricted/RespondCreateLandingPage.jsp"/>
	</bean>
	<bean id="/DeleteLandingPage" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="SearchTermAssociation"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
			</props>
		</property>
		<property name="verb" value="Process"/>
		<property name="documentRootFactory" value="com.ibm.commerce.search.facade.datatypes.SearchFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.search.facade.client.SearchFacadeClient"/>
		<property name="clientLibraryMethod" value="processSearchTermAssociation"/>
		<property name="actionCode" value="Delete"/>
	</bean>
	<bean id="/UpdateLandingPage" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="SearchTermAssociation"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
			</props>
		</property>
		<property name="verb" value="Change"/>
		<property name="documentRootFactory" value="com.ibm.commerce.search.facade.datatypes.SearchFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.search.facade.client.SearchFacadeClient"/>
		<property name="clientLibraryMethod" value="changeSearchTermAssociation"/>
		<property name="actionCode" value="Update"/>
	</bean>
	<bean id="/GetTopSearchHits" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/catalog/restricted/GetTopSearchHits.jsp"/>
	</bean>
	<bean id="/GetTopSearchHitTotal" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/catalog/restricted/GetTopSearchHitTotal.jsp"/>
	</bean>
	<bean id="/GetTopSearchMisses" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/catalog/restricted/GetTopSearchMisses.jsp"/>
	</bean>
	<bean id="/GetTopSearchMissTotal" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/catalog/restricted/GetTopSearchMissTotal.jsp"/>
	</bean>
	<bean id="/GetSearchFilterProperties" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/search/restricted/GetSearchFilterProperties.jsp"/>
	</bean>
	<bean id="/GetSearchSortColumns" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/search/restricted/GetSearchSortColumns.jsp"/>
	</bean>
	<bean id="/GetSearchRankProperties" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/search/restricted/GetSearchRankProperties.jsp"/>
	</bean>
	<bean id="/GetSearchRuleFacetProperties" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/search/restricted/GetSearchRuleFacetProperties.jsp"/>
	</bean>
	<bean id="/GetSearchFacetColumns" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/search/restricted/GetSearchFacetColumns.jsp"/>
	</bean>
	<bean id="/GetSearchFacetExclusionColumns" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/search/restricted/GetSearchFacetExclusionColumns.jsp"/>
	</bean>
	<bean id="/FindFacets" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/search/restricted/FindFacets.jsp"/>
	</bean>
	<bean id="/GetFacets" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/search/restricted/GetSearchFacetColumns.jsp"/>
	</bean>
</beans>
