<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2015 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
=================================================================
-->

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="/GetWorkspaceAccess" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/workspace/restricted/GetWorkspaceAccess.jsp"/>
	</bean>
	<bean id="/GetWorkspaces" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/workspace/restricted/GetWorkspaces.jsp"/>
	</bean>
	<bean id="/GetWorkspaceByTaskGroupId" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/workspace/restricted/GetWorkspaceByTaskGroupId.jsp"/>
	</bean>
	<bean id="/GetWorkspaceById" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/workspace/restricted/GetWorkspaceById.jsp"/>
	</bean>
	<bean id="/GetTaskGroupsByWorkspaceId" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/workspace/restricted/GetTaskGroupsByWorkspaceId.jsp"/>
	</bean>
	<bean id="/GetTaskGroupByTaskId" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/workspace/restricted/GetTaskGroupByTaskId.jsp"/>
	</bean>
	<bean id="/GetTaskGroup" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/workspace/restricted/GetTaskGroup.jsp"/>
	</bean>
	<bean id="/GetTaskGroupApprovers" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/workspace/restricted/GetTaskGroupApprovers.jsp"/>
	</bean>
	<bean id="/GetTasksByTaskGroupId" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/workspace/restricted/GetTasksByTaskGroupId.jsp"/>
	</bean>
	<bean id="/GetTask" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/workspace/restricted/GetTask.jsp"/>
	</bean>
	<bean id="/GetTasks" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/workspace/restricted/GetTasks.jsp"/>
	</bean>
	<bean id="/GetTaskContributors" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/workspace/restricted/GetTaskContributors.jsp"/>
	</bean>
	<bean id="/GetTaskGroupComments" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/workspace/restricted/GetTaskGroupComments.jsp"/>
	</bean>
	<bean id="/FindApprovers" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/workspace/restricted/FindApprovers.jsp"/>
	</bean>
	<bean id="/FindContributors" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/workspace/restricted/FindContributors.jsp"/>
	</bean>
	<bean id="/GetTaskGroupHistory" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/workspace/GetTaskGroupHistory.jsp"/>
	</bean>
	<bean id="/FindTasks" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/workspace/restricted/FindTasks.jsp"/>
	</bean>
	<bean id="/FindTaskGroups" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/workspace/restricted/FindTaskGroups.jsp"/>
	</bean>
	<bean id="/CreateTaskGroupComment" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="TaskGroup"/>
		<property name="verb" value="Change"/>
		<property name="documentRootFactory" value="com.ibm.commerce.content.facade.datatypes.ContentFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.content.facade.client.ContentFacadeClient"/>
		<property name="clientLibraryMethod" value="changeTaskGroup"/>
		<property name="actionCode" value="Add"/>
		<property name="var" value="taskGroups"/>
		<property name="successView" value="/jsp/commerce/workspace/restricted/RespondCreateTaskGroupComment.jsp"/>
	</bean>
	<bean id="/CreateTask" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="Task"/>
		<property name="verb" value="Process"/>
		<property name="documentRootFactory" value="com.ibm.commerce.content.facade.datatypes.ContentFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.content.facade.client.ContentFacadeClient"/>
		<property name="clientLibraryMethod" value="processTask"/>
		<property name="actionCode" value="Create"/>
		<property name="var" value="tasks"/>
		<property name="successView" value="/jsp/commerce/workspace/restricted/RespondCreateTask.jsp"/>
	</bean>
	<bean id="/UpdateTask" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="Task"/>
		<property name="verb" value="Change"/>
		<property name="documentRootFactory" value="com.ibm.commerce.content.facade.datatypes.ContentFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.content.facade.client.ContentFacadeClient"/>
		<property name="clientLibraryMethod" value="changeTask"/>
		<property name="actionCode" value="Change"/>
	</bean>
	<bean id="/CompleteTask" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="Task"/>
		<property name="verb" value="Process"/>
		<property name="documentRootFactory" value="com.ibm.commerce.content.facade.datatypes.ContentFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.content.facade.client.ContentFacadeClient"/>
		<property name="clientLibraryMethod" value="processTask"/>
		<property name="actionCode" value="Complete"/>
	</bean>
	<bean id="/RejectTask" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="Task"/>
		<property name="verb" value="Process"/>
		<property name="documentRootFactory" value="com.ibm.commerce.content.facade.datatypes.ContentFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.content.facade.client.ContentFacadeClient"/>
		<property name="clientLibraryMethod" value="processTask"/>
		<property name="actionCode" value="Reject"/>
	</bean>
	<bean id="/ReturnToActiveTask" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="Task"/>
		<property name="verb" value="Process"/>
		<property name="documentRootFactory" value="com.ibm.commerce.content.facade.datatypes.ContentFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.content.facade.client.ContentFacadeClient"/>
		<property name="clientLibraryMethod" value="processTask"/>
		<property name="actionCode" value="ReturnToActive"/>
		<property name="var" value="tasks"/>
	</bean>
	<bean id="/DeleteTask" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="Task"/>
		<property name="verb" value="Process"/>
		<property name="documentRootFactory" value="com.ibm.commerce.content.facade.datatypes.ContentFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.content.facade.client.ContentFacadeClient"/>
		<property name="clientLibraryMethod" value="processTask"/>
		<property name="actionCode" value="Delete"/>
	</bean>
	<bean id="/CreateTaskGroup" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="TaskGroup"/>
		<property name="verb" value="Process"/>
		<property name="documentRootFactory" value="com.ibm.commerce.content.facade.datatypes.ContentFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.content.facade.client.ContentFacadeClient"/>
		<property name="clientLibraryMethod" value="processTaskGroup"/>
		<property name="actionCode" value="Create"/>
		<property name="var" value="taskGroups"/>
		<property name="successView" value="/jsp/commerce/workspace/restricted/RespondCreateTaskGroup.jsp"/>
	</bean>
	<bean id="/UpdateTaskGroup" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="TaskGroup"/>
		<property name="verb" value="Change"/>
		<property name="documentRootFactory" value="com.ibm.commerce.content.facade.datatypes.ContentFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.content.facade.client.ContentFacadeClient"/>
		<property name="clientLibraryMethod" value="changeTaskGroup"/>
		<property name="actionCode" value="Change"/>
	</bean>
	<bean id="/ApproveTaskGroup" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="TaskGroup"/>
		<property name="verb" value="Process"/>
		<property name="documentRootFactory" value="com.ibm.commerce.content.facade.datatypes.ContentFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.content.facade.client.ContentFacadeClient"/>
		<property name="clientLibraryMethod" value="processTaskGroup"/>
		<property name="actionCode" value="Approve"/>
	</bean>
	<bean id="/RejectTaskGroup" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="TaskGroup"/>
		<property name="verb" value="Process"/>
		<property name="documentRootFactory" value="com.ibm.commerce.content.facade.datatypes.ContentFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.content.facade.client.ContentFacadeClient"/>
		<property name="clientLibraryMethod" value="processTaskGroup"/>
		<property name="actionCode" value="Reject"/>
	</bean>
	<bean id="/ActivateTaskGroup" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="TaskGroup"/>
		<property name="verb" value="Process"/>
		<property name="documentRootFactory" value="com.ibm.commerce.content.facade.datatypes.ContentFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.content.facade.client.ContentFacadeClient"/>
		<property name="clientLibraryMethod" value="processTaskGroup"/>
		<property name="actionCode" value="Activate"/>
		<property name="var" value="taskGroups"/>
		<property name="successView" value="/jsp/commerce/workspace/restricted/RespondActivateTaskGroup.jsp"/>
	</bean>
	<bean id="/ReturnToActiveTaskGroup" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="TaskGroup"/>
		<property name="verb" value="Process"/>
		<property name="documentRootFactory" value="com.ibm.commerce.content.facade.datatypes.ContentFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.content.facade.client.ContentFacadeClient"/>
		<property name="clientLibraryMethod" value="processTaskGroup"/>
		<property name="actionCode" value="ReturnToActive"/>
		<property name="var" value="taskGroups"/>
		<property name="successView" value="/jsp/commerce/workspace/restricted/RespondReturnToActiveTaskGroup.jsp"/>
	</bean>
	<bean id="/CancelTaskGroup" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="TaskGroup"/>
		<property name="verb" value="Process"/>
		<property name="documentRootFactory" value="com.ibm.commerce.content.facade.datatypes.ContentFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.content.facade.client.ContentFacadeClient"/>
		<property name="clientLibraryMethod" value="processTaskGroup"/>
		<property name="actionCode" value="Cancel"/>
		<property name="var" value="taskGroups"/>
		<property name="successView" value="/jsp/commerce/workspace/restricted/RespondCancelTaskGroup.jsp"/>
	</bean>
	<bean id="/DeleteTaskGroup" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="TaskGroup"/>
		<property name="verb" value="Process"/>
		<property name="documentRootFactory" value="com.ibm.commerce.content.facade.datatypes.ContentFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.content.facade.client.ContentFacadeClient"/>
		<property name="clientLibraryMethod" value="processTaskGroup"/>
		<property name="actionCode" value="Delete"/>
	</bean>
	<bean id="/CreateWorkspace" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="Workspace"/>
		<property name="verb" value="Process"/>
		<property name="documentRootFactory" value="com.ibm.commerce.content.facade.datatypes.ContentFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.content.facade.client.ContentFacadeClient"/>
		<property name="clientLibraryMethod" value="processWorkspace"/>
		<property name="actionCode" value="Create"/>
		<property name="var" value="workspaces"/>
		<property name="successView" value="/jsp/commerce/workspace/restricted/RespondCreateWorkspace.jsp"/>
	</bean>
	<bean id="/UpdateWorkspace" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="Workspace"/>
		<property name="verb" value="Change"/>
		<property name="documentRootFactory" value="com.ibm.commerce.content.facade.datatypes.ContentFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.content.facade.client.ContentFacadeClient"/>
		<property name="clientLibraryMethod" value="changeWorkspace"/>
		<property name="actionCode" value="Change"/>
	</bean>
	<bean id="/CancelWorkspace" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="Workspace"/>
		<property name="verb" value="Process"/>
		<property name="documentRootFactory" value="com.ibm.commerce.content.facade.datatypes.ContentFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.content.facade.client.ContentFacadeClient"/>
		<property name="clientLibraryMethod" value="processWorkspace"/>
		<property name="actionCode" value="Cancel"/>
		<property name="var" value="workspaces"/>
		<property name="successView" value="/jsp/commerce/workspace/restricted/RespondCancelWorkspace.jsp"/>
	</bean>
	<bean id="/DeleteWorkspace" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="Workspace"/>
		<property name="verb" value="Process"/>
		<property name="documentRootFactory" value="com.ibm.commerce.content.facade.datatypes.ContentFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.content.facade.client.ContentFacadeClient"/>
		<property name="clientLibraryMethod" value="processWorkspace"/>
		<property name="actionCode" value="Delete"/>
	</bean>
	<bean id="/DeleteTaskGroupHistory" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="TaskGroup"/>
		<property name="verb" value="Process"/>
		<property name="documentRootFactory" value="com.ibm.commerce.content.facade.datatypes.ContentFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.content.facade.client.ContentFacadeClient"/>
		<property name="clientLibraryMethod" value="processTaskGroup"/>
		<property name="actionCode" value="UndoChange"/>
		<property name="failureView" value="/jsp/commerce/workspace/restricted/HistoryFailed.jsp"/>
	</bean>
</beans>
