<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2015 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
-->

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!--
		To enable Single Sign On, uncomment the following Logon, Logout and ResolveIdentity controller configurations.
	-->
	<!--
		<bean id="/Logon" class="com.ibm.commerce.foundation.client.lobtools.controllers.AuthenticationClientLibraryController">
			<property name="urlObject" value="Person"/>
			<property name="contextParameters">
				<props>
					<prop key="channelId">channelId</prop>
				</props>
			</property>
			<property name="clientLibrary" value="com.ibm.commerce.member.facade.client.MemberFacadeClient"/>
			<property name="clientLibraryMethod" value="authenticatePassword"/>
			<property name="aliasParameters">
				<props>
					<prop key="password">logonPassword</prop>
				</props>
			</property>
			<property name="generateLTPAToken" value="true"/>
			<property name="successView" value="/jsp/commerce/shell/restricted/AuthenticationSuccess.jsp"/>
			<property name="failureView" value="/jsp/commerce/shell/restricted/AuthenticationFailed.jsp"/>
		</bean>
		<bean id="/Logout" class="com.ibm.commerce.foundation.client.lobtools.controllers.AuthenticationClientLibraryController">
			<property name="urlObject" value="Person"/>
			<property name="clientLibrary" value="com.ibm.commerce.member.facade.client.MemberFacadeClient"/>
			<property name="clientLibraryMethod" value="logout"/>
			<property name="removeLTPAToken" value="true"/>
			<property name="logout" value="true"/>
			<property name="successView" value="/jsp/commerce/foundation/restricted/Values.jsp"/>
			<property name="failureView" value="/jsp/commerce/shell/restricted/AuthenticationFailed.jsp"/>
		</bean>
		<bean id="/ResolveIdentity" class="com.ibm.commerce.foundation.client.lobtools.spring.AuthenticationClientLibraryController">
			<property name="urlObject" value="Person"/>
			<property name="contextParameters">
				<props>
					<prop key="channelId">channelId</prop>
				</props>
			</property>
			<property name="resolveIdentity" value="true"/>
			<property name="clientLibrary" value="com.ibm.commerce.member.facade.client.MemberFacadeClient"/>
			<property name="clientLibraryMethod" value="authenticateLTPA"/>
			<property name="successView" value="/jsp/commerce/shell/restricted/ResolveIdentitySuccess.jsp"/>
			<property name="failureView" value="/jsp/commerce/shell/restricted/ResolveIdentityFailed.jsp"/>
		</bean>
	-->
</beans>
