<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2015, 2016 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
-->

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="/SerializeStore" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/store/restricted/SerializeStore.jsp"/>
	</bean>
	<bean id="/SerializeStoreDescription" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/store/restricted/SerializeStoreDescription.jsp"/>
	</bean>
	<bean id="/SerializeStoreContact" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/store/restricted/SerializeStoreContact.jsp"/>
	</bean>
	<bean id="/RefreshStoreById" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/store/restricted/GetStoreById.jsp"/>
	</bean>
	<bean id="/GetStores" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/store/restricted/GetStores.jsp"/>
	</bean>
	<bean id="/GetStoreChildren-LanguageDescriptions" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/store/restricted/GetStoreChildren-LanguageDescriptions.jsp"/>
	</bean>
	<bean id="/GetStoreChildren-Flow" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/store/restricted/GetStoreChildren-Flow.jsp"/>
	</bean>
	<bean id="/GetStoreChildren-FileRefs" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/store/restricted/GetStoreChildren-FileRefs.jsp"/>
	</bean>
	<bean id="/GetStoreChildren-Currencies" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/store/restricted/GetStoreChildren-Currencies.jsp"/>
	</bean>
	<bean id="/GetStoreChildren-Languages" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/store/restricted/GetStoreChildren-Languages.jsp"/>
	</bean>
	<bean id="/GetStoreChildren-SupportedLanguages" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/store/restricted/GetStoreChildren-SupportedLanguages.jsp"/>
	</bean>
	<bean id="/GetStoreChildren-ContactInfo" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/store/restricted/GetStoreChildren-ContactInfo.jsp"/>
	</bean>
	<bean id="/GetStoreChildren-LocationInfo" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/store/restricted/GetStoreChildren-LocationInfo.jsp"/>
	</bean>
	<bean id="/GetStoreChildren-StaticPages" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/store/restricted/GetStoreChildren-StaticPages.jsp"/>
	</bean>
	<bean id="/GetStoreChildren-SEO" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/store/restricted/GetStoreChildren-SEO.jsp"/>
	</bean>
	<bean id="/FindStoresByName" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/store/restricted/FindStores.jsp"/>
	</bean>
	<bean id="/UpdateStoreChildren-ContactInfo" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="OnlineStoreContactInfo"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
			</props>
		</property>
		<property name="verb" value="Change"/>
		<property name="documentRootFactory" value="com.ibm.commerce.infrastructure.facade.datatypes.InfrastructureFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.infrastructure.facade.client.InfrastructureFacadeClient"/>
		<property name="clientLibraryMethod" value="changeOnlineStore"/>
		<property name="actionCode" value="Change"/>
	</bean>
	<bean id="/CreateStoreChildren-ContactInfo" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="OnlineStoreContactInfo"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
			</props>
		</property>
		<property name="verb" value="Change"/>
		<property name="documentRootFactory" value="com.ibm.commerce.infrastructure.facade.datatypes.InfrastructureFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.infrastructure.facade.client.InfrastructureFacadeClient"/>
		<property name="clientLibraryMethod" value="changeOnlineStore"/>
		<property name="actionCode" value="Add"/>
		<property name="var" value="info"/>
		<property name="successView" value="/jsp/commerce/store/restricted/RespondContactInfo.jsp"/>
	</bean>
	<bean id="/DeleteStoreChildren-ContactInfo" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="OnlineStoreContactInfo"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
			</props>
		</property>
		<property name="verb" value="Change"/>
		<property name="documentRootFactory" value="com.ibm.commerce.infrastructure.facade.datatypes.InfrastructureFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.infrastructure.facade.client.InfrastructureFacadeClient"/>
		<property name="clientLibraryMethod" value="changeOnlineStore"/>
		<property name="actionCode" value="Delete"/>
	</bean>
	<bean id="/UpdateStoreChildren-LocationInfo" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="OnlineStoreLocationInfo"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
			</props>
		</property>
		<property name="verb" value="Change"/>
		<property name="documentRootFactory" value="com.ibm.commerce.infrastructure.facade.datatypes.InfrastructureFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.infrastructure.facade.client.InfrastructureFacadeClient"/>
		<property name="clientLibraryMethod" value="changeOnlineStore"/>
		<property name="actionCode" value="Change"/>
	</bean>
	<bean id="/CreateStoreChildren-LocationInfo" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="OnlineStoreLocationInfo"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
			</props>
		</property>
		<property name="verb" value="Change"/>
		<property name="documentRootFactory" value="com.ibm.commerce.infrastructure.facade.datatypes.InfrastructureFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.infrastructure.facade.client.InfrastructureFacadeClient"/>
		<property name="clientLibraryMethod" value="changeOnlineStore"/>
		<property name="actionCode" value="Add"/>
		<property name="var" value="info"/>
		<property name="successView" value="/jsp/commerce/store/restricted/RespondLocationInfo.jsp"/>
	</bean>
	<bean id="/DeleteStoreChildren-LocationInfo" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="OnlineStoreLocationInfo"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
			</props>
		</property>
		<property name="verb" value="Change"/>
		<property name="documentRootFactory" value="com.ibm.commerce.infrastructure.facade.datatypes.InfrastructureFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.infrastructure.facade.client.InfrastructureFacadeClient"/>
		<property name="clientLibraryMethod" value="changeOnlineStore"/>
		<property name="actionCode" value="Delete"/>
	</bean>
	<bean id="/CreateStoreChildren-LanguageDescription" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="OnlineStoreDescription"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
			</props>
		</property>
		<property name="verb" value="Change"/>
		<property name="documentRootFactory" value="com.ibm.commerce.infrastructure.facade.datatypes.InfrastructureFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.infrastructure.facade.client.InfrastructureFacadeClient"/>
		<property name="clientLibraryMethod" value="changeOnlineStore"/>
		<property name="actionCode" value="Add"/>
	</bean>
	<bean id="/UpdateStoreChildren-LanguageDescription" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="OnlineStoreDescription"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
				<prop key="langId">langId</prop>
			</props>
		</property>
		<property name="verb" value="Change"/>
		<property name="documentRootFactory" value="com.ibm.commerce.infrastructure.facade.datatypes.InfrastructureFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.infrastructure.facade.client.InfrastructureFacadeClient"/>
		<property name="clientLibraryMethod" value="changeOnlineStore"/>
		<property name="actionCode" value="Change"/>
	</bean>
	<bean id="/CreateStoreChildren-DefaultCatalog" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="DefaultCatalog"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
			</props>
		</property>
		<property name="verb" value="Change"/>
		<property name="documentRootFactory" value="com.ibm.commerce.infrastructure.facade.datatypes.InfrastructureFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.infrastructure.facade.client.InfrastructureFacadeClient"/>
		<property name="clientLibraryMethod" value="changeOnlineStore"/>
		<property name="actionCode" value="Add"/>
		<property name="var" value="stores"/>
		<property name="successView" value="/jsp/commerce/store/restricted/RespondDefaultCatalog.jsp"/>
	</bean>
	<bean id="/UpdateStoreChildren-DefaultCatalog" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="DefaultCatalog"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
				<prop key="langId">langId</prop>
			</props>
		</property>
		<property name="verb" value="Change"/>
		<property name="documentRootFactory" value="com.ibm.commerce.infrastructure.facade.datatypes.InfrastructureFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.infrastructure.facade.client.InfrastructureFacadeClient"/>
		<property name="clientLibraryMethod" value="changeOnlineStore"/>
		<property name="actionCode" value="Change"/>
	</bean>
	<bean id="/DeleteStoreChildren-DefaultCatalog" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="DefaultCatalog"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
			</props>
		</property>
		<property name="verb" value="Change"/>
		<property name="documentRootFactory" value="com.ibm.commerce.infrastructure.facade.datatypes.InfrastructureFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.infrastructure.facade.client.InfrastructureFacadeClient"/>
		<property name="clientLibraryMethod" value="changeOnlineStore"/>
		<property name="actionCode" value="Delete"/>
	</bean>
	<bean id="/UpdateStore" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="OnlineStore"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
				<prop key="langId">langId</prop>
			</props>
		</property>
		<property name="verb" value="Change"/>
		<property name="documentRootFactory" value="com.ibm.commerce.infrastructure.facade.datatypes.InfrastructureFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.infrastructure.facade.client.InfrastructureFacadeClient"/>
		<property name="clientLibraryMethod" value="changeOnlineStore"/>
		<property name="actionCode" value="Change"/>
	</bean>
	<bean id="/OpenStore" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="OnlineStore"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
				<prop key="langId">langId</prop>
			</props>
		</property>
		<property name="verb" value="Process"/>
		<property name="documentRootFactory" value="com.ibm.commerce.infrastructure.facade.datatypes.InfrastructureFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.infrastructure.facade.client.InfrastructureFacadeClient"/>
		<property name="clientLibraryMethod" value="processOnlineStore"/>
		<property name="actionCode" value="Open"/>
		<property name="var" value="stores"/>
		<property name="successView" value="/jsp/commerce/store/restricted/RespondOpenCloseStore.jsp"/>
	</bean>
	<bean id="/CloseStore" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="OnlineStore"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
				<prop key="langId">langId</prop>
			</props>
		</property>
		<property name="verb" value="Process"/>
		<property name="documentRootFactory" value="com.ibm.commerce.infrastructure.facade.datatypes.InfrastructureFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.infrastructure.facade.client.InfrastructureFacadeClient"/>
		<property name="clientLibraryMethod" value="processOnlineStore"/>
		<property name="actionCode" value="Close"/>
		<property name="var" value="stores"/>
		<property name="successView" value="/jsp/commerce/store/restricted/RespondOpenCloseStore.jsp"/>
	</bean>
	<bean id="/CreateStoreChildren-StaticPages" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="SEOContentURLs"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
				<prop key="langId">langId</prop>
			</props>
		</property>
		<property name="verb" value="Change"/>
		<property name="documentRootFactory" value="com.ibm.commerce.infrastructure.facade.datatypes.InfrastructureFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.infrastructure.facade.client.InfrastructureFacadeClient"/>
		<property name="clientLibraryMethod" value="changeOnlineStore"/>
		<property name="actionCode" value="Change"/>
	</bean>
	<bean id="/UpdateStoreChildren-StaticPages" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="SEOContentURLs"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
				<prop key="langId">langId</prop>
			</props>
		</property>
		<property name="verb" value="Change"/>
		<property name="documentRootFactory" value="com.ibm.commerce.infrastructure.facade.datatypes.InfrastructureFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.infrastructure.facade.client.InfrastructureFacadeClient"/>
		<property name="clientLibraryMethod" value="changeOnlineStore"/>
		<property name="actionCode" value="Change"/>
	</bean>
	<bean id="/SaveChangeFlow" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="DefaultContent"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
				<prop key="langId">langId</prop>
			</props>
		</property>
		<property name="verb" value="Change"/>
		<property name="documentRootFactory" value="com.ibm.commerce.marketing.facade.datatypes.MarketingFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.infrastructure.facade.client.InfrastructureFacadeClient"/>
		<property name="clientLibraryMethod" value="changeFlow"/>
		<property name="actionCode" value="Change"/>
		<property name="var" value="marketingSpots"/>
	</bean>
</beans>
