<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2015, 2016 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
-->

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver"/>

	<bean id="/CMWSPreviewSetup" class="com.ibm.commerce.foundation.internal.client.lobtools.controllers.ControllerCommandController">
		<property name="commandInterface" value="com.ibm.commerce.content.preview.command.CMWSPreviewSetupCmd"/>
		<property name="defaultParameters">
			<props>
				<prop key="storeId">0</prop>
			</props>
		</property>
		<property name="redirect" value="true"/>
		<property name="successView" value=""/>
		<property name="errorView" value="/jsp/commerce/foundation/restricted/SessionError.jsp"/>
		<property name="failureView" value="/jsp/commerce/foundation/restricted/SessionError.jsp"/>
	</bean>
	<bean id="/AlertDialog" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/shell/restricted/AlertDialog.jsp"/>
	</bean>
	<bean id="/ManagementCenter" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/shell/restricted/ManagementCenter.jsp"/>
	</bean>
	<bean id="/ManagementCenterMain" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/shell/restricted/ManagementCenterMain.jsp"/>
	</bean>
	<bean id="/GetOnlineStores" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/shell/restricted/GetOnlineStores.jsp"/>
	</bean>
	<bean id="/GetOnlineStoreUsages" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/shell/restricted/GetOnlineStoreUsages.jsp"/>
	</bean>
	<bean id="/GetPreferences" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/shell/restricted/GetPreferences.jsp"/>
	</bean>
	<bean id="/GetStoreConfiguration" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/foundation/restricted/GetStoreConfiguration.jsp"/>
	</bean>
	<bean id="/FindStores" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/foundation/restricted/FindStores.jsp"/>
	</bean>
	<bean id="/GetStore" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/foundation/restricted/GetStore.jsp"/>
	</bean>
	<bean id="/GetStoreById" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/foundation/restricted/GetStoreById.jsp"/>
	</bean>
	<bean id="/GetStorePathStores" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/foundation/restricted/GetStorePathStores.jsp"/>
	</bean>
	<bean id="/GetTimeZone" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/foundation/restricted/GetTimeZone.jsp"/>
	</bean>
	<bean id="/GetTimeZonesDetail" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/foundation/restricted/GetTimeZonesDetail.jsp"/>
	</bean>
	<bean id="/InputTextDialog" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/foundation/restricted/InputTextDialog.jsp"/>
	</bean>
	<bean id="/PunchOutDialog" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/foundation/restricted/PunchOutDialog.jsp"/>
	</bean>
	<bean id="/SerializeCMSPunchOutURL" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/foundation/restricted/SerializeCMSPunchOutURL.jsp"/>
	</bean>
	<bean id="/SetCMSPunchOutReturnValue" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/foundation/restricted/SetCMSPunchOutReturnValue.jsp"/>
	</bean>
	<bean id="/GetTopFolders" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/foundation/restricted/GetTopFolders.jsp"/>
	</bean>
	<bean id="/GetChildFolders" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/foundation/restricted/GetChildFolders.jsp"/>
	</bean>
	<bean id="/GetFolderReferences" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/foundation/restricted/GetFolderReferences.jsp"/>
	</bean>
	<bean id="/GetParentFolder" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/foundation/restricted/GetParentFolder.jsp"/>
	</bean>
	<bean id="/GetFolderById" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/foundation/restricted/GetFolderById.jsp"/>
	</bean>
	<bean id="/CKEditor" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/foundation/restricted/CKEditor.jsp"/>
	</bean>
	<bean id="/Logon" class="com.ibm.commerce.foundation.client.lobtools.controllers.AuthenticationClientLibraryController">
		<property name="urlObject" value="Person"/>
		<property name="contextParameters">
			<props>
				<prop key="channelId">channelId</prop>
			</props>
		</property>
		<property name="clientLibrary" value="com.ibm.commerce.member.facade.client.MemberFacadeClient"/>
		<property name="clientLibraryMethod" value="authenticatePassword"/>
		<property name="aliasParameters">
			<props>
				<prop key="password">logonPassword</prop>
			</props>
		</property>
		<property name="successView" value="/jsp/commerce/shell/restricted/AuthenticationSuccess.jsp"/>
		<property name="failureView" value="/jsp/commerce/shell/restricted/AuthenticationFailed.jsp"/>
	</bean>
	<bean id="/ChangePassword" class="com.ibm.commerce.foundation.client.lobtools.controllers.AuthenticationClientLibraryController">
		<property name="urlObject" value="Person"/>
		<property name="clientLibrary" value="com.ibm.commerce.member.facade.client.MemberFacadeClient"/>
		<property name="clientLibraryMethod" value="resetPassword"/>
		<property name="successView" value="/jsp/commerce/foundation/restricted/Values.jsp"/>
		<property name="failureView" value="/jsp/commerce/shell/restricted/AuthenticationFailed.jsp"/>
	</bean>
	<bean id="/Logout" class="com.ibm.commerce.foundation.client.lobtools.controllers.AuthenticationClientLibraryController">
		<property name="urlObject" value="Person"/>
		<property name="clientLibrary" value="com.ibm.commerce.member.facade.client.MemberFacadeClient"/>
		<property name="clientLibraryMethod" value="logout"/>
		<property name="successView" value="/jsp/commerce/foundation/restricted/Values.jsp"/>
		<property name="failureView" value="/jsp/commerce/shell/restricted/AuthenticationFailed.jsp"/>
		<property name="logout" value="true"/>
	</bean>
	<bean id="/ResolveWCTokens" class="com.ibm.commerce.foundation.client.lobtools.controllers.AuthenticationClientLibraryController">
		<property name="urlObject" value="Person"/>
		<property name="contextParameters">
			<props>
				<prop key="channelId">channelId</prop>
			</props>
		</property>
		<property name="clientLibrary" value="com.ibm.commerce.member.facade.client.MemberFacadeClient"/>
		<property name="clientLibraryMethod" value="authenticateWCTokens"/>
		<property name="successView" value="/jsp/commerce/shell/restricted/ResolveIdentitySuccess.jsp"/>
		<property name="failureView" value="/jsp/commerce/shell/restricted/ResolveIdentityFailed.jsp"/>
	</bean>
	<bean id="/LogonWithIbmId" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/shell/restricted/LogonWithIbmId.jsp"/>
	</bean>
	<bean id="/ResolveIbmId" class="com.ibm.commerce.foundation.client.lobtools.controllers.AuthenticationClientLibraryController">
		<property name="urlObject" value="Person"/>
		<property name="contextParameters">
			<props>
				<prop key="channelId">channelId</prop>
			</props>
		</property>
		<property name="resolveIdentity" value="true"/>
		<property name="clientLibrary" value="com.ibm.commerce.member.facade.client.MemberFacadeClient"/>
		<property name="clientLibraryMethod" value="authenticateLTPA"/>
		<property name="successView" value="/jsp/commerce/shell/restricted/ResolveIdentitySuccess.jsp"/>
		<property name="failureView" value="/jsp/commerce/shell/restricted/AuthenticationFailed.jsp"/>
	</bean>
	<bean id="/LinkIbmId" class="com.ibm.commerce.foundation.client.lobtools.controllers.AuthenticationClientLibraryController">
		<property name="urlObject" value="Person"/>
		<property name="contextParameters">
			<props>
				<prop key="channelId">channelId</prop>
			</props>
		</property>
		<property name="linkIbmId" value="true"/>
		<property name="clientLibrary" value="com.ibm.commerce.member.facade.client.MemberFacadeClient"/>
		<property name="clientLibraryMethod" value="authenticatePassword"/>
		<property name="aliasParameters">
			<props>
				<prop key="password">logonPassword</prop>
			</props>
		</property>
		<property name="successView" value="/jsp/commerce/shell/restricted/AuthenticationSuccess.jsp"/>
		<property name="failureView" value="/jsp/commerce/shell/restricted/AuthenticationFailed.jsp"/>
	</bean>
	<bean id="/ResolveIdentity" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/foundation/restricted/Values.jsp"/>
	</bean>
	<bean id="/GetSSOToken" class="com.ibm.commerce.foundation.client.lobtools.controllers.GetSSOTokenController">
		<property name="failureView" value="/jsp/commerce/foundation/restricted/Errors.jsp"/>
		<property name="successView" value="/jsp/commerce/foundation/restricted/Values.jsp"/>
	</bean>
	<bean id="/GetAnalyticsSSOToken" class="com.ibm.commerce.foundation.client.lobtools.controllers.GetAnalyticsSSOTokenController">
		<property name="failureView" value="/jsp/commerce/foundation/restricted/Errors.jsp"/>
		<property name="successView" value="/jsp/commerce/foundation/restricted/Values.jsp"/>
	</bean>
	<bean id="/SavePreferences" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentClientLibraryController">
		<property name="urlObject" value="Person"/>
		<property name="clientLibrary" value="com.ibm.commerce.member.facade.client.MemberFacadeClient"/>
		<property name="clientLibraryMethod" value="updatePerson"/>
	</bean>
	<bean id="/LogMessages" class="com.ibm.commerce.foundation.client.lobtools.controllers.LogMessagesController">
		<property name="failureView" value="/jsp/commerce/foundation/restricted/Errors.jsp"/>
		<property name="successView" value="/jsp/commerce/foundation/restricted/Object.jsp"/>
	</bean>
	<bean id="/CKEditorSpellCheckService/*" class="com.ibm.commerce.foundation.client.lobtools.controllers.CKEditorSpellCheckController">
		<property name="failureView" value="/jsp/commerce/foundation/restricted/ErrorsJSON.jsp"/>
		<property name="successView" value="/jsp/commerce/foundation/restricted/CKEditorSpellCheck.jsp"/>
	</bean>
	<bean id="/GetMisspelledWords" class="com.ibm.commerce.foundation.client.lobtools.controllers.GetMisspelledWordsController">
		<property name="failureView" value="/jsp/commerce/foundation/restricted/Errors.jsp"/>
		<property name="successView" value="/jsp/commerce/foundation/restricted/GetMisspelledWords.jsp"/>
	</bean>
	<bean id="/GetMisspelledSuggestions" class="com.ibm.commerce.foundation.client.lobtools.controllers.GetMisspelledSuggestionsController">
		<property name="failureView" value="/jsp/commerce/foundation/restricted/Errors.jsp"/>
		<property name="successView" value="/jsp/commerce/foundation/restricted/GetMisspelledSuggestions.jsp"/>
	</bean>
	<bean id="/ProhibitedCharactersError" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/foundation/restricted/Failed.jsp"/>
	</bean>
	<bean id="/SerializeChangeControlMetaData" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/foundation/restricted/SerializeChangeControlMetaData.jsp"/>
	</bean>
	<bean id="/PingServer" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/foundation/restricted/PingServer.jsp"/>
	</bean>
	<bean id="/VisualModeler" class="com.ibm.commerce.foundation.client.lobtools.controllers.VisualModelerController">
		<property name="clientLibrary" value="com.ibm.commerce.catalog.facade.client.visualmodeler.VisualModelerCatalogFacadeClient"/>
		<property name="successView" value="/jsp/commerce/foundation/restricted/VisualModelerSuccess.jsp"/>
		<property name="failureView" value="/jsp/commerce/foundation/restricted/VisualModelerError.jsp"/>
	</bean>
	<bean id="/GetAccessRight" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/foundation/restricted/GetAccessRight.jsp"/>
	</bean>
	<bean id="/GetAccessRights" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/foundation/restricted/GetAccessRights.jsp"/>
	</bean>
	<bean id="/GetFeatureEnabled" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/foundation/restricted/GetFeatureEnabled.jsp"/>
	</bean>
	<bean id="/CreateFolder" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="Folder"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
			</props>
		</property>
		<property name="verb" value="Process"/>
		<property name="documentRootFactory" value="com.ibm.commerce.infrastructure.facade.datatypes.InfrastructureFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.infrastructure.facade.client.InfrastructureFacadeClient"/>
		<property name="clientLibraryMethod" value="processFolder"/>
		<property name="actionCode" value="Create"/>
		<property name="var" value="folder"/>
		<property name="successView" value="/jsp/commerce/foundation/restricted/RespondCreateFolder.jsp"/>
	</bean>
	<bean id="/UpdateFolder" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="Folder"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
			</props>
		</property>
		<property name="verb" value="Change"/>
		<property name="documentRootFactory" value="com.ibm.commerce.infrastructure.facade.datatypes.InfrastructureFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.infrastructure.facade.client.InfrastructureFacadeClient"/>
		<property name="clientLibraryMethod" value="changeFolder"/>
		<property name="actionCode" value="Change"/>
		<property name="var" value="folder"/>
		<property name="successView" value="/jsp/commerce/foundation/restricted/RespondCreateFolder.jsp"/>
	</bean>
	<bean id="/DeleteFolder" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="Folder"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
			</props>
		</property>
		<property name="verb" value="Process"/>
		<property name="documentRootFactory" value="com.ibm.commerce.infrastructure.facade.datatypes.InfrastructureFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.infrastructure.facade.client.InfrastructureFacadeClient"/>
		<property name="clientLibraryMethod" value="processFolder"/>
		<property name="actionCode" value="Delete"/>
	</bean>
	<bean id="/CreateFolderItemReference" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="FolderItem"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
			</props>
		</property>
		<property name="verb" value="Change"/>
		<property name="documentRootFactory" value="com.ibm.commerce.infrastructure.facade.datatypes.InfrastructureFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.infrastructure.facade.client.InfrastructureFacadeClient"/>
		<property name="clientLibraryMethod" value="changeFolder"/>
		<property name="actionCode" value="Add"/>
		<property name="var" value="folder"/>
		<property name="successView" value="/jsp/commerce/foundation/restricted/RespondCreateFolderItem.jsp"/>
	</bean>
	<bean id="/DeleteFolderItemReference" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="FolderItem"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
			</props>
		</property>
		<property name="verb" value="Change"/>
		<property name="documentRootFactory" value="com.ibm.commerce.infrastructure.facade.datatypes.InfrastructureFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.infrastructure.facade.client.InfrastructureFacadeClient"/>
		<property name="clientLibraryMethod" value="changeFolder"/>
		<property name="actionCode" value="Delete"/>
	</bean>
	<bean id="/EditBusinessObject" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/foundation/restricted/EditBusinessObject.jsp"/>
	</bean>
	<bean id="/CreateBusinessObject" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/foundation/restricted/CreateBusinessObject.jsp"/>
	</bean>
</beans>
