<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2015 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
=================================================================
-->

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="/FindPageLayoutTemplates" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/pagelayout/restricted/FindPageLayoutTemplates.jsp"/>
	</bean>
	<bean id="/FindStorePageLayouts" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/pagelayout/restricted/FindStorePageLayouts.jsp"/>
	</bean>
	<bean id="/GetPageLayoutByPage" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/pagelayout/restricted/GetPageLayoutByPage.jsp"/>
	</bean>
	<bean id="/GetPageLayouts" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/pagelayout/restricted/GetPageLayouts.jsp"/>
	</bean>
	<bean id="/GetPageLayoutWidgetDefinitions" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/pagelayout/restricted/GetPageLayoutWidgetDefinitions.jsp"/>
	</bean>
	<bean id="/GetPageLayoutById" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/pagelayout/restricted/GetPageLayoutById.jsp"/>
	</bean>
	<bean id="/GetPageLayoutTemplates" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/pagelayout/restricted/GetPageLayoutTemplates.jsp"/>
	</bean>
	<bean id="/GetPageLayoutLocations" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/pagelayout/restricted/GetPageLayoutLocations.jsp"/>
	</bean>
	<bean id="/GetPageLayoutPreviewUrl" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/pagelayout/restricted/GetPageLayoutPreviewUrl.jsp"/>
	</bean>
	<bean id="/PopulateNewLayout" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/pagelayout/restricted/PopulateNewLayout.jsp"/>
	</bean>
	<bean id="/SerializeLayoutWidget-EMarketingSpotWidget" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/pagelayout/restricted/serialize/SerializeLayoutWidget-EMarketingSpot.jsp"/>
	</bean>
	<bean id="/SerializeLayoutWidget-URLLinkWidget" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/pagelayout/restricted/serialize/SerializeLayoutWidgetURLLinks.jsp"/>
	</bean>
	<bean id="/SerializeLayoutWidget-ContentRecommendationWidget" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/pagelayout/restricted/serialize/SerializeLayoutWidget-ContentRecommendation.jsp"/>
	</bean>
	<bean id="/SerializeLayoutWidget-RotatingContentWidget" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/pagelayout/restricted/serialize/SerializeLayoutWidget-RotatingContent.jsp"/>
	</bean>
	<bean id="/SerializeLayoutWidget-ProductListingWidget" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/pagelayout/restricted/serialize/SerializeLayoutWidget-ProductListing.jsp"/>
	</bean>
	<bean id="/SerializeLayoutWidget-ProductRecommendationWidget" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/pagelayout/restricted/serialize/SerializeLayoutWidget-ProductRecommendation.jsp"/>
	</bean>
	<bean id="/SerializeLayoutWidget-IBMProductRecommendationsWidget" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/pagelayout/restricted/serialize/SerializeLayoutWidget-IBMProductRecommendations.jsp"/>
	</bean>
	<bean id="/SerializeLayoutWidget-CategoryRecommendationWidget" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/pagelayout/restricted/serialize/SerializeLayoutWidget-CategoryRecommendation.jsp"/>
	</bean>
	<bean id="/SerializeLayoutWidget-RichTextWidget" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/pagelayout/restricted/serialize/SerializeLayoutWidget-RichText.jsp"/>
	</bean>
	<bean id="/CreateLayout" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="Layout"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
			</props>
		</property>
		<property name="verb" value="Process"/>
		<property name="documentRootFactory" value="com.ibm.commerce.pagelayout.facade.datatypes.PageLayoutFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.pagelayout.facade.client.PageLayoutFacadeClient"/>
		<property name="clientLibraryMethod" value="processLayout"/>
		<property name="actionCode" value="Create"/>
	</bean>
	<bean id="/UpdateLayout" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="Layout"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
			</props>
		</property>
		<property name="verb" value="Change"/>
		<property name="documentRootFactory" value="com.ibm.commerce.pagelayout.facade.datatypes.PageLayoutFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.pagelayout.facade.client.PageLayoutFacadeClient"/>
		<property name="clientLibraryMethod" value="changeLayout"/>
		<property name="actionCode" value="Update"/>
	</bean>
	<bean id="/DeleteLayout" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="Layout"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
			</props>
		</property>
		<property name="verb" value="Process"/>
		<property name="documentRootFactory" value="com.ibm.commerce.pagelayout.facade.datatypes.PageLayoutFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.pagelayout.facade.client.PageLayoutFacadeClient"/>
		<property name="clientLibraryMethod" value="processLayout"/>
		<property name="actionCode" value="Delete"/>
	</bean>
	<bean id="/CreateLayoutLocation" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="PageLocation"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
			</props>
		</property>
		<property name="verb" value="Change"/>
		<property name="documentRootFactory" value="com.ibm.commerce.pagelayout.facade.datatypes.PageLayoutFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.pagelayout.facade.client.PageLayoutFacadeClient"/>
		<property name="clientLibraryMethod" value="changeLayout"/>
		<property name="actionCode" value="Add"/>
		<property name="var" value="layout"/>
		<property name="successView" value="/jsp/commerce/pagelayout/restricted/RespondCreateLayoutLocation.jsp"/>
	</bean>
	<bean id="/UpdateLayoutLocation" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="PageLocation"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
			</props>
		</property>
		<property name="verb" value="Change"/>
		<property name="documentRootFactory" value="com.ibm.commerce.pagelayout.facade.datatypes.PageLayoutFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.pagelayout.facade.client.PageLayoutFacadeClient"/>
		<property name="clientLibraryMethod" value="changeLayout"/>
		<property name="actionCode" value="Update"/>
	</bean>
	<bean id="/DeleteLayoutLocation" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="PageLocation"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
			</props>
		</property>
		<property name="verb" value="Change"/>
		<property name="documentRootFactory" value="com.ibm.commerce.pagelayout.facade.datatypes.PageLayoutFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.pagelayout.facade.client.PageLayoutFacadeClient"/>
		<property name="clientLibraryMethod" value="changeLayout"/>
		<property name="actionCode" value="Delete"/>
	</bean>
	<bean id="/CreateLayoutSlot" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="Slot"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
			</props>
		</property>
		<property name="verb" value="Change"/>
		<property name="documentRootFactory" value="com.ibm.commerce.pagelayout.facade.datatypes.PageLayoutFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.pagelayout.facade.client.PageLayoutFacadeClient"/>
		<property name="clientLibraryMethod" value="changeLayout"/>
		<property name="actionCode" value="Add"/>
	</bean>
	<bean id="/GetChildLayoutWidgets" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/pagelayout/restricted/GetChildLayoutWidgets.jsp"/>
	</bean>
	<bean id="/GetWidgetDefDisplayNames" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/pagelayout/restricted/GetWidgetDefDisplayNames.jsp"/>
	</bean>
	<bean id="/CreateLayoutWidget" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="Widget"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
			</props>
		</property>
		<property name="verb" value="Change"/>
		<property name="documentRootFactory" value="com.ibm.commerce.pagelayout.facade.datatypes.PageLayoutFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.pagelayout.facade.client.PageLayoutFacadeClient"/>
		<property name="clientLibraryMethod" value="changeLayout"/>
		<property name="actionCode" value="Add"/>
		<property name="var" value="layout"/>
		<property name="successView" value="/jsp/commerce/pagelayout/restricted/RespondCreateLayoutWidget.jsp"/>
	</bean>
	<bean id="/UpdateLayoutWidget" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="Widget"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
			</props>
		</property>
		<property name="verb" value="Change"/>
		<property name="documentRootFactory" value="com.ibm.commerce.pagelayout.facade.datatypes.PageLayoutFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.pagelayout.facade.client.PageLayoutFacadeClient"/>
		<property name="clientLibraryMethod" value="changeLayout"/>
		<property name="actionCode" value="Update"/>
		<property name="var" value="layout"/>
		<property name="successView" value="/jsp/commerce/pagelayout/restricted/RespondUpdateLayoutWidget.jsp"/>
	</bean>
	<bean id="/DeleteLayoutWidget" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="Widget"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
			</props>
		</property>
		<property name="verb" value="Change"/>
		<property name="documentRootFactory" value="com.ibm.commerce.pagelayout.facade.datatypes.PageLayoutFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.pagelayout.facade.client.PageLayoutFacadeClient"/>
		<property name="clientLibraryMethod" value="changeLayout"/>
		<property name="actionCode" value="Remove"/>
	</bean>
	<bean id="/CreateWidgetExtendedData" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="ExtendedData"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
			</props>
		</property>
		<property name="verb" value="Change"/>
		<property name="documentRootFactory" value="com.ibm.commerce.pagelayout.facade.datatypes.PageLayoutFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.pagelayout.facade.client.PageLayoutFacadeClient"/>
		<property name="clientLibraryMethod" value="changeLayout"/>
		<property name="actionCode" value="Add"/>
		<property name="var" value="layout"/>
		<property name="successView" value="/jsp/commerce/pagelayout/restricted/RespondCreateWidgetExtendedData.jsp"/>
	</bean>
	<bean id="/UpdateWidgetExtendedData" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="ExtendedData"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
			</props>
		</property>
		<property name="verb" value="Change"/>
		<property name="documentRootFactory" value="com.ibm.commerce.pagelayout.facade.datatypes.PageLayoutFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.pagelayout.facade.client.PageLayoutFacadeClient"/>
		<property name="clientLibraryMethod" value="changeLayout"/>
		<property name="actionCode" value="Change"/>
	</bean>
	<bean id="/DeleteWidgetExtendedData" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="ExtendedData"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
			</props>
		</property>
		<property name="verb" value="Change"/>
		<property name="documentRootFactory" value="com.ibm.commerce.pagelayout.facade.datatypes.PageLayoutFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.pagelayout.facade.client.PageLayoutFacadeClient"/>
		<property name="clientLibraryMethod" value="changeLayout"/>
		<property name="actionCode" value="Remove"/>
	</bean>
	<bean id="/FindContentPages" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/pagelayout/restricted/FindContentPages.jsp"/>
	</bean>
	<bean id="/GetContentPageById" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/pagelayout/restricted/GetContentPageById.jsp"/>
	</bean>
	<bean id="/GetContentPages" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/pagelayout/restricted/GetContentPages.jsp"/>
	</bean>
	<bean id="/GetContentPageSeoProperties" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/pagelayout/restricted/GetContentPageSeoProperties.jsp"/>
	</bean>
	<bean id="/GetContentPagePreviewUrl" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/pagelayout/restricted/GetContentPagePreviewUrl.jsp"/>
	</bean>
	<bean id="/DeleteContentPage" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="Page"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
			</props>
		</property>
		<property name="verb" value="Process"/>
		<property name="documentRootFactory" value="com.ibm.commerce.pagelayout.facade.datatypes.PageLayoutFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.pagelayout.facade.client.PageLayoutFacadeClient"/>
		<property name="clientLibraryMethod" value="processPage"/>
		<property name="actionCode" value="Delete"/>
	</bean>
	<bean id="/CreateContentPageSeoAttributes" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="ContentPageSEOProperties"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
			</props>
		</property>
		<property name="verb" value="Change"/>
		<property name="documentRootFactory" value="com.ibm.commerce.pagelayout.facade.datatypes.PageLayoutFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.pagelayout.facade.client.PageLayoutFacadeClient"/>
		<property name="clientLibraryMethod" value="changePage"/>
		<property name="actionCode" value="Add"/>
	</bean>
	<bean id="/CreateContentPageSeoURL" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="ContentPageSEOURL"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
			</props>
		</property>
		<property name="verb" value="Change"/>
		<property name="documentRootFactory" value="com.ibm.commerce.pagelayout.facade.datatypes.PageLayoutFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.pagelayout.facade.client.PageLayoutFacadeClient"/>
		<property name="clientLibraryMethod" value="changePage"/>
		<property name="actionCode" value="Add"/>
	</bean>
	<bean id="/UpdateContentPageSeoAttributes" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="ContentPageSEOProperties"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
			</props>
		</property>
		<property name="verb" value="Change"/>
		<property name="documentRootFactory" value="com.ibm.commerce.pagelayout.facade.datatypes.PageLayoutFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.pagelayout.facade.client.PageLayoutFacadeClient"/>
		<property name="clientLibraryMethod" value="changePage"/>
		<property name="actionCode" value="Change"/>
	</bean>
	<bean id="/UpdateContentPageSeoURL" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="ContentPageSEOURL"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
			</props>
		</property>
		<property name="verb" value="Change"/>
		<property name="documentRootFactory" value="com.ibm.commerce.pagelayout.facade.datatypes.PageLayoutFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.pagelayout.facade.client.PageLayoutFacadeClient"/>
		<property name="clientLibraryMethod" value="changePage"/>
		<property name="actionCode" value="Change"/>
	</bean>
	<bean id="/CreateContentPage" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="Page"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
			</props>
		</property>
		<property name="verb" value="Process"/>
		<property name="documentRootFactory" value="com.ibm.commerce.pagelayout.facade.datatypes.PageLayoutFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.pagelayout.facade.client.PageLayoutFacadeClient"/>
		<property name="clientLibraryMethod" value="processPage"/>
		<property name="actionCode" value="Create"/>
	</bean>
	<bean id="/UpdateContentPage" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="Page"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
			</props>
		</property>
		<property name="verb" value="Change"/>
		<property name="documentRootFactory" value="com.ibm.commerce.pagelayout.facade.datatypes.PageLayoutFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.pagelayout.facade.client.PageLayoutFacadeClient"/>
		<property name="clientLibraryMethod" value="changePage"/>
		<property name="actionCode" value="Change"/>
	</bean>
	<bean id="/FindLayoutCatalogs" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/pagelayout/restricted/FindLayoutCatalogs.jsp"/>
	</bean>
	<bean id="/FindCatalogEntryBrowsingPages" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/pagelayout/restricted/FindCatalogEntryPages.jsp"/>
	</bean>
	<bean id="/FindCategoryBrowsingPages" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/pagelayout/restricted/FindCategoryPages.jsp"/>
	</bean>
	<bean id="/GetPageLayoutMasterCatalog" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/pagelayout/restricted/GetLayoutMasterCatalog.jsp"/>
	</bean>
	<bean id="/GetPageLayoutCatalogChildren" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/pagelayout/restricted/GetLayoutCatalogChildren.jsp"/>
	</bean>
	<bean id="/GetChildCatalogGroupBrowsingPageForCatalogGroupBrowsingPage" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/pagelayout/restricted/GetChildCatalogGroupPageForCatalogGroupPage.jsp"/>
	</bean>
	<bean id="/GetChildCatalogEntryBrowsingPageForCatalogGroupBrowsingPage" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/pagelayout/restricted/GetChildCatalogEntryPageForCatalogGroupPage.jsp"/>
	</bean>
	<bean id="/GetCatalogGroupBrowsingPage" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/pagelayout/restricted/GetCatalogGroupPage.jsp"/>
	</bean>
	<bean id="/GetCatalogEntryBrowsingPage" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/pagelayout/restricted/GetCatalogEntryPage.jsp"/>
	</bean>
	<bean id="/GetProductSKUBrowsingPages" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/pagelayout/restricted/GetProductSKUPages.jsp"/>
	</bean>
	<bean id="/GetCatalogEntryBrowsingPagePreviewUrl" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/pagelayout/restricted/GetCatalogEntryPagePreviewUrl.jsp"/>
	</bean>
	<bean id="/GetCatalogGroupBrowsingPagePreviewUrl" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/pagelayout/restricted/GetCatalogGroupPagePreviewUrl.jsp"/>
	</bean>
	<bean id="/GetPageLayoutSalesCatalogs" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/pagelayout/restricted/GetLayoutSalesCatalogs.jsp"/>
	</bean>
	<bean id="/GetPageLayoutSalesCatalogChildren" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/pagelayout/restricted/GetLayoutSalesCatalogChildren.jsp"/>
	</bean>
	<bean id="/GetPageComposerFolderItems" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/pagelayout/restricted/GetPageComposerFolderItems.jsp"/>
	</bean>
	<bean id="/PopulateNewRotatingContentWidget" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/pagelayout/restricted/PopulateNewRotatingContentWidget.jsp"/>
	</bean>
</beans>
