<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2015 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
=================================================================
-->

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="/SerializePromotionElement-CatalogEntryAttributeRule" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/promotion/restricted/SerializeCatalogEntryAttributeRule.jsp"/>
	</bean>
	<bean id="/SerializePromotionElement-CatalogEntryExcludeAttributeRule" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/promotion/restricted/SerializeCatalogEntryAttributeRule.jsp"/>
	</bean>
	<bean id="/GetShippingModes" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/promotion/restricted/GetShippingModes.jsp"/>
	</bean>
	<bean id="/GetPaymentTypes" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/promotion/restricted/GetPaymentTypes.jsp"/>
	</bean>
	<bean id="/FindPromotions" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/promotion/restricted/FindPromotions.jsp"/>
	</bean>
	<bean id="/GetPromotions" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/promotion/restricted/FindAllPromotions.jsp"/>
	</bean>
	<bean id="/GetPromotion" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/promotion/restricted/GetPromotion.jsp"/>
	</bean>
	<bean id="/GetPromotionDescriptions" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/promotion/restricted/GetPromotionDescriptions.jsp"/>
	</bean>
	<bean id="/GetPromotionElements" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/promotion/restricted/GetPromotionElements.jsp"/>
	</bean>
	<bean id="/GetActivityReferences" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/promotion/restricted/GetActivityReferences.jsp"/>
	</bean>
	<bean id="/GetPromotionFolderItems" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/promotion/restricted/GetPromotionFolderItems.jsp"/>
	</bean>
	<bean id="/GetPromotionCodes" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/promotion/restricted/GetPromotionCodes.jsp"/>
	</bean>
	<bean id="/SerializePromotionElement-Identifier_CatalogEntry" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/promotion/restricted/SerializeIdentifierCatalogEntry.jsp"/>
	</bean>
	<bean id="/SerializePromotionElement-Identifier_InheritedCatalogEntry" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/promotion/restricted/SerializeIdentifierCatalogEntry.jsp"/>
	</bean>
	<bean id="/SerializePromotionElement-Identifier_ExcludeCatalogEntry" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/promotion/restricted/SerializeIdentifierCatalogEntry.jsp"/>
	</bean>
	<bean id="/SerializePromotionElement-Identifier_InheritedExcludeCatalogEntry" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/promotion/restricted/SerializeIdentifierCatalogEntry.jsp"/>
	</bean>
	<bean id="/SerializePromotionElement-Identifier_GiftCatalogEntry" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/promotion/restricted/SerializeIdentifierCatalogEntry.jsp"/>
	</bean>
	<bean id="/SerializePromotionElement-Identifier_InheritedGiftCatalogEntry" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/promotion/restricted/SerializeIdentifierCatalogEntry.jsp"/>
	</bean>
	<bean id="/SerializePromotionElement-Identifier_Category" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/promotion/restricted/SerializeIdentifierCategory.jsp"/>
	</bean>
	<bean id="/SerializePromotionElement-Identifier_InheritedCategory" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/promotion/restricted/SerializeIdentifierCategory.jsp"/>
	</bean>
	<bean id="/SerializePromotionElement-Identifier_MemberGroup" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/promotion/restricted/SerializeIdentifierMemberGroup.jsp"/>
	</bean>
	<bean id="/SerializePromotionElement-Identifier_InheritedMemberGroup" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/promotion/restricted/SerializeIdentifierMemberGroup.jsp"/>
	</bean>
	<bean id="/SerializePromotionElement-CategoryLevelBuyXGetYFreePurchaseCondition" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/promotion/restricted/SerializeGenericPromotionElement.jsp"/>
	</bean>
	<bean id="/SerializePromotionElement-CategoryLevelBuyXGetYPercentDiscountPurchaseCondition" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/promotion/restricted/SerializeGenericPromotionElement.jsp"/>
	</bean>
	<bean id="/SerializePromotionElement-CategoryLevelPercentDiscountPurchaseCondition" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/promotion/restricted/SerializeGenericPromotionElement.jsp"/>
	</bean>
	<bean id="/SerializePromotionElement-CategoryLevelPerItemPercentDiscountPurchaseCondition" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/promotion/restricted/SerializeGenericPromotionElement.jsp"/>
	</bean>
	<bean id="/SerializePromotionElement-CategoryLevelPerItemValueDiscountPurchaseCondition" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/promotion/restricted/SerializeGenericPromotionElement.jsp"/>
	</bean>
	<bean id="/SerializePromotionElement-CategoryLevelSameItemPercentDiscountPurchaseCondition" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/promotion/restricted/SerializeGenericPromotionElement.jsp"/>
	</bean>
	<bean id="/SerializePromotionElement-CategoryLevelValueDiscountPurchaseCondition" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/promotion/restricted/SerializeGenericPromotionElement.jsp"/>
	</bean>
	<bean id="/SerializePromotionElement-CategoryLevelFixedShippingDiscountPurchaseCondition" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/promotion/restricted/SerializeGenericPromotionElement.jsp"/>
	</bean>
	<bean id="/SerializePromotionElement-Identifier_PaymentType" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/promotion/restricted/SerializeGenericPromotionElement.jsp"/>
	</bean>
	<bean id="/SerializePromotionElement-Identifier_ShipMode" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/promotion/restricted/SerializeGenericPromotionElement.jsp"/>
	</bean>
	<bean id="/SerializePromotionElement-Identifier_ExportToExternalMarketingSystem" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/promotion/restricted/SerializeGenericPromotionElement.jsp"/>
	</bean>
	<bean id="/SerializePromotionElement-OrderLevelFixedAmountOffDiscountRange" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/promotion/restricted/SerializeGenericPromotionElement.jsp"/>
	</bean>
	<bean id="/SerializePromotionElement-OrderLevelFixedShippingDiscountPurchaseCondition" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/promotion/restricted/SerializeGenericPromotionElement.jsp"/>
	</bean>
	<bean id="/SerializePromotionElement-OrderLevelFixedAmountOffShippingDiscountPurchaseCondition" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/promotion/restricted/SerializeGenericPromotionElement.jsp"/>
	</bean>
	<bean id="/SerializePromotionElement-OrderLevelFreeGiftPurchaseCondition" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/promotion/restricted/SerializeGenericPromotionElement.jsp"/>
	</bean>
	<bean id="/SerializePromotionElement-OrderLevelPercentDiscountPurchaseCondition" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/promotion/restricted/SerializeGenericPromotionElement.jsp"/>
	</bean>
	<bean id="/SerializePromotionElement-OrderLevelPercentOffDiscountRange" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/promotion/restricted/SerializeGenericPromotionElement.jsp"/>
	</bean>
	<bean id="/SerializePromotionElement-OrderLevelValueDiscountPurchaseCondition" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/promotion/restricted/SerializeGenericPromotionElement.jsp"/>
	</bean>
	<bean id="/SerializePromotionElement-ProductLevelBuyXGetYFreePurchaseCondition" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/promotion/restricted/SerializeGenericPromotionElement.jsp"/>
	</bean>
	<bean id="/SerializePromotionElement-ProductLevelFixedAmountOffDiscountRange" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/promotion/restricted/SerializeGenericPromotionElement.jsp"/>
	</bean>
	<bean id="/SerializePromotionElement-ProductLevelPercentDiscountPurchaseCondition" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/promotion/restricted/SerializeGenericPromotionElement.jsp"/>
	</bean>
	<bean id="/SerializePromotionElement-ProductLevelPercentOffDiscountRange" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/promotion/restricted/SerializeGenericPromotionElement.jsp"/>
	</bean>
	<bean id="/SerializePromotionElement-ProductLevelPerItemPercentDiscountPurchaseCondition" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/promotion/restricted/SerializeGenericPromotionElement.jsp"/>
	</bean>
	<bean id="/SerializePromotionElement-ProductLevelPerItemValueDiscountPurchaseCondition" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/promotion/restricted/SerializeGenericPromotionElement.jsp"/>
	</bean>
	<bean id="/SerializePromotionElement-ProductLevelPWPPercentDiscountPurchaseCondition" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/promotion/restricted/SerializeGenericPromotionElement.jsp"/>
	</bean>
	<bean id="/SerializePromotionElement-ProductLevelSameItemPercentDiscountPurchaseCondition" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/promotion/restricted/SerializeGenericPromotionElement.jsp"/>
	</bean>
	<bean id="/SerializePromotionElement-ProductLevelValueDiscountPurchaseCondition" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/promotion/restricted/SerializeGenericPromotionElement.jsp"/>
	</bean>
	<bean id="/SerializePromotionElement-ProductLevelFixedShippingDiscountPurchaseCondition" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/promotion/restricted/SerializeGenericPromotionElement.jsp"/>
	</bean>
	<bean id="/SerializePromotionElement-ProductLevelPerItemFixedCostDiscountPurchaseCondition" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/promotion/restricted/SerializeGenericPromotionElement.jsp"/>
	</bean>
	<bean id="/SerializePromotionElement-ProductLevelFixedCostDiscountPurchaseCondition" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/promotion/restricted/SerializeGenericPromotionElement.jsp"/>
	</bean>
	<bean id="/SerializePromotionElement-MultipleItemsPercentDiscountPurchaseCondition" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/promotion/restricted/SerializeGenericPromotionElement.jsp"/>
	</bean>
	<bean id="/SerializePromotionElement-MultipleItemsGetYPercentDiscountPurchaseCondition" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/promotion/restricted/SerializeGenericPromotionElement.jsp"/>
	</bean>
	<bean id="/SerializePromotionElement-MultipleItemsGetYFixedAmountOffDiscountPurchaseCondition" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/promotion/restricted/SerializeGenericPromotionElement.jsp"/>
	</bean>
	<bean id="/SerializePromotionElement-Purchase" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/promotion/restricted/SerializeGenericPromotionElement.jsp"/>
	</bean>
	<bean id="/SerializePromotionElement-Reward" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/promotion/restricted/SerializeGenericPromotionElement.jsp"/>
	</bean>
	<bean id="/SerializePromotionElement-MultipleItemsPromotionElement" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/promotion/restricted/SerializeGenericPromotionElement.jsp"/>
	</bean>
	<bean id="/SerializePromotionElement-MultipleItemsRewardElement" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/promotion/restricted/SerializeGenericPromotionElement.jsp"/>
	</bean>
	<bean id="/SerializePromotionElement-TargetingCondition" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/promotion/restricted/SerializeGenericPromotionElement.jsp"/>
	</bean>
	<bean id="/SerializePromotionElement-CategoryLevelFixedCostDiscountPurchaseCondition" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/promotion/restricted/SerializeGenericPromotionElement.jsp"/>
	</bean>
	<bean id="/SerializePromotionElement-CategoryLevelPerItemFixedCostDiscountPurchaseCondition" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/promotion/restricted/SerializeGenericPromotionElement.jsp"/>
	</bean>
	<bean id="/SerializePromotionElement-ProductLevelFixedCostDiscountRange" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/promotion/restricted/SerializeGenericPromotionElement.jsp"/>
	</bean>
	<bean id="/CreatePromotion" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="Promotion"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
			</props>
		</property>
		<property name="verb" value="Process"/>
		<property name="documentRootFactory" value="com.ibm.commerce.promotion.facade.datatypes.PromotionFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.promotion.facade.client.PromotionFacadeClient"/>
		<property name="clientLibraryMethod" value="processPromotion"/>
		<property name="actionCode" value="Add"/>
		<property name="var" value="promotions"/>
		<property name="successView" value="/jsp/commerce/promotion/restricted/RespondCreatePromotion.jsp"/>
	</bean>
	<bean id="/SavePromotion" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="Promotion"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
			</props>
		</property>
		<property name="verb" value="Change"/>
		<property name="documentRootFactory" value="com.ibm.commerce.promotion.facade.datatypes.PromotionFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.promotion.facade.client.PromotionFacadeClient"/>
		<property name="clientLibraryMethod" value="changePromotion"/>
		<property name="actionCode" value="Change"/>
	</bean>
	<bean id="/DeletePromotion" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="Promotion"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
			</props>
		</property>
		<property name="verb" value="Process"/>
		<property name="documentRootFactory" value="com.ibm.commerce.promotion.facade.datatypes.PromotionFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.promotion.facade.client.PromotionFacadeClient"/>
		<property name="clientLibraryMethod" value="processPromotion"/>
		<property name="actionCode" value="Delete"/>
	</bean>
	<bean id="/ActivatePromotion" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="Promotion"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
			</props>
		</property>
		<property name="verb" value="Process"/>
		<property name="documentRootFactory" value="com.ibm.commerce.promotion.facade.datatypes.PromotionFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.promotion.facade.client.PromotionFacadeClient"/>
		<property name="clientLibraryMethod" value="processPromotion"/>
		<property name="actionCode" value="Activate"/>
		<property name="var" value="promotions"/>
		<property name="successView" value="/jsp/commerce/promotion/restricted/RespondActivatePromotion.jsp"/>
	</bean>
	<bean id="/DeactivatePromotion" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="Promotion"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
			</props>
		</property>
		<property name="verb" value="Process"/>
		<property name="documentRootFactory" value="com.ibm.commerce.promotion.facade.datatypes.PromotionFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.promotion.facade.client.PromotionFacadeClient"/>
		<property name="clientLibraryMethod" value="processPromotion"/>
		<property name="actionCode" value="Deactivate"/>
		<property name="var" value="promotions"/>
		<property name="successView" value="/jsp/commerce/promotion/restricted/RespondDeactivatePromotion.jsp"/>
	</bean>
	<bean id="/ArchivePromotion" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="Promotion"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
			</props>
		</property>
		<property name="verb" value="Process"/>
		<property name="documentRootFactory" value="com.ibm.commerce.promotion.facade.datatypes.PromotionFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.promotion.facade.client.PromotionFacadeClient"/>
		<property name="clientLibraryMethod" value="processPromotion"/>
		<property name="actionCode" value="Archive"/>
		<property name="var" value="promotions"/>
		<property name="successView" value="/jsp/commerce/promotion/restricted/RespondArchivePromotion.jsp"/>
	</bean>
	<bean id="/CreatePromotionDescription" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="PromotionDescription"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
				<prop key="languageId">languageId</prop>
				<prop key="promotionId">promotionId</prop>
			</props>
		</property>
		<property name="verb" value="Change"/>
		<property name="documentRootFactory" value="com.ibm.commerce.promotion.facade.datatypes.PromotionFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.promotion.facade.client.PromotionFacadeClient"/>
		<property name="clientLibraryMethod" value="changePromotion"/>
		<property name="actionCode" value="Add"/>
	</bean>
	<bean id="/SavePromotionDescription" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="PromotionDescription"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
				<prop key="languageId">languageId</prop>
				<prop key="promotionId">promotionId</prop>
			</props>
		</property>
		<property name="verb" value="Change"/>
		<property name="documentRootFactory" value="com.ibm.commerce.promotion.facade.datatypes.PromotionFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.promotion.facade.client.PromotionFacadeClient"/>
		<property name="clientLibraryMethod" value="changePromotion"/>
		<property name="actionCode" value="Change"/>
	</bean>
	<bean id="/CreatePromotionElement" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="PromotionElement"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
				<prop key="promotionId">promotionId</prop>
			</props>
		</property>
		<property name="verb" value="Change"/>
		<property name="documentRootFactory" value="com.ibm.commerce.promotion.facade.datatypes.PromotionFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.promotion.facade.client.PromotionFacadeClient"/>
		<property name="clientLibraryMethod" value="changePromotion"/>
		<property name="actionCode" value="Add"/>
		<property name="var" value="promotions"/>
		<property name="successView" value="/jsp/commerce/promotion/restricted/RespondCreatePromotionElement.jsp"/>
	</bean>
	<bean id="/SavePromotionElement" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="PromotionElement"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
				<prop key="promotionId">promotionId</prop>
			</props>
		</property>
		<property name="verb" value="Change"/>
		<property name="documentRootFactory" value="com.ibm.commerce.promotion.facade.datatypes.PromotionFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.promotion.facade.client.PromotionFacadeClient"/>
		<property name="clientLibraryMethod" value="changePromotion"/>
		<property name="actionCode" value="Change"/>
	</bean>
	<bean id="/DeletePromotionElement" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="PromotionElement"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
				<prop key="promotionId">promotionId</prop>
			</props>
		</property>
		<property name="verb" value="Change"/>
		<property name="documentRootFactory" value="com.ibm.commerce.promotion.facade.datatypes.PromotionFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.promotion.facade.client.PromotionFacadeClient"/>
		<property name="clientLibraryMethod" value="changePromotion"/>
		<property name="actionCode" value="Delete"/>
	</bean>
	<bean id="/CreatePromotionCodeImport" class="com.ibm.commerce.foundation.internal.client.lobtools.controllers.ControllerCommandController">
		<property name="commandInterface" value="com.ibm.commerce.promotion.commands.CreatePromotionCodeImportCmd"/>
		<property name="defaultParameters">
			<props>
				<prop key="URL">RespondCreatePromotionCodeImport.jsp</prop>
			</props>
		</property>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
			</props>
		</property>
		<property name="successView" value="/jsp/commerce/promotion/restricted/RespondCreatePromotionCodeImport.jsp"/>
	</bean>
	<bean id="/GetPromotionCodeImport" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/promotion/restricted/GetPromotionCodeImport.jsp"/>
	</bean>
	<bean id="/GetPromotionCodeImports" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/promotion/restricted/GetAllPromotionCodeImports.jsp"/>
	</bean>
	<bean id="/FindPromotionCodeImports" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/promotion/restricted/FindPromotionCodeImports.jsp"/>
	</bean>
	<bean id="/DeletePromotionCodeImport" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="PromotionCodeImport"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
			</props>
		</property>
		<property name="verb" value="Process"/>
		<property name="documentRootFactory" value="com.ibm.commerce.content.facade.datatypes.ContentFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.content.facade.client.ContentFacadeClient"/>
		<property name="clientLibraryMethod" value="processFileUploadJob"/>
		<property name="actionCode" value="Delete"/>
	</bean>
	<bean id="/CreatePromotionCodeExport" class="com.ibm.commerce.foundation.internal.client.lobtools.controllers.ControllerCommandController">
		<property name="commandInterface" value="com.ibm.commerce.promotion.commands.CreatePromotionCodeExportCmd"/>
		<property name="defaultParameters">
			<props>
				<prop key="URL">RespondCreatePromotionCodeExport.jsp</prop>
			</props>
		</property>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
			</props>
		</property>
		<property name="successView" value="/jsp/commerce/promotion/restricted/RespondCreatePromotionCodeExport.jsp"/>
	</bean>
	<bean id="/GetPromotionCodeExport" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/promotion/restricted/GetPromotionCodeExport.jsp"/>
	</bean>
	<bean id="/GetPromotionCodeExports" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/promotion/restricted/GetAllPromotionCodeExports.jsp"/>
	</bean>
	<bean id="/FindPromotionCodeExports" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/promotion/restricted/FindPromotionCodeExports.jsp"/>
	</bean>
	<bean id="/DeletePromotionCodeExport" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="PromotionCodeExport"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
			</props>
		</property>
		<property name="verb" value="Process"/>
		<property name="documentRootFactory" value="com.ibm.commerce.content.facade.datatypes.ContentFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.content.facade.client.ContentFacadeClient"/>
		<property name="clientLibraryMethod" value="processFileUploadJob"/>
		<property name="actionCode" value="Delete"/>
	</bean>
</beans>
