<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2015 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
-->

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="/GetVersionedCatalogGroup" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/catalog/restricted/GetVersionedCatalogGroup.jsp"/>
	</bean>
	<bean id="/GetVersionedSalesCatalogGroup" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/catalog/restricted/GetVersionedSalesCatalogGroup.jsp"/>
	</bean>
	<bean id="/GetVersionedSalesCatalog" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/catalog/restricted/GetVersionedSalesCatalog.jsp"/>
	</bean>
	<bean id="/GetVersionedProduct" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/catalog/restricted/GetVersionedCatalogEntry.jsp"/>
	</bean>
	<bean id="/GetVersionedProductSKU" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/catalog/restricted/GetVersionedCatalogEntry.jsp"/>
	</bean>
	<bean id="/GetVersionedCatalogGroupSKU" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/catalog/restricted/GetVersionedCatalogEntry.jsp"/>
	</bean>
	<bean id="/GetVersionedKit" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/catalog/restricted/GetVersionedCatalogEntry.jsp"/>
	</bean>
	<bean id="/GetVersionedPredefinedDKit" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/catalog/restricted/GetVersionedCatalogEntry.jsp"/>
	</bean>
	<bean id="/GetVersionedBundle" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/catalog/restricted/GetVersionedCatalogEntry.jsp"/>
	</bean>
	<bean id="/GetVersionedInheritedProduct" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/catalog/restricted/GetVersionedCatalogEntry.jsp"/>
	</bean>
	<bean id="/GetVersionedInheritedProductSKU" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/catalog/restricted/GetVersionedCatalogEntry.jsp"/>
	</bean>
	<bean id="/GetVersionedInheritedCatalogGroupSKU" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/catalog/restricted/GetVersionedCatalogEntry.jsp"/>
	</bean>
	<bean id="/GetVersionedInheritedKit" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/catalog/restricted/GetVersionedCatalogEntry.jsp"/>
	</bean>
	<bean id="/GetVersionedInheritedPredefinedDKit" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/catalog/restricted/GetVersionedCatalogEntry.jsp"/>
	</bean>
	<bean id="/GetVersionedInheritedBundle" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/catalog/restricted/GetVersionedCatalogEntry.jsp"/>
	</bean>
	<bean id="/GetContentVersions" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/foundation/restricted/GetContentVersionList.jsp"/>
	</bean>
	<bean id="/CreateContentVersion" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="ContentVersion"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
			</props>
		</property>
		<property name="verb" value="Process"/>
		<property name="documentRootFactory" value="com.ibm.commerce.content.facade.datatypes.ContentFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.content.facade.client.ContentFacadeClient"/>
		<property name="clientLibraryMethod" value="processContentVersion"/>
		<property name="actionCode" value="Create"/>
		<property name="var" value="contentVersions"/>
		<property name="successView" value="/jsp/commerce/foundation/restricted/RespondCreateContentVersion.jsp"/>
	</bean>
	<bean id="/RestoreContentVersion" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="ContentVersion"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
			</props>
		</property>
		<property name="verb" value="Process"/>
		<property name="documentRootFactory" value="com.ibm.commerce.content.facade.datatypes.ContentFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.content.facade.client.ContentFacadeClient"/>
		<property name="clientLibraryMethod" value="processContentVersion"/>
		<property name="actionCode" value="Restore"/>
		<property name="var" value="contentVersions"/>
		<property name="successView" value="/jsp/commerce/foundation/restricted/RespondRestoreContentVersion.jsp"/>
	</bean>
	<bean id="/DeleteContentVersion" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="ContentVersion"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
			</props>
		</property>
		<property name="verb" value="Process"/>
		<property name="documentRootFactory" value="com.ibm.commerce.content.facade.datatypes.ContentFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.content.facade.client.ContentFacadeClient"/>
		<property name="clientLibraryMethod" value="processContentVersion"/>
		<property name="actionCode" value="Delete"/>
	</bean>
	<bean id="/UpdateContentVersion" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="ContentVersion"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
			</props>
		</property>
		<property name="verb" value="Change"/>
		<property name="documentRootFactory" value="com.ibm.commerce.content.facade.datatypes.ContentFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.content.facade.client.ContentFacadeClient"/>
		<property name="clientLibraryMethod" value="changeContentVersion"/>
		<property name="actionCode" value="Change"/>
	</bean>
</beans>
