<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2015 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
-->

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentConfiguration" lazy-init="false">
		<property name="config" value="/WEB-INF/config/com.ibm.commerce.infrastructure/wc-infrastructure-clientobjects.xml,/WEB-INF/config/com.ibm.commerce.inventory/wc-inventory-clientobjects.xml,/WEB-INF/config/com.ibm.commerce.marketing/wc-marketing-clientobjects.xml,/WEB-INF/config/com.ibm.commerce.catalog/wc-catalog-clientobjects.xml,/WEB-INF/config/com.ibm.commerce.price/wc-price-clientobjects.xml,/WEB-INF/config/com.ibm.commerce.promotion/wc-promotion-clientobjects.xml,/WEB-INF/config/com.ibm.commerce.content/wc-content-clientobjects.xml,/WEB-INF/config/com.ibm.commerce.attachment/wc-attachment-clientobjects.xml,/WEB-INF/config/com.ibm.commerce.installment/wc-installment-clientobjects.xml,/WEB-INF/config/com.ibm.commerce.search/wc-search-clientobjects.xml,/WEB-INF/config/com.ibm.commerce.pagelayout/wc-pagelayout-clientobjects.xml" />
		<property name="primaryApplicationErrorResourceBundle" value="com.ibm.commerce.foundation.client.lobtools.properties.ApplicationError" />
		<property name="alternateApplicationErrorResourceBundle" value="extensions.com.ibm.commerce.foundation.client.lobtools.properties.ApplicationError" />
	</bean>
</beans>
