<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2015 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
=================================================================
-->

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="/CreateStorePageLayoutAssociation" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="LayoutAssociation"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
			</props>
		</property>
		<property name="verb" value="Change"/>
		<property name="documentRootFactory" value="com.ibm.commerce.infrastructure.facade.datatypes.InfrastructureFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.infrastructure.facade.client.InfrastructureFacadeClient"/>
		<property name="clientLibraryMethod" value="changeStorePage"/>
		<property name="actionCode" value="Add"/>
	</bean>
	<bean id="/UpdateStorePageLayoutAssociation" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="LayoutAssociation"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
			</props>
		</property>
		<property name="verb" value="Change"/>
		<property name="documentRootFactory" value="com.ibm.commerce.infrastructure.facade.datatypes.InfrastructureFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.infrastructure.facade.client.InfrastructureFacadeClient"/>
		<property name="clientLibraryMethod" value="changeStorePage"/>
		<property name="actionCode" value="Change"/>
	</bean>
	<bean id="/DeleteStorePageLayoutAssociation" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="LayoutAssociation"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
			</props>
		</property>
		<property name="verb" value="Change"/>
		<property name="documentRootFactory" value="com.ibm.commerce.infrastructure.facade.datatypes.InfrastructureFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.infrastructure.facade.client.InfrastructureFacadeClient"/>
		<property name="clientLibraryMethod" value="changeStorePage"/>
		<property name="actionCode" value="Delete"/>
	</bean>
	<bean id="/GetPageLayoutChildren" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/layout/restricted/GetPageLayoutChildren.jsp"/>
	</bean>
	<bean id="/FindPageLayouts" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/layout/restricted/FindPageLayouts.jsp"/>
	</bean>
	<bean id="/GetStaticStorePages" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/layout/restricted/GetStaticStorePages.jsp"/>
	</bean>
	<bean id="/GetStaticPage-PageLayoutAssociation" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/layout/restricted/GetStaticPage-PageLayoutAssociation.jsp"/>
	</bean>
	<bean id="/GetDefaultPageLayoutForCatalogPage" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/layout/restricted/GetDefaultPageLayoutForCatalogPage.jsp"/>
	</bean>
	<bean id="/GetDefaultPageLayoutForStaticPage" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/layout/restricted/GetDefaultPageLayoutForStaticPage.jsp"/>
	</bean>
	<bean id="/GetStaticPageSeoUrl" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/layout/restricted/GetStaticPageSeoUrl.jsp"/>
	</bean>
	<bean id="/GetCatalogGroupPage-PageLayoutAssociation" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/layout/restricted/GetCatalogGroupPage-PageLayoutAssociation.jsp"/>
	</bean>
	<bean id="/GetCatalogEntryPage-PageLayoutAssociation" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/layout/restricted/GetCatalogEntryPage-PageLayoutAssociation.jsp"/>
	</bean>
	<bean id="/GetCatalogGroupPage-CatalogEntryPageLayoutAssociation" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/layout/restricted/GetCatalogGroupPage-CatalogEntryPageLayoutAssociation.jsp"/>
	</bean>
	<bean id="/GetLayoutMasterCatalog" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/layout/restricted/GetLayoutMasterCatalog.jsp"/>
	</bean>
	<bean id="/GetLayoutCatalogChildren" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/layout/restricted/GetLayoutCatalogChildren.jsp"/>
	</bean>
	<bean id="/GetChildCatalogGroupPageForCatalogGroupPage" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/layout/restricted/GetChildCatalogGroupPageForCatalogGroupPage.jsp"/>
	</bean>
	<bean id="/GetChildCatalogEntryPageForCatalogGroupPage" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/layout/restricted/GetChildCatalogEntryPageForCatalogGroupPage.jsp"/>
	</bean>
	<bean id="/GetCatalogGroupPage" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/layout/restricted/GetCatalogGroupPage.jsp"/>
	</bean>
	<bean id="/GetCatalogEntryPage" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/layout/restricted/GetCatalogEntryPage.jsp"/>
	</bean>
	<bean id="/GetProductSKUPages" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/layout/restricted/GetProductSKUPages.jsp"/>
	</bean>
	<bean id="/GetCatalogEntryPageSeoUrl" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/layout/restricted/GetCatalogEntryPageSeoUrl.jsp"/>
	</bean>
	<bean id="/GetCatalogGroupPageSeoUrl" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/layout/restricted/GetCatalogGroupPageSeoUrl.jsp"/>
	</bean>
	<bean id="/FindAllLayoutCatalogs" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/layout/restricted/FindAllLayoutCatalogs.jsp"/>
	</bean>
	<bean id="/FindAllCatalogEntryPages" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/layout/restricted/FindAllCatalogEntryPages.jsp"/>
	</bean>
	<bean id="/FindAllCategoryPages" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/layout/restricted/FindAllCategoryPages.jsp"/>
	</bean>
	<bean id="/FindAllStaticStorePages" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/layout/restricted/FindAllStaticPages.jsp"/>
	</bean>
	<bean id="/FindCategoryPage" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/layout/restricted/FindCategoryPage.jsp"/>
	</bean>
	<bean id="/FindSalesCategoryPage" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/layout/restricted/FindSalesCategoryPage.jsp"/>
	</bean>
	<bean id="/FindCatalogEntryPage" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/layout/restricted/FindCatalogEntryPage.jsp"/>
	</bean>
	<bean id="/GetSalesCatalogGroupPageChildren-CatalogEntryPage" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/layout/restricted/GetSalesCatalogGroupPageChildren-CatalogEntryPage.jsp"/>
	</bean>
	<bean id="/GetSalesCatalogGroupPageChildren-SalesCatalogGroupPage" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/layout/restricted/GetSalesCatalogGroupPageChildren-SalesCatalogGroupPage.jsp"/>
	</bean>
	<bean id="/GetLayoutSalesCatalogs" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/layout/restricted/GetLayoutSalesCatalogs.jsp"/>
	</bean>
	<bean id="/GetSalesCatalogGroupPage" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/layout/restricted/GetSalesCatalogGroupPage.jsp"/>
	</bean>
	<bean id="/GetLayoutSalesCatalogChildren" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/layout/restricted/GetLayoutSalesCatalogChildren.jsp"/>
	</bean>
</beans>
