<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2015 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
=================================================================
-->

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="/GetAllInstallmentRules" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/installment/restricted/GetAllInstallmentRules.jsp"/>
	</bean>
	<bean id="/GetInstallmentRule" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/installment/restricted/GetInstallmentRuleById.jsp"/>
	</bean>
	<bean id="/GetInstallmentRuleChildren" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/installment/restricted/GetInstallmentRuleChildren.jsp"/>
	</bean>
	<bean id="/FindInstallmentRules" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="/jsp/commerce/installment/restricted/FindInstallmentRules.jsp"/>
	</bean>
	<bean id="/CreateInstallmentRule" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="InstallmentRule"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
				<prop key="langId">langId</prop>
			</props>
		</property>
		<property name="verb" value="Process"/>
		<property name="documentRootFactory" value="com.ibm.commerce.installment.facade.datatypes.InstallmentFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.installment.facade.client.InstallmentFacadeClient"/>
		<property name="clientLibraryMethod" value="processInstallmentRule"/>
		<property name="actionCode" value="Add"/>
		<property name="var" value="rules"/>
		<property name="successView" value="/jsp/commerce/installment/restricted/RespondCreateInstallmentRule.jsp"/>
	</bean>
	<bean id="/SaveInstallmentRule" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="InstallmentRule"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
				<prop key="langId">langId</prop>
			</props>
		</property>
		<property name="verb" value="Change"/>
		<property name="documentRootFactory" value="com.ibm.commerce.installment.facade.datatypes.InstallmentFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.installment.facade.client.InstallmentFacadeClient"/>
		<property name="clientLibraryMethod" value="changeInstallmentRule"/>
		<property name="actionCode" value="Change"/>
	</bean>
	<bean id="/DeleteInstallmentRule" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="InstallmentRule"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
				<prop key="langId">langId</prop>
			</props>
		</property>
		<property name="verb" value="Process"/>
		<property name="documentRootFactory" value="com.ibm.commerce.installment.facade.datatypes.InstallmentFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.installment.facade.client.InstallmentFacadeClient"/>
		<property name="clientLibraryMethod" value="processInstallmentRule"/>
		<property name="actionCode" value="Delete"/>
	</bean>
	<bean id="/ActivateInstallmentRule" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="InstallmentRule"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
				<prop key="langId">langId</prop>
			</props>
		</property>
		<property name="verb" value="Process"/>
		<property name="documentRootFactory" value="com.ibm.commerce.installment.facade.datatypes.InstallmentFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.installment.facade.client.InstallmentFacadeClient"/>
		<property name="clientLibraryMethod" value="processInstallmentRule"/>
		<property name="actionCode" value="Activate"/>
		<property name="var" value="rules"/>
		<property name="successView" value="/jsp/commerce/installment/restricted/RespondActivateDeactivateInstallmentRule.jsp"/>
	</bean>
	<bean id="/DeactivateInstallmentRule" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="InstallmentRule"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
				<prop key="langId">langId</prop>
			</props>
		</property>
		<property name="verb" value="Process"/>
		<property name="documentRootFactory" value="com.ibm.commerce.installment.facade.datatypes.InstallmentFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.installment.facade.client.InstallmentFacadeClient"/>
		<property name="clientLibraryMethod" value="processInstallmentRule"/>
		<property name="actionCode" value="Deactivate"/>
		<property name="var" value="rules"/>
		<property name="successView" value="/jsp/commerce/installment/restricted/RespondActivateDeactivateInstallmentRule.jsp"/>
	</bean>
	<bean id="/CreateInstallmentRuleCatalogEntryAssociation" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="CatalogEntryAssociation"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
				<prop key="langId">langId</prop>
			</props>
		</property>
		<property name="verb" value="Change"/>
		<property name="documentRootFactory" value="com.ibm.commerce.installment.facade.datatypes.InstallmentFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.installment.facade.client.InstallmentFacadeClient"/>
		<property name="clientLibraryMethod" value="changeInstallmentRule"/>
		<property name="actionCode" value="Add"/>
	</bean>
	<bean id="/DeleteInstallmentRuleCatalogEntryAssociation" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="CatalogEntryAssociation"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
				<prop key="langId">langId</prop>
			</props>
		</property>
		<property name="verb" value="Change"/>
		<property name="documentRootFactory" value="com.ibm.commerce.installment.facade.datatypes.InstallmentFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.installment.facade.client.InstallmentFacadeClient"/>
		<property name="clientLibraryMethod" value="changeInstallmentRule"/>
		<property name="actionCode" value="Delete"/>
	</bean>
	<bean id="/CreateInstallmentRuleCatalogGroupAssociation" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="CatalogGroupAssociation"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
				<prop key="langId">langId</prop>
			</props>
		</property>
		<property name="verb" value="Change"/>
		<property name="documentRootFactory" value="com.ibm.commerce.installment.facade.datatypes.InstallmentFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.installment.facade.client.InstallmentFacadeClient"/>
		<property name="clientLibraryMethod" value="changeInstallmentRule"/>
		<property name="actionCode" value="Add"/>
	</bean>
	<bean id="/DeleteInstallmentRuleCatalogGroupAssociation" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="CatalogGroupAssociation"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
				<prop key="langId">langId</prop>
			</props>
		</property>
		<property name="verb" value="Change"/>
		<property name="documentRootFactory" value="com.ibm.commerce.installment.facade.datatypes.InstallmentFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.installment.facade.client.InstallmentFacadeClient"/>
		<property name="clientLibraryMethod" value="changeInstallmentRule"/>
		<property name="actionCode" value="Delete"/>
	</bean>
	<bean id="/CreateInstallmentRulePaymentMethodAssociation" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="PaymentMethodAssociation"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
				<prop key="langId">langId</prop>
			</props>
		</property>
		<property name="verb" value="Change"/>
		<property name="documentRootFactory" value="com.ibm.commerce.installment.facade.datatypes.InstallmentFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.installment.facade.client.InstallmentFacadeClient"/>
		<property name="clientLibraryMethod" value="changeInstallmentRule"/>
		<property name="actionCode" value="Add"/>
	</bean>
	<bean id="/SaveInstallmentRulePaymentMethodAssociation" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="PaymentMethodAssociation"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
				<prop key="langId">langId</prop>
			</props>
		</property>
		<property name="verb" value="Change"/>
		<property name="documentRootFactory" value="com.ibm.commerce.installment.facade.datatypes.InstallmentFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.installment.facade.client.InstallmentFacadeClient"/>
		<property name="clientLibraryMethod" value="changeInstallmentRule"/>
		<property name="actionCode" value="Change"/>
	</bean>
	<bean id="/DeleteInstallmentRulePaymentMethodAssociation" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="PaymentMethodAssociation"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
				<prop key="langId">langId</prop>
			</props>
		</property>
		<property name="verb" value="Change"/>
		<property name="documentRootFactory" value="com.ibm.commerce.installment.facade.datatypes.InstallmentFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.installment.facade.client.InstallmentFacadeClient"/>
		<property name="clientLibraryMethod" value="changeInstallmentRule"/>
		<property name="actionCode" value="Delete"/>
	</bean>
	<bean id="/CreateInstallmentRuleCondition" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="Condition"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
				<prop key="langId">langId</prop>
			</props>
		</property>
		<property name="verb" value="Change"/>
		<property name="documentRootFactory" value="com.ibm.commerce.installment.facade.datatypes.InstallmentFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.installment.facade.client.InstallmentFacadeClient"/>
		<property name="clientLibraryMethod" value="changeInstallmentRule"/>
		<property name="actionCode" value="Add"/>
	</bean>
	<bean id="/SaveInstallmentRuleCondition" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="Condition"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
				<prop key="langId">langId</prop>
			</props>
		</property>
		<property name="verb" value="Change"/>
		<property name="documentRootFactory" value="com.ibm.commerce.installment.facade.datatypes.InstallmentFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.installment.facade.client.InstallmentFacadeClient"/>
		<property name="clientLibraryMethod" value="changeInstallmentRule"/>
		<property name="actionCode" value="Change"/>
	</bean>
	<bean id="/DeleteInstallmentRuleCondition" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="Condition"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
				<prop key="langId">langId</prop>
			</props>
		</property>
		<property name="verb" value="Change"/>
		<property name="documentRootFactory" value="com.ibm.commerce.installment.facade.datatypes.InstallmentFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.installment.facade.client.InstallmentFacadeClient"/>
		<property name="clientLibraryMethod" value="changeInstallmentRule"/>
		<property name="actionCode" value="Delete"/>
	</bean>
	<bean id="/CreateInstallmentOption" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="InstallmentOption"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
				<prop key="langId">langId</prop>
			</props>
		</property>
		<property name="verb" value="Change"/>
		<property name="documentRootFactory" value="com.ibm.commerce.installment.facade.datatypes.InstallmentFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.installment.facade.client.InstallmentFacadeClient"/>
		<property name="clientLibraryMethod" value="changeInstallmentRule"/>
		<property name="actionCode" value="Add"/>
	</bean>
	<bean id="/SaveInstallmentOption" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="InstallmentOption"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
				<prop key="langId">langId</prop>
			</props>
		</property>
		<property name="verb" value="Change"/>
		<property name="documentRootFactory" value="com.ibm.commerce.installment.facade.datatypes.InstallmentFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.installment.facade.client.InstallmentFacadeClient"/>
		<property name="clientLibraryMethod" value="changeInstallmentRule"/>
		<property name="actionCode" value="Change"/>
	</bean>
	<bean id="/DeleteInstallmentOption" class="com.ibm.commerce.foundation.client.facade.bod.servlet.spring.BusinessObjectDocumentController">
		<property name="urlObject" value="InstallmentOption"/>
		<property name="contextParameters">
			<props>
				<prop key="storeId">storeId</prop>
				<prop key="langId">langId</prop>
			</props>
		</property>
		<property name="verb" value="Change"/>
		<property name="documentRootFactory" value="com.ibm.commerce.installment.facade.datatypes.InstallmentFactory"/>
		<property name="clientLibrary" value="com.ibm.commerce.installment.facade.client.InstallmentFacadeClient"/>
		<property name="clientLibraryMethod" value="changeInstallmentRule"/>
		<property name="actionCode" value="Delete"/>
	</bean>
</beans>
