<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2015, 2016 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
-->

<web-app id="WebApp_ID" version="3.0"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	metadata-complete="true">
	<display-name>LOBTools</display-name>
	<servlet>
		<servlet-name>DispatcherServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring-ibm-foundation.xml,/WEB-INF/spring-ibm-tools.xml,/WEB-INF/spring-ibm-attachment.xml,/WEB-INF/spring-ibm-catalog.xml,/WEB-INF/spring-ibm-contentversion.xml,/WEB-INF/spring-ibm-installment.xml,/WEB-INF/spring-ibm-layout.xml,/WEB-INF/spring-ibm-marketing.xml,/WEB-INF/spring-ibm-pagelayout.xml,/WEB-INF/spring-ibm-price.xml,/WEB-INF/spring-ibm-promotion.xml,/WEB-INF/spring-ibm-search.xml,/WEB-INF/spring-ibm-store.xml,/WEB-INF/spring-ibm-workspace.xml,/WEB-INF/spring-ibm-content.xml,/WEB-INF/spring-extension.xml</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>DispatcherServlet</servlet-name>
		<url-pattern>cmc/*</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>500</error-code>
		<location>/jsp/commerce/foundation/restricted/Server500.jsp</location>
	</error-page>
	<servlet>
		<description></description>
		<display-name></display-name>
		<icon>
			<small-icon></small-icon>
			<large-icon></large-icon>
		</icon>
		<servlet-name>ImageServlet</servlet-name>
		<servlet-class>
			com.ibm.commerce.foundation.client.lobtools.servlet.ImageServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ImageServlet</servlet-name>
		<url-pattern>LoadImage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ModuleServlet</servlet-name>
		<servlet-class>
			com.ibm.commerce.foundation.client.lobtools.servlet.ModuleServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ModuleServlet</servlet-name>
		<url-pattern>dojo/cmc/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ImageFileServlet</servlet-name>
		<servlet-class>com.ibm.commerce.foundation.client.lobtools.servlet.ImageFileServlet</servlet-class>
		<init-param>
			<param-name>contentTypeMappings</param-name>
			<param-value>.png:image/png;.jpg:image/jpeg;.gif:image/gif;.swf:application/x-shockwave-flash</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ImageFileServlet</servlet-name>
		<url-pattern>images/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetResourceBundle</servlet-name>
		<servlet-class>com.ibm.commerce.foundation.client.lobtools.servlet.ResourceBundleServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetResourceBundle</servlet-name>
		<url-pattern>GetResourceBundle</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name></display-name>
		<servlet-name>ExportServlet</servlet-name>
		<servlet-class>com.ibm.commerce.content.export.ExportServlet</servlet-class>
		<init-param>
			<param-name>businessContext.intent</param-name>
			<param-value>Authoring</param-value>
		</init-param>		
	</servlet>
	<servlet-mapping>
		<servlet-name>ExportServlet</servlet-name>
		<url-pattern>cmc/ExportServlet</url-pattern>
	</servlet-mapping>
	<filter>
		<icon>
		</icon>
		<filter-name>IdentityTokenFilter</filter-name>
		<filter-class>
			com.ibm.commerce.foundation.client.lobtools.auth.IdentityTokenFilter</filter-class>
		<init-param>
			<param-name>decryptIdentityId</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>IdentityTokenFilter</filter-name>
		<servlet-name>DispatcherServlet</servlet-name>
		<servlet-name>ImageServlet</servlet-name>
		<servlet-name>ExportServlet</servlet-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<filter>
		<icon>
		</icon>
		<filter-name>SecurityFilter</filter-name>
		<filter-class>
			com.ibm.commerce.foundation.internal.client.lobtools.security.SecurityFilter</filter-class>
		<init-param>
			<param-name>com.ibm.commerce.security.crosssitescriptingprovider</param-name>
			<param-value>com.ibm.commerce.foundation.internal.client.security.impl.ClassicCommerceCrossSiteScriptingProviderImpl</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>SecurityFilter</filter-name>
		<servlet-name>DispatcherServlet</servlet-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<filter>
		<icon>
		</icon>
		<filter-name>TrimWhitespaceFilter</filter-name>
		<filter-class>
			com.ibm.commerce.foundation.internal.client.lobtools.servlet.TrimWhitespaceServletFilterImpl</filter-class>
		<init-param>
			<param-name>trimWhitespaceByDefault</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>TrimWhitespaceFilter</filter-name>
		<servlet-name>DispatcherServlet</servlet-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<filter>
		<icon>
		</icon>
		<filter-name>BusinessContextFilter</filter-name>
		<filter-class>
			com.ibm.commerce.foundation.client.facade.bod.servlet.BusinessContextFilter</filter-class>
		<init-param>
			<param-name>locale</param-name>
			<param-value>locale</param-value>
		</init-param>
		<init-param>
			<param-name>businessContext.intent</param-name>
			<param-value>Authoring</param-value>
		</init-param>
		<init-param>
			<param-name>workspaceName</param-name>
			<param-value>workspace.name</param-value>
		</init-param>
		<init-param>
			<param-name>workspaceTask</param-name>
			<param-value>workspace.task</param-value>
		</init-param>
		<init-param>
			<param-name>workspaceTaskGroup</param-name>
			<param-value>workspace.taskGroup</param-value>
		</init-param>
		<init-param>
			<param-name>timeZoneId</param-name>
			<param-value>timeZoneId</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>BusinessContextFilter</filter-name>
		<servlet-name>DispatcherServlet</servlet-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<security-role>
		<role-name>All</role-name>
	</security-role>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>LogonWithIbmId</web-resource-name>
			<url-pattern>/cmc/LogonWithIbmId</url-pattern>
			<http-method>GET</http-method>
			<http-method>PUT</http-method>
			<http-method>HEAD</http-method>
			<http-method>TRACE</http-method>
			<http-method>POST</http-method>
			<http-method>DELETE</http-method>
			<http-method>OPTIONS</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>All</role-name>
		</auth-constraint>
	</security-constraint>
</web-app>
