<?xml version="1.0" encoding="UTF-8"?>
<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2015 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
-->
<Definitions>
	<!---
		Add custom store level context values and init services to this definition.
	-->
	<BaseContext baseDefinition="cmc/foundation/RestrictedStoreContext" definitionName="cmc/foundation/StoreContext"/>

	<!---
		Add custom global context values and init services to this definition.
	-->
	<BaseContext baseDefinition="cmc/foundation/RestrictedGlobalContext" definitionName="cmc/foundation/GlobalContext"/>
</Definitions>