#store-locator h1 {
	font-size: 36px;
    font-family: GTWalsheimBold, arial;
    font-weight: bold;
    color: #333333;
	margin: 20px 0px 20px 0px;
}
#store-locator h2 {
	font-size:18px;
	color:#333;
	padding-bottom:10px;
}
#store-locator h3 {
	font-size:18px;
}
#store-locator .find-field {
	background:#EEE;
	padding:20px 18px 20px 20px;
	margin:0px 0px 0px 0px;
}
#store-locator .find-field p {
	padding-top: 35px;
}
#store-locator #address {
    padding: 12px 4%;
    border: 1px solid #999;
    width: 77%;
    border-right: 0px;
    float: left;
    height: 16px;
}
#store-locator .find-button {
    width: 13%;
    height: 40px;
    background: #FFF url(../images/responsive/searchSubmit.png) no-repeat 10px 11px;
    display: block;
    float: left;
    border: 1px solid #999;
    border-left: 0px;
} 
.closest {
	border-bottom:1px solid #CCC;
}
#store-locator .store-details {
	display:none;
}
#store-locator .store_name, #store-locator .store_timing, #store-locator .store_address, #store-locator .store_phone, #store-locator .store_Latitude, #store-locator .store_site_list {
	font-size:12px;
}
#store-locator .store_name, #store-locator .store_distance {
	font-weight:bold;
	font-size:14px;
	color:#444;
	display:block;
}
#store-locator .store_phone b {
	display:block;
	float:left;
	width:70px;
}
#store-locator .store_distance {
	width: 80px;
	cursor:pointer;
}
#store-locator .store_distance:before {
	content: url('../images/responsive/rwdUI.png');
    width: 14px;
    height: 14px;
    margin: 6px 0 0 6px;
    float: right;
    position: relative;
    overflow: hidden;
}
#store-locator .store_site_list {
	font-size:11px;
}
#store-locator #setMystore {
	display:block;
	padding:10px 0px;
	margin-top:15px;
	width:100%;
	text-align:center;
	background:#666;
	color:#FFF;
	box-shadow: 2px 2px 4px #999;
	cursor:pointer;
}
#store-locator #setMystoreSelected {
	display:block;
	padding:10px 0px;
	margin-top:15px;
	width:100%;
	text-align:center;
	background:#FFF url("../images/colors/color2/selected-icon.png") no-repeat 8px 8px;
	color:#333;
	font-size:14px;
	font-weight:bold;
	box-shadow: 2px 2px 4px #999;
	cursor:pointer;
	border: 1px solid #aaa;
}
#store-locator .seprator {
	border-top:1px dashed #999;
}
#store-locator .decativated tr.more ~ tr {
	display:none;
}
#store-locator .activated tr.more {
	display:none;
}
#store-locator #displayStoreName {
	font-weight: bold;
    font-size: 14px;
    color: #444;
}
#displayStoreAddress, #displayStoreCity, #displayStoreState, #displayStoreZipcode, #displayStoreContact, #displayStoreFax, #displayStoreEmail, #displayStoreHours {
	font-size:12px;
}
#displayStoreWebSite {
	font-size:11px;
}
#store-locator {
	
}
#store-locator {
	
}
#makeItMyStore {
	display: block;
    background: #888;
    color: #FFF;
    font-size: 14px;
    box-shadow: 2px 2px 8px #bbb;
    text-align: center;
    padding: 10px;
}
#store-locator .map {
	margin: -220px 0px 0px 20px;
}
#store-locator #map_canvas {
	width:100%;
	margin:0px 0px 0px 0px;
}
@media (max-width: 800px) {
	#store-locator .acol12 {
		width:100%;
	}
	#store-locator .map {
		margin: 0px 0px 20px 0px;
	}
	#store-locator #map_canvas {
		height:450px;
	}
	#store-locator .title-desc {
		margin:0px 5%;
		width:90%;
	}
	#store-locator .details-list {
		margin:0px 5%;
		width:90%;
	}
}
@media (max-width: 600px) {
	#store-locator #map_canvas {
		height:280px;
	}
}