<!-- TODO: (optional) Please fill in your own information -->
<!-- By default, assume each noun links to one table with 3 columns (ID, name and description) -->
<!-- For more info, please refer to WebSphere Commerce's Info-centre -->

BEGIN_SYMBOL_DEFINITIONS
	
	<!-- The table for noun INVENTORYAVAILABILITY  -->
		<!-- getting all columns in the table-->
		COLS:INVENTORYAVAILABILITY = INVENTORYAVAILABILITY:* 	
		<!-- getting uid column in the table-->
		COLS:INVENTORYAVAILABILITY_ID = INVENTORYAVAILABILITY:ID
		<!-- getting name column in the table-->
		COLS:INVENTORYAVAILABILITY_NAME = INVENTORYAVAILABILITY:NAME
		<!-- getting description column in the table-->
		COLS:INVENTORYAVAILABILITY_DESC = INVENTORYAVAILABILITY:DESCRIPTION
		
END_SYMBOL_DEFINITIONS



<!-- ================================================================================== -->
<!-- XPath: /InventoryAvailability/InventoryAvailabilityIdentifier[(UniqueID=)]					-->
<!-- AccessProfile:	IBM_All						-->
<!-- Get the all information for InventoryAvailability with specified uid 				-->
<!-- All access profile includes the attributes unique id, name and description 	-->
<!-- @param UniqueID  Unique id of InventoryAvailability to retrieve.				-->   
<!-- ================================================================================== -->

BEGIN_XPATH_TO_SQL_STATEMENT
	name=/InventoryAvailability/InventoryAvailabilityIdentifier[(UniqueID=)]+IBM_All
	base_table=INVENTORYAVAILABILITY
	sql=	
		SELECT 
	     				INVENTORYAVAILABILITY.$COLS:INVENTORYAVAILABILITY_ID$,  
	     				INVENTORYAVAILABILITY.$COLS:INVENTORYAVAILABILITY_NAME$,  
	     				INVENTORYAVAILABILITY.$COLS:INVENTORYAVAILABILITY_DESC$

	     	FROM
	     				INVENTORYAVAILABILITY
	     	WHERE
						INVENTORYAVAILABILITY.Id = ?UniqueID? 

END_XPATH_TO_SQL_STATEMENT


<!-- ================================================================================== -->
<!-- XPath: /InventoryAvailability/InventoryAvailabilityIdentifier[(UniqueID=)]					-->
<!-- AccessProfile:	IBM_Details						-->
<!-- Get the detail information for InventoryAvailability with specfified uid 			-->
<!-- Details access profile includes the attributes unique id and name 			-->
<!-- @param UniqueID  Unique id of InventoryAvailability to retrieve.				-->   
<!-- ================================================================================== -->

BEGIN_XPATH_TO_SQL_STATEMENT
	name=/InventoryAvailability/InventoryAvailabilityIdentifier[(UniqueID=)]+IBM_Details
	base_table=INVENTORYAVAILABILITY
	sql=	
		SELECT 
	     				INVENTORYAVAILABILITY.$COLS:INVENTORYAVAILABILITY_ID$,  
	     				INVENTORYAVAILABILITY.$COLS:INVENTORYAVAILABILITY_NAME$

	     	FROM
	     				INVENTORYAVAILABILITY
	     	WHERE
						INVENTORYAVAILABILITY.Id = ?UniqueID? 

END_XPATH_TO_SQL_STATEMENT

<!-- ================================================================================== -->
<!-- XPath: /InventoryAvailability/InventoryAvailabilityIdentifier[(UniqueID=)]					-->
<!-- AccessProfile:	IBM_Summary						-->
<!-- Get the summary information for InventoryAvailability with specified uid 			-->
<!-- Summary access profile includes the attribute unique id		 		-->
<!-- @param UniqueID  Unique id of InventoryAvailability to retrieve.				-->   
<!-- ================================================================================== -->

BEGIN_XPATH_TO_SQL_STATEMENT
	name=/InventoryAvailability/InventoryAvailabilityIdentifier[(UniqueID=)]+IBM_Summary
	base_table=INVENTORYAVAILABILITY
	sql=	
		SELECT 
	     				INVENTORYAVAILABILITY.$COLS:INVENTORYAVAILABILITY_ID$ 

	     	FROM
	     				INVENTORYAVAILABILITY
	     	WHERE
						INVENTORYAVAILABILITY.Id = ?UniqueID? 

END_XPATH_TO_SQL_STATEMENT


<!-- ================================================================================== -->
<!-- XPath: /InventoryAvailability/InventoryAvailabilityIdentifier/ExternalIdentifier[(Name=)]			-->
<!-- AccessProfile:	IBM_All						-->
<!-- Get the all information for InventoryAvailability with specfified external ID (name)		-->
<!-- All access profile includes the attributes unique id, name and description 	-->
<!-- @param Name  Name (External ID) of InventoryAvailability to retrieve				-->   
<!-- ================================================================================== -->

BEGIN_XPATH_TO_SQL_STATEMENT
	name=/InventoryAvailability/InventoryAvailabilityIdentifier/ExternalIdentifier[(Name=)]+IBM_All
	base_table=INVENTORYAVAILABILITY
	sql=	
		SELECT 
	     				INVENTORYAVAILABILITY.$COLS:INVENTORYAVAILABILITY_ID$,
	     				INVENTORYAVAILABILITY.$COLS:INVENTORYAVAILABILITY_NAME$,
	     				INVENTORYAVAILABILITY.$COLS:INVENTORYAVAILABILITY_DESC$

	     	FROM
	     				INVENTORYAVAILABILITY
	     	WHERE
						INVENTORYAVAILABILITY.NAME = ?Name?

END_XPATH_TO_SQL_STATEMENT



<!-- ================================================================================== -->
<!-- XPath: /InventoryAvailability/InventoryAvailabilityIdentifier/ExternalIdentifier[(Name=)]			-->
<!-- AccessProfile:	IBM_Details						-->
<!-- Get the detail information for InventoryAvailability with specfified external ID (name)		-->
<!-- Detail access profile includes the attributes unique id and name		 	-->
<!-- @param Name  Name (External ID) of InventoryAvailability to retrieve				--> 
<!-- ================================================================================== -->

BEGIN_XPATH_TO_SQL_STATEMENT
	name=/InventoryAvailability/InventoryAvailabilityIdentifier/ExternalIdentifier[(Name=)]+IBM_Details
	base_table=INVENTORYAVAILABILITY
	sql=	
		SELECT 
	     				INVENTORYAVAILABILITY.$COLS:INVENTORYAVAILABILITY_ID$,
	     				INVENTORYAVAILABILITY.$COLS:INVENTORYAVAILABILITY_NAME$

	     	FROM
	     				INVENTORYAVAILABILITY
	     	WHERE
						INVENTORYAVAILABILITY.NAME = ?Name?

END_XPATH_TO_SQL_STATEMENT


<!-- ================================================================================== -->
<!-- XPath: /InventoryAvailability/InventoryAvailabilityIdentifier/ExternalIdentifier[(Name=)]			-->
<!-- AccessProfile:	IBM_Summary						-->
<!-- Get the summary information for InventoryAvailability with specfified external ID (name)	-->
<!-- Summary access profile includes the attributes unique id, and name 	 	-->
<!-- @param Name  Name (External ID) of InventoryAvailability to retrieve				--> 
<!-- ================================================================================== -->

BEGIN_XPATH_TO_SQL_STATEMENT
	name=/InventoryAvailability/InventoryAvailabilityIdentifier/ExternalIdentifier[(Name=)]+IBM_Summary
	base_table=INVENTORYAVAILABILITY
	sql=	
		SELECT 
	     				INVENTORYAVAILABILITY.$COLS:INVENTORYAVAILABILITY_ID$,
	     				INVENTORYAVAILABILITY.$COLS:INVENTORYAVAILABILITY_NAME$

	     	FROM
	     				INVENTORYAVAILABILITY
	     	WHERE
						INVENTORYAVAILABILITY.NAME = ?Name?

END_XPATH_TO_SQL_STATEMENT


