/*
 *-----------------------------------------------------------------
 * Licensed Materials - Property of IBM
 *
 * WebSphere Commerce
 *
 * (C) Copyright IBM Corp. 2014 All Rights Reserved.
 *
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with
 * IBM Corp.
 *-----------------------------------------------------------------
 */
 
/* Screws Hero Banner 
   CSS styling 
 */
.Banner
{
	

	height: 331px;
	background-image: url("fasteners_hero_background.jpg");
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: -2;
	position: relative;
	overflow:hidden;
	border-radius: 5px;
	
}
#Screws
{
	left: 449px;
	top: 25px;
	position: absolute;
}
.textBlock {
	position: absolute;
	left: 50px;
	top: 62px;
}

#HighLightText 
{
	font-size:63px;
	color: #ea7211;
	position: relative;

}
#SubText
{
	font-size: 51px;
	font-weight: normal;
	position: relative;
	color: #222;
	top: -27px;

}
@media screen and (min-width: 1281px) {
		.Banner {
			
				height: 331px;
		}	
		
		
		
	}
@media screen and (max-width: 1280px) {
		.Banner
		{
			
			height: 160px;
		
		}
	
	

		#HighLightText {
			font-size: 27px;
			top:-4px;
		}
		
		#SubText {
		font-size: 26px;
		font-weight: normal;
		position: relative;
		color: #222;
		top: -15px;
		}
		#Screws {
			right: auto;
			left: 235px;
			top: 19px;
			width: 410px;
			position: absolute;

		}
		.textBlock {
			position: absolute;
			left: 20px;
			top: 28px;
		}
		
		.bannerContent
		{
			position: relative;
			width: 630px;
			height: 160px;
			left: 0px;
			right: 0px;
			margin: 0px auto;
		
		}
	
	}
	@media screen and (max-width: 952px) {

		.Banner
		{
			
		
		}
		#HighLightText {
			font-size: 27px;
		}
		
		#SubText {
		font-size: 26px;
		font-weight: normal;
		position: relative;
		color: #222;
		top: -15px;
		}
		#Screws {
			right: auto;
			left:235px;
			top: 19px;
			width: 410px;
			position: absolute;
		}
		.textBlock {
			position: absolute;
			left: 20px;
			top: 28px;
		}
	
	}
	

	
	
	@media screen and (max-width: 600px) {

		 .Banner
		{
		
		
		}
		
				#Screws {
			right: auto;
			left: 235px;
			top: 19px;
			width: 410px;
			position: absolute;
		}
		
		
	
	
	
	}
 
	
	