/*
 *-----------------------------------------------------------------
 * Licensed Materials - Property of IBM
 *
 * WebSphere Commerce
 *
 * (C) Copyright IBM Corp. 2011, 2013 All Rights Reserved.
 *
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with
 * IBM Corp.
 *-----------------------------------------------------------------
 */

/***********************************************************************/
/* 1) Base Styling                                                     */
/***********************************************************************/

/* Basic Reset */
form, fieldset, legend, img, p, h2, h3, h4, ul  {
	margin: 0; padding: 0; border: none;
}

html, body {
	height: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	line-height: 1.4em;
	margin: 0; padding: 0;
}

a, a:visited, .blue_highlight {
	text-decoration: none;
}

a:hover, .no_underline {
	text-decoration: none;
}

.single_button_container a:hover, .multi_button_container a:hover, .department_wrapper a:hover, .no_underline:hover {
	text-decoration: none;
}

/* Helps set the standard font size for headings */

h1 {
	font-size: 1.16em;
	font-weight: normal;
	margin: 0;
}

h2 {
	font-size: 14px;
	line-height: 16px;
}

h4{
	font-weight: normal;
}

ul {
	list-style-type: none;
}

.left { float: left; }

.right { float: right; }

.width50 { width: 50%; }

.width100 { width: 100%; }

.small_arrow {
	width: 7px;
	height: 8px;
	float: right;
	margin: 4px 0 0 3px;
}

/* Use for bold, to bold a price */
.bold, span.price {
	font-weight: bold;
	color: #585858;
}

span.listprice {
	font-weight: bold;
	text-decoration: line-through;
	color: #3B4453;
}

.small_text { font-size: 10px; }

/* Use this class to clear floating elements */
div.clear_float { clear: both; }

/* Use this class to reset relative positioning */
.relative { position: relative; }

/* Mainly used for when there is a floated element to the left */
.indented { padding-left: 25px; }

/* No display element */
.nodisplay { display: none; }

/*We'll be right back! Maintenance message*/
.maintenance { text-align: center; font-size: 20px; color: #A1A1A1;}
.maintenancemsg { text-align: center; font-size: 13px; color:#444;}

/*Unavailable message*/
.unavailable { text-align: center; font-size: 13px; font-weight: bold; color:#444;}
.unavailablemsg { text-align: center; font-size: 13px; color:#444;}

/***********************************************************************/
/* 2) Common Reusable UI Elements                                      */
/***********************************************************************/

/*Common Button Styles */
/* Common sizes */

.button_full {
	width: 100%;
	min-height: 31px;
	line-height: 29px;
}

.single_button_container .button_half {
	min-height: 31px;
	line-height: 29px;
	width: 150px;
}

.single_button_container .button_half_more {
	min-height: 31px;
	line-height: 29px;
	width: 220px;
}

.multi_button_container .button_half, .multi_button_container .input_half {
	min-height: 31px;
	line-height: 29px;
	min-width: 145px;
	width: 49.2%;
}

.multi_button_container .button_third {
	min-height: 50px;
	min-width: 80px;
	width: 32.3%;
}

.multi_button_container .button_third_slim {
	min-height: 28px;
	min-width: 80px;
	width: 32.3%;
}

/*This fixes the vertical centering button issue */
.vertical_fix {
	width: 100%;
	height: 45px;
	display: table-cell;
	vertical-align:middle;
}

.vertical_fix_slim {
	width: 100%;
	height: 28px;
	display: table-cell;
	vertical-align:middle;
}

/* Orange Button */
.primary_button {
	text-align: center;
	font-size: 9pt;
	margin-top: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

/* Blue Button */
.secondary_button, select.secondary_input {
	text-align: center;
	font-size: 9pt;
	margin-top: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

/* Grey Button */
.tertiary_button, #user_panel .secondary_button, .promo_button {
	text-align: center;
	font-size: 9pt;
	margin-top: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.promo_button {
	width: 48px;
	height: 23px;
	margin: 5px 0 0 5px;
	font-size: 8pt;
	font-family: Verdana;
	padding: 0 5px 2px 5px;
}

/*Center the text in the input button*/
input.primary_button, input.secondary_button, select.secondary_input {
	padding: 0 5px 2px 5px;
	height: 25px;
	font-size: 9pt;
	font-family: Verdana;
	float: left;
}

/*Center the text in the div button*/
div.primary_button, div.secondary_button, div.promo_button, div.button_wrapper {
	padding: 0 5px 0px 5px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

div.feature_button_wrapper {
	background: none;
	padding: 0 5px;
}
/*For text that will be aligned to a button*/
.button_align {
	line-height: 40px;
}

/*For text that will be aligned to an input field*/
.input_align {
	line-height: 19px;
	margin-top: 7px;
}

.button_spacing {
	width: 1.5%;
	height: 29px;
}
/*---------------------------------------------------------------------*/

/* Common Input Styles */
/* Common sizes */
.input_full_secondary {
	min-height: 31px;
	line-height: 29px;
	min-width: 145px;
	width: 100%;
}
.input_width_full {
	height: 34px;
	width: 100%;
}
.input_width_standard {width: 193px; }
.input_width_120 { width: 120px; }
.input_width_90 { width: 90px; }
.input_width_60 { width: 60px; }

/*For use with the promotion input */
.input_width_promo { width: 134px; }

select {
	font-family: inherit;
}

input.inputfield{
	height: 30px;
	margin-top: 5px;
	padding-left: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	box-sizing: border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
}

select.inputfield {
	-webkit-appearance:menulist;
	background: -webkit-gradient(linear, left top, left bottom, from(#FEFEFE), to(#CFCFCF));
	background: linear-gradient(#FEFEFE, #CFCFCF);
	min-height: 31px;
	margin-top: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.dropdown_container {
	height: 39px;
}

.dropdown_container select.secondary_button {
	-webkit-appearance:listbox;
	height: 30px;
}

/* For circumstances where the checkbox has to be left aligned */
.checkbox_container {
	position: absolute;
	top:0;
	left:0;
}

.relative label {
	margin-top: 2px;
}

.back_arrow_icon {
	width: 9px;
	height: 13px;
	position: absolute;
	top: 50%;
	margin-top: -6px;
	left: 8px;
}

.forward_arrow_icon {
	width: 9px;
	height: 13px;
	position: absolute;
	top: 50%;
	margin-top: -6px;
	right: 8px;
}

#wrapper {
	min-height: 100%;
	position: relative;
}

/* Override Aurora RWD styles to preseve mobile styling */
#wrapper span.product {
	padding: 0px;
}

#wrapper div#wishlist {
	padding: 10px 5px;
	position: relative;
	width: 100%;
	border-width: 1px 0 0 0;
	border-style: solid;
	border-color: #c6d0dc;
}

#wrapper div#billing_method {
	padding: 10px 5px;
}

#wrapper div#billing_method strong {
	font-weight: bold;
}

body > .mblScrollableView > .mblScrollableViewContainer {
	min-height: 100%;
}
body > .mblScrollableView > .mblScrollableViewContainer > #wrapper {
	position: static;
}

/* Set the page padding for whether the User control panel is Visible(Active) or Hidden(Inactive).
MUST Add one or the other to main wrapper div element as class */
/*
.ucp_active { padding-bottom: 110px; }
.ucp_inactive { padding-bottom: 110px; }
*/