/*
 *-----------------------------------------------------------------
 * Licensed Materials - Property of IBM
 *
 * WebSphere Commerce
 *
 * (C) Copyright IBM Corp. 2012, 2014 All Rights Reserved.
 *
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with
 * IBM Corp.
 *-----------------------------------------------------------------
 */

/* -----------------------------------------------------------------------------*/
/* STORE PREVIEW POPUP
/* -----------------------------------------------------------------------------*/

.store_preview_dialog_window {
	left: 50%;
	margin-left:-275px;
	position: fixed;
	top: 15%;
	z-index: 1000;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-color: #343434;
}
.store_preview_dialog_window div {
	/* Restore default value on mobile store*/
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

.sp_header_top {
	border-radius: 5px;
	-moz-border-radius: 5px;
	background-color: #5072CB;
	border: 1px solid #2f4789;
	-webkit-box-shadow: 0px 0px 5px 0px #2f4789;
	box-shadow: 0px 0px 5px 0px #2f4789;
}

.sp_header_top > .sp_header {
    color: #FFFFFF;
    height: 30px;
    margin-top: 10px;
    padding: 0px 10px;
    font-size: 16px;
    
}
	
.sp_header > a {
	height: 14px;
	width:12px;
	position:absolute;
	right:20px;
	top:10px;
}

.sp_header_top > .sp_whitespace_background {
	margin:0px 0px 8px 7px;
	padding:0;
	background-color: #FFF;  
	border: 1px solid #2f4789; 
	border-bottom: none;
}

.sp_whitespace_background > .sp_content_container {
	overflow: auto;
	padding: 18px;
	overflow-x: hidden;
	font-size: 11px;	
	margin-left: 0;
	color: #4D4D4D;
}

.sp_content_container > input[type=text] {
	width: 98%;
	background-color: #FFFFFF;
	border: 1px solid #808080;
	font-family: MS Shell Dlg;
	font-size: 13px;
}

.sp_content_container img {
	float:left;
	margin: 3px 3px 0px 0px;
}

a.sp_light_button {
	color: #27629C;
	cursor: pointer;
	display: -moz-inline-box;
	display: inline-block;
	height: 17px;
	padding: 2px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
}

a.sp_light_button  div.sp_button_text{
	background: url("../../../images/preview/b_main_bg.png") repeat-x scroll left top transparent;
	float: left;
	height: 17px;
	padding: 1px 2px 2px 9px;
	line-height: 17px;
	font-size: 11px;
}

a.sp_light_button div.sp_button_right {
	background: url("../../../images/preview/b_right.png") no-repeat scroll 0 0 transparent;
	float: left;
	height: 20px;
	width: 6px;
}			
	
/* -2- Generate URL */
#generateURL div, #generatedURLDialog div {
	text-align: left;
	direction: ltr;
}

.generateURLcontent {
	margin-top: 10px;
	font-size: 11px;
	color: #343434;
	line-height: 22.4px;
}

#sp_timeLimit, #sp_summary {
	border-bottom: 1px solid #c6cdd8;
}

#sp_summary {
	margin:0;
	padding-bottom: 10px;
	line-height: 1.4em;
}
	
#sp_summary a {
	color: #006ECC;
	font-size: 11px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
}
		
#sp_summary a:hover {
	text-decoration: underline;
}

.sp_passwordURLContainer {
	float:left;
	padding-left: 5px;
	font-size: 11px;
	margin: 0px 0px 10px 10px;
}

.sp_passwordURLContainer > .sp_checkbox {
	font-size: 11px;
	padding: 5px 5px 5px 0;
	float:left;
	margin: 3px 3px 3px 4px;
	border: none;
}
	
.sp_passwordURLContainer > .sp_checkbox input {
	float:left;
}

.sp_passwordURLContainer > .sp_checkbox span {
	font-size: 11px;
	float:left;
}
	
.sp_passwordURLContainer > .sp_password {
	padding: 0px 0px 0px 19px;
	font-size: 11px;
}

.sp_passwordURLContainer > .sp_password input {
	border: 1px solid #808080;
}

.sp_passwordURLContainer > label {
	float:left;
	text-align:left;
}

.generateURLcontent input[disabled] {
	background-color: #EBEBE4;
}

.generateURLcontent input {
	text-align: left;
	background-color: #FFFFFF;	
}

.sp_optionsContainer {
	background-color: #d6dfef;
	border-bottom: 1px solid #9aabcb;
	border-top: 1px solid #c2CAD7;
	height: 30px;
	padding-top:5px;
	padding-right: 2%;
	width: 98%;
}
		
.sp_optionsContainer > .sp_rightContainer {
	float:right;
}

#sp_cancelGenerateURL, #sp_confirmGenerateURL {
	float:left;
}

.generateURLcontent .sp_error {
	background: url("../../../images/preview/error.png") no-repeat scroll 0 0 transparent;
	width: 16px;
	height: 16px;
	float:left;
	margin-top: 3px;
}
	
.sp_red {
	color: #ea0000;
	font-size: 11px;
}

.sp_extendedHelpIcon {
    background: url("../../../images/preview/extended_help.png") no-repeat scroll 0 0 transparent;
	width: 16px;
	height: 16px;
	float:left;
	margin-top: 3px;
	padding-left: 5px;
}
	
.sp_timeLimitContainer {
	padding-left: 5px;
	margin-bottom: 15px;
	font-size: 11px;
}

.sp_timeLimitContainer > .sp_days {
	margin-left: 14px;
}

.sp_timeLimitContainer > .sp_hours,
.sp_timeLimitContainer > .sp_days	{
	margin-right: 5px;
	line-height:14px;
	float:left;
	font-size: 11px;
	width: 120px;	
}
		
.sp_timeLimitContainer > .sp_hours input,
.sp_timeLimitContainer > .sp_days input {
	margin-left: 0;
	margin-right: 5px;
	background-color: #FFFFFF;
	border: 1px solid #808080;
}

#generateURL .sp_errorMessageContainer {
	margin-left: 16px;
}

#enterPasswordDialog {
	line-height: 1.4em;	
}

#enterPasswordDialog input {
	border: 1px solid #808080;
}
#enterPasswordDialog .sp_error, .generateURLcontent .sp_error {
	background: url("../../../images/preview/error.png") no-repeat scroll 0 0 transparent;
	width: 16px;
	height: 16px;
	float: left;
	margin-top: 3px;
}	
#enterPasswordDialog .sp_red, .generateURLcontent .sp_red, .generatedURLcontent .sp_red {
	color: #ea0000;
	font-size: 11px;
	float: left;
}

@media screen and (max-height: 599px) {
	#generateURL,#generatedURLDialog,#LayoutInfo_popup_Layout,.editMode .espot_dialog_popup.dijitDialog{
		display: none;
	}
}
@media screen and (max-width: 599px) {
	#generateURL,#generatedURLDialog,#LayoutInfo_popup_Layout,.editMode .espot_dialog_popup.dijitDialog{
		display: none;
	}
}

.displayNone{
	display:none;
}

/* Preview mode tab */

.previewModeTab {
	height: 5px;
	width: 100%;
	background: url("../../../images/preview/PM_sideSPAN.png") repeat-x;
}
.previewModeTab > .pmt_button {
	position: absolute;
	left: 50%;
	top: 0;
	z-index: 500;
	width: 270px;
	height: 23px;
	margin-left: -135px;
}
.previewModeTab > .pmt_button > .pmt_left {
	position: absolute;
	left: -14px;
	top: 0;
	width: 14px;
	height: 23px;
	background: url("../../../images/preview/PM_LeftButton.png");
}
.previewModeTab > .pmt_button > .pmt_middle {
	display: block;
	background: url("../../../images/preview/PM_SpanMiddleButton.png") repeat-x;
	color: #FFF;
	cursor: pointer;
	font-family: Verdana, Arial;
	font-size: 13px;
	line-height: 23px;
	text-align: center;
}
.previewModeTab > .pmt_button:hover {
	text-decoration: underline;
}
.previewModeTab > .pmt_button > .pmt_right {
	position: absolute;
	right: -14px;
	top: 0;
	width: 14px;
	height: 23px;
	background: url("../../../images/preview/PM_RightButton.png") repeat-x;
}
.sp_bold {
	font: inherit;
	font-weight: bold;
}
.sp_light_button > .sp_button_text {
	background-position: 0 0;
}
.sp_light_button > .sp_button_right {
	background-position: 0 0;
}
.sp_light_button:hover > .sp_button_text {
	background-position: 0 -21px;
}
.sp_light_button:hover > .sp_button_right {
	background-position: -7px 0;
}
.sp_light_button:active > .sp_button_text {
	background-position: 0 -42px;
}
.sp_light_button:active > .sp_button_right {
	background-position: -14px 0;
}

/* Responsive dialogs */

#enterPasswordDialog,
#previewModeDialog {
	left: 0;
	width: 100%;
	margin: 0;
}
#enterPasswordDialog > .sp_header_top,
#previewModeDialog > .sp_header_top {
	position: relative;
	width: 500px;
	max-width: 90%;
	margin: auto;
}
#enterPasswordDialog > .sp_header_top > .sp_whitespace_background,
#previewModeDialog > .sp_header_top > .sp_whitespace_background {
	margin: 0 7px 8px 7px;
}
