/*
 *-----------------------------------------------------------------
 * Licensed Materials - Property of IBM
 *
 * WebSphere Commerce
 *
 * (C) Copyright IBM Corp. 2013 All Rights Reserved.
 *
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with
 * IBM Corp.
 *-----------------------------------------------------------------
 
*/
.ui-resizable-helper { border: 2px dotted #888; }
.ui-resizable-e {
    cursor: e-resize;
    width: 2px;
    right: -12px;
    top: 45%;
    height: 50px;
    border-width: 0 1px;
    border-style: solid;
    border-color: #fff;
	margin: auto;
}
.ui-resizable-handle {
    position: absolute;
    font-size: 0.1px;
    display: block;
    -ms-touch-action: none;
    touch-action: none;
}
.ui-resizable-s {
    cursor: s-resize;
    height: 2px;
    bottom: -12px;
    left: 45%;
	width: 50px;
	margin: auto;
	border-width:1px 0;
	border-style: solid;
	border-color: #fff;
}

.ui-resizable-se {
    cursor: se-resize;
}
html {
	height: 100%;
}
body {
	height: 100%;
	margin: 0;
	font-family: sans-serif;
	font-size: 10px;
}
body > #header {
	height: 75px;
}
body.showDetails > #header {
	height: 175px;
}
body > #content {
	position: absolute;
	left: 0;
	right: 0;
	top: 75px;
	bottom: 0;
	background-color: #eee;
	overflow: auto;
}
body.showDetails > #content {
	top: 175px;
}
#skin.fit {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#skin.landscape,
#skin.portrait {
	display: inline-block;
	margin: 50px;
	background-color: #ccc;
	border-radius: 10px;
	box-shadow: 0 5px 0 #888;
}
#skin.landscape {
	padding: 20px 40px;
}
#skin.portrait {
	padding: 40px 20px;
}
#previewFrameWrapper {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #fff;
}

#headerFrame,
#previewFrame {
	width: 100%;
	height: 100%;
	border: 0;
}
#hiddenFrame {
	position: absolute;
	left: 0;
	top: 0;
	width: 1px;
	height: 1px;
	visibility: hidden;
}
