/*
 *-----------------------------------------------------------------
 * Licensed Materials - Property of IBM
 *
 * WebSphere Commerce
 *
 * (C) Copyright IBM Corp. 2013 All Rights Reserved.
 *
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with
 * IBM Corp.
 *-----------------------------------------------------------------
 */

@import url("store_preview.css");

#enterPasswordDialog {
	text-align: right;
}

#passwordForm input {
	text-align: right;
}
.previewModeTab > .pmt_button {
	margin-right: 84px\9;
}
.previewModeTab > .pmt_button > .pmt_left {
	right: 314px;
}
.store_preview_dialog_window {
	margin-right: 280px\9;
}
.sp_errorMessageContainer {
	float: right;
}
.sp_header > a {
	right: 491px;
	left: 10px;
}
.sp_optionsContainer {
	padding-left: 2%;
	padding-right: 0%;
}
.sp_optionsContainer > .sp_rightContainer {
	float: left;
}
.sp_header_top > .sp_whitespace_background {
	margin:0px 7px 8px 0px;
}