<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- sample mapping file -->
<mappings>
<pathInfo_mappings separator="_">

<pathInfo_mapping name="Product"  requestName="ProductDisplay">	
		<parameter name="storeId" />     
		<parameter name="catalogId" />                        
		<parameter name="productId" />	
		<parameter name="langId" />	
		<parameter name="parent_category_rn" />
</pathInfo_mapping>
<pathInfo_mapping name="StoreCatalog" requestName="StoreCatalogDisplay" >	
		<parameter name="storeId" />	
		<parameter name="catalogId" />	                  
		<parameter name="langId" />	
</pathInfo_mapping>
<pathInfo_mapping name="TopCategories" requestName="TopCategoriesDisplay" >	
		<parameter name="storeId" />     
		<parameter name="catalogId" />	
</pathInfo_mapping>
<pathInfo_mapping  name="Category" requestName="CategoryDisplay" >	
		<parameter name="storeId" />     
		<parameter name="catalogId" />    
		<parameter name="categoryId" />                    
		<parameter name="langId" />
		<parameter name="parent_category_rn" />
</pathInfo_mapping>
<pathInfo_mapping  name="Category1" requestName="CategoryDisplay" >	
		<parameter name="storeId" />     
		<parameter name="catalogId" />    
        <parameter name="categoryId" />                    
		<parameter name="langId" />
		<parameter name="parent_category_rn" />
		<parameter name="top_category" />	
		<parameter name="pageView" />	
		<parameter name="beginIndex" />
</pathInfo_mapping>
<pathInfo_mapping  name="Category2" requestName="CategoryDisplay" >
		<parameter name="catalogIdentifier" />    
        <parameter name="identifier" />	
		<parameter name="storeId" />     
		<parameter name="langId" />
		<parameter name="top" />		
</pathInfo_mapping>
<pathInfo_mapping  name="Category3" requestName="CategoryDisplay" >	
		<parameter name="storeId" />     
		<parameter name="catalogId" />    
        <parameter name="categoryId" />                    
		<parameter name="langId" />
		<parameter name="top" />
		<parameter name="pageView" />	
		<parameter name="beginIndex" />
</pathInfo_mapping>
<pathInfo_mapping  name="Category4" requestName="CategoryDisplay" >	
		<parameter name="storeId" />     
		<parameter name="catalogId" />    
        <parameter name="categoryId" />                    
		<parameter name="langId" />
		<parameter name="parent_category_rn" />
		<parameter name="top_category" />		
		<parameter name="pageView" />	
		<parameter name="beginIndex" />
</pathInfo_mapping>
<pathInfo_mapping  name="Category5" requestName="CategoryDisplay" >	
		<parameter name="storeId" />     
		<parameter name="catalogId" />    
        <parameter name="categoryId" />                    
		<parameter name="langId" />
		<parameter name="top" />
		<parameter name="top_category" />
		<parameter name="pageView" />	
		<parameter name="beginIndex" />
</pathInfo_mapping>
<pathInfo_mapping  name="Category6" requestName="CategoryDisplay" >	
		<parameter name="storeId" />     
		<parameter name="catalogId" />    
        <parameter name="categoryId" />                    
		<parameter name="langId" />
		<parameter name="pageView" />	
		<parameter name="beginIndex" />
</pathInfo_mapping>
<pathInfo_mapping name="Product1"  requestName="ProductDisplay">	
		<parameter name="storeId" />     
		<parameter name="catalogId" />                        
		<parameter name="productId" />	
		<parameter name="langId" />	
</pathInfo_mapping>
<pathInfo_mapping name="Product2"  requestName="ProductDisplay">	
		<parameter name="storeId" />     
		<parameter name="catalogId" />                        
		<parameter name="productId" />	
		<parameter name="langId" />	
		<parameter name="categoryId"/>
		<parameter name="parent_category_rn"/>
		<parameter name="top_category"/>
		<parameter name="errorViewName"/>
</pathInfo_mapping>
<pathInfo_mapping  name="Product3" requestName="ProductDisplay" >	
		<parameter name="storeId" />     
		<parameter name="catalogId" />    
		<parameter name="categoryId" />                    
		<parameter name="langId" />
		<parameter name="parent_category_rn" />
		<parameter name="productId" />
</pathInfo_mapping>
<pathInfo_mapping name="TopCategories1" requestName="TopCategoriesDisplay" >	
		<parameter name="storeId" />     
		<parameter name="catalogId" />
		<parameter name="langId" />		
</pathInfo_mapping>
<pathInfo_mapping name="PrivacyPolicy" requestName="PrivacyView" >	
		<parameter name="storeId" />     
		<parameter name="catalogId" />
		<parameter name="langId" />		
		<parameter name="fromPage" />
</pathInfo_mapping>
<pathInfo_mapping name="Help" requestName="HelpContactUsView" >	
		<parameter name="storeId" />     
		<parameter name="catalogId" />
		<parameter name="langId" />		
</pathInfo_mapping>
<pathInfo_mapping name="SiteMap" requestName="SiteMapView" >	
		<parameter name="storeId" />     
		<parameter name="catalogId" />
		<parameter name="langId" />		
</pathInfo_mapping>

<!-- START Madisons Mobile SEO Urls -->
<pathInfo_mapping name="mIndex" requestName="mIndex" >	
	<parameter name="storeId" />     
	<parameter name="catalogId" />
	<parameter name="langId" />		
	<parameter name="currentPage" />		
</pathInfo_mapping>

<pathInfo_mapping name="mIndex1" requestName="mIndex" >	
	<parameter name="storeId" />     
	<parameter name="catalogId" />
</pathInfo_mapping>

<pathInfo_mapping name="mCategory1" requestName="mCategoriesDisplayView" >	
	<parameter name="storeId" />     
	<parameter name="catalogId" />
	<parameter name="langId" />		
	<parameter name="top" />		
	<parameter name="categoryId" />		
	<parameter name="top_category" />		
</pathInfo_mapping>

<pathInfo_mapping name="mCategory2" requestName="mCategoriesDisplayView" >	
	<parameter name="storeId" />     
	<parameter name="catalogId" />
	<parameter name="langId" />		
	<parameter name="categoryId" />		
	<parameter name="top_category" />		
	<parameter name="parent_category_rn" />		
</pathInfo_mapping>

<pathInfo_mapping name="mCategory3" requestName="mCategoriesDisplayView" >	
	<parameter name="storeId" />     
	<parameter name="catalogId" />
	<parameter name="langId" />		
	<parameter name="categoryId" />		
	<parameter name="top_category" />		
	<parameter name="parent_category_rn" />		
	<parameter name="currentPage" />		
	<parameter name="top" />		
</pathInfo_mapping>

<pathInfo_mapping name="mCategory4" requestName="mCategoriesDisplayView" >	
	<parameter name="storeId" />     
	<parameter name="catalogId" />
	<parameter name="langId" />		
	<parameter name="categoryId" />		
</pathInfo_mapping>

<pathInfo_mapping name="mProduct1" requestName="mProductDisplayView" >	
	<parameter name="storeId" />     
	<parameter name="catalogId" />
	<parameter name="langId" />		
	<parameter name="categoryId" />		
	<parameter name="productId" />		
	<parameter name="parent_category_rn" />		
	<parameter name="top_category" />		
	<parameter name="pgGrp" />		
	<parameter name="sequence" />
	<parameter name="selectedValues" />
</pathInfo_mapping>

<pathInfo_mapping name="mProduct2" requestName="mProductDisplayView" >	
	<parameter name="storeId" />     
	<parameter name="catalogId" />
	<parameter name="langId" />		
	<parameter name="categoryId" />		
	<parameter name="productId" />		
	<parameter name="pgGrp" />		
</pathInfo_mapping>

<pathInfo_mapping name="mProduct3" requestName="mProductDisplayView" >	
	<parameter name="storeId" />     
	<parameter name="catalogId" />
	<parameter name="langId" />		
	<parameter name="productId" />		
	<parameter name="pgGrp" />		
	<parameter name="resultCatEntryType" />		
	<parameter name="pageSize" />		
	<parameter name="searchTerm" />		
	<parameter name="beginIndex" />		
	<parameter name="sType" />		
</pathInfo_mapping>

<pathInfo_mapping name="mProduct4" requestName="mProductDisplayView" >	
	<parameter name="storeId" />     
	<parameter name="catalogId" />
	<parameter name="langId" />		
	<parameter name="productId" />		
	<parameter name="pgGrp" />		
</pathInfo_mapping>

<pathInfo_mapping name="mPrivacyPolicy" requestName="mPrivacyPolicy" >	
		<parameter name="storeId" />     
		<parameter name="catalogId" />
		<parameter name="langId" />		
</pathInfo_mapping>

<pathInfo_mapping name="mContactUs" requestName="mContactUs" >	
		<parameter name="storeId" />     
		<parameter name="catalogId" />
		<parameter name="langId" />		
</pathInfo_mapping>

<!-- END Madisons Mobile SEO Urls -->

</pathInfo_mappings>
</mappings>
