/*
 *-----------------------------------------------------------------
 * Licensed Materials - Property of IBM
 *
 * WebSphere Commerce
 *
 * (C) Copyright IBM Corp. 2014 All Rights Reserved.
 *
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with
 * IBM Corp.
 *-----------------------------------------------------------------
 */
 
/* Hardware Department Hero Banner 
   CSS styling 
 */

.Banner
{
	

	height: 331px;
	background-image: url("cat_hardware_herobanner_background.png");
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: -2;
	position: relative;
	overflow:hidden;
	border-radius: 5px;
	background-position-x: 50%;
	
}
.espot{
	height:150px;
	overflow:hidden;
}


#Lighting 
{
	position: absolute;
	right: 0px;
	width: 391px;
	top: -49px;


}

.textBlock 
{
	position: absolute;
	left: 393px;
	top: 134px;

}

#screwsRow 
{
	font-size: 63px;
	color: #ea7211;
	position: absolute;
	top: 178px;
}

#secondBlock
{
	position: absolute;
	top: 210px;
	right: 0px;

}


#singleBlock
{
	position: absolute;
	top: 105px;
	width: 84%;

}
.quality
{
	font-size: 44px;
	position: absolute;
	color: #ea7211;
	
}

.GreatPrices
{
		font-size: 42px;
		color:white;
		position: relative;
}

.textBlock
{
	display:none;
}

.espotNuts
{
	

	height: 150px;
	background-image: url("fasteners_hero_background.jpg");
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: -2;
	position: relative;
	overflow:hidden;
	border-radius: 5px;
	
}
.espotNuts #Bannercontent {
			left: 0px;
			right: 0px;
			position: relative;
			width: 274px;
			margin: 0px auto;
	}

		.espotNuts #Wrench {
			left: 249px;
			position: absolute;
			width: 139px;
			top: -49px;
}
		.espotNuts .textField {
				position: absolute;
				top: 67px;
				/* line-height: 12px; */
				left: 27px;
				width:300px;
}

		.textField #OrangeText {
		
			font-size: 27px;
			color:#ea7211;
		
			}
	
		.textField #subText {
			position: relative;
			top: -12px;
			font-size: 26px;
			font-weight: normal;
}
	
				
				#Tilenuts1 {
					position: absolute;
					left: -169px;
					top: -15px;
					width: 620px;
			
			}
			
			
			
.espotLighting
{
	background-image: url("fasteners_hero_background.jpg");
	background-position:center;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	letter-spacing: -2;
	position: relative;
	overflow:hidden;
	height: 150px;
}	

	.espotLighting #BannerContent {
				width: 320px;
				
				position: relative;
				height: 150px;
				left: 0px;
				right: 0px;
				margin: 0px auto;
			
		}
		
	.espotLighting #Bulbs {
		position: absolute;
		right: auto;
		width: 270px;
		top: -51px;
		left: -142px;
	}
	
	.espotLighting .textBlock {
		position: absolute;
		right: auto;
		top: 67px;
		left: 150px;
	}
	.espotLighting #LongLife
	{
		font-size: 27px;
		color:#ea7211;
		font-weight: bold;
	}
	.espotLighting .textBlock #bulbs {
		font-size: 26px;
		position: relative;
		top: -12px;
		
	}
	.espotLighting #scaleddown
	{
		position: absolute;
		width: 148px;
		left: 320px;
		top: 3px;
	}		

.espotLighting .textBlock  
{
	display:block;

}
@media screen and (min-width: 1281px) {
		.Banner {
			display: block;
				height: 331px;
					background-position: 53%;
		}	
		#BannerContent
		{
			width: 875px;
			position: relative;
			left: 0px;
			right: 0px;
			margin: 0px auto;
			height: 400px;
		
		}
		
		
	}
@media screen and (max-width: 1280px) {

		
		.Banner
		{
			
			height: 331px;
			background-position: 89%;
		}
		
				#secondBlock
		{
			display:none;

		}


		#singleBlock
		{
			display:none;

		}
		#screwsRow
		{
			display:none;
		}
	
			.textBlock 
		{
		
			position: absolute;
			right: 0px;
			left: 0px;
			margin: 0 auto;
			top: 202px;
			display: block;
			width: 474px;

		}
		
		#Lighting
		{
		position: absolute;
		right: 0px;
		left: -6px;
		width: 370px;
		margin: 0 auto;
		top: -49px;
		
		}
		
			.GreatPrices {
			
			top: 47px;	
		
		}

	
	}
	@media screen and (min-width:600px) and (max-width: 952px) {

		.Banner
		{
			height: 225px;
			background-position: 81%;
		
		}
		
		#Lighting {		
		right: 0px;
		left: -6px;
		width: 247px;	
		top: -30px;
	}
		
			.quality {
			font-size: 31px;
		}
		
		.GreatPrices {
			font-size: 30px;
			top: 34px;	
		
		}
		
		.textBlock {
		
			right: 0px;
			left: 0px;
			margin: 0 auto;
			top: 136px;			
			width: 320px;
			}
				
			
			.espotNuts #Bannercontent {
			left: 0px;
			right: 0px;
			position: relative;
			width: 274px;
			margin: 0px auto;
	}

		.espotNuts #Wrench {
			left: 179px;
			position: absolute;
			width: 139px;
			top: -49px;
}
		.espotNuts .textField {
				position: absolute;
				top: 92px;
				/* line-height: 12px; */
				left: 17px;
				width:300px;
}

		.textField #OrangeText {
		
			font-size: 20px;
			color:#ea7211;
		
			}
	
		.textField #subText {
			position: relative;
			top: -8px;
			font-size: 19px;
			font-weight: normal;
}
	
				
				#Tilenuts1 {
					position: absolute;
					left: -240px;
					top: -15px;
					width: 620px;
			
			}
			.espotLighting #Bulbs {
		position: absolute;
		right: auto;
		width: 172px;
		top: -12px;
		left: -105px;
	}
	
	.espotLighting .textBlock {
		position: absolute;
		right: auto;
		top: 92px;
		left: 72px;
	}
	.espotLighting #LongLife
	{
		font-size: 20px;
		color:#ea7211;
		font-weight: bold;
	}
	.espotLighting .textBlock #bulbs {
		font-size: 19px;
		position: relative;
		top: -8px;
		
	}
	.espotLighting #scaleddown
	{
		position: absolute;
		width: 120px;
		left: 190px;
		top: 15px;
	}

	}
	

	
	
	@media screen and (max-width: 600px) {

	
		.fullWidthOnMobile {
			width: 100% !important;
		}
	
		 .Banner
		{
				height: 160px;
				background-position: 79%;
		
		}
		.quality {
			font-size: 27px;
		}
		
		.GreatPrices {
			font-size: 26px;
			top: 27px;
			font-weight: normal;
			}
		.textBlock {
			right: 0px;
			left: 0px;
			margin: 0 auto;
			top: 88px;
			width: 300px;
		}
		
		
		
		#Lighting {
		right: 0px;
		left: -14px;
		width: 170px;
		top: -25px;
		}
		
	
		
		
		

	
	}
 
	
	