<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" metadata-complete="true" version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>
	SiteAdministration</display-name>
    <servlet>
        <description/>
        <display-name>Site Administration Request Servlet</display-name>
        <icon>
            <small-icon/>
            <large-icon/>
        </icon>
        <servlet-name>Site Administration Request Servlet</servlet-name>
        <servlet-class>com.ibm.commerce.struts.ECActionServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml,/WEB-INF/struts-config-migrate.xml,/WEB-INF/struts-config-ext.xml</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>validate</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>configFactory</param-name>
            <param-value>com.ibm.commerce.struts.config.UpdatableModuleConfigFactory</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Site Administration Request Servlet</servlet-name>
        <url-pattern>/servlet/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>CompositionRequestServlet</display-name>
        <icon>
            <small-icon/>
            <large-icon/>
        </icon>
        <servlet-name>CompositionRequestServlet</servlet-name>
        <servlet-class>com.ibm.commerce.messaging.composer.servlet.CompositionRequestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CompositionRequestServlet</servlet-name>
        <url-pattern>/IBM.WC.Compose/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.ibm.commerce.server.LoginServlet</servlet-class>
        <init-param>
            <param-name>redirectURL</param-name>
            <param-value>servlet/ToolsLogon?XMLFile=adminconsole.AdminConsoleLogon&amp;ibmid_login=successful</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LogonWithIbmId</url-pattern>
    </servlet-mapping>
    <security-role>
        <role-name>All</role-name>
        <description>LoginServlet</description>
    </security-role>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>LoginServlet</web-resource-name>
            <url-pattern>/LogonWithIbmId/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>PUT</http-method>
            <http-method>HEAD</http-method>
            <http-method>TRACE</http-method>
            <http-method>POST</http-method>
            <http-method>DELETE</http-method>
            <http-method>OPTIONS</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>All</role-name>
        </auth-constraint>
    </security-constraint>
    <filter>
        <icon/>
        <filter-name>RuntimeServletFilter</filter-name>
        <filter-class>com.ibm.commerce.webcontroller.RuntimeServletFilter</filter-class>
        <init-param>
            <param-name>ServletName</param-name>
            <param-value>SiteAdministration</param-value>
        </init-param>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>RuntimeServletFilter</filter-name>
        <servlet-name>Site Administration Request Servlet</servlet-name>
    </filter-mapping>
    <filter>
        <icon/>
        <filter-name>CompositionFilter</filter-name>
        <filter-class>com.ibm.commerce.messaging.composer.servlet.CompositionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CompositionFilter</filter-name>
        <servlet-name>CompositionRequestServlet</servlet-name>
    </filter-mapping>
</web-app>
